<div class="experienceItem relative">
  <small><%=	 team.init %> - <%	if team.end && team.end < Time.new %><%=    team.end %><% else%> Presente <%  end %></small>
  <h4>Team <%=	 team.name %></h4>
  <p></p>
  <a class="valid" data-placement="top" rel="tooltip" href="#" data-original-title="
certificate"></a>
  <%= link_to "Delete", team, method: :delete %>
  <%=	 form_for team do |f| %>
      <%=	 f.text_field :name %>
      <%=	 f.submit %>
  <%	 end %>
</div>