<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "profile" %>

<div class="container">

<div class="row">
  <div class="span12">
    <div class="page-title margin-10">
      <h3 class="inline">News</h3>
    </div>
  </div>
</div>

<div class="row relative">
<div class="span9">
<div class="post letsjock">
  <div class="letsjock-header">
    <%= link_to image_tag('letsjock-iso.png', :class => "img-rounded"), '#' %>
    <h5><%= link_to 'Let' + "'s" + ' Jock', '/profile/1' %> wants you to know</h5>
  </div><!--letsjock-header-->

  <div class="letsjock-content">
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag 'slide-01.jpg'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Title</h1>
              <p>description</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'slide-02.jpg'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Title</h1>
              <p>description</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'slide-03.jpg'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Title</h1>
              <p>description</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->
    <ul>
      <li>
        <div class="single-post">
          <a href="#">Let's Jock</a>
          <p>Lanzamiento oficial de Let's Jock! <b>Revisa nuestras noticias periódicamente</b> para saber más sobre las últimas actualizaciones,</p>
          <p><small>posted on March 27th</small></p>
        </div>
      </li>
      <li>
        <div class="single-post">
          <a href="#">Let's Jock</a>
          <p>Versión Beta en rodaje. <b>Inscríbete en letsjock.com y podrás ser betauser!</b> No esperes más para ser parte de la plataforma que cambiará el mundo del deporte para siempre.</p>
          <p><small>posted on March 23rd</small></p>
        </div>
      </li>
    </ul>
  </div><!--lestjock-content-->
</div><!--post let's jock-->



<div class="post feeds">
<ul>
<% @news.each do |n| %>

    <% if n.act_type == "000"%>
        <li><!--NOMBRE_APELLIDO has updated his/her profile-->
          <a class="img-rounded">
            <%= image_tag User.find(Publisher.find(n.publisher_id).user_id).profilephotourl%>
          </a>
          <div class="single-post">
            <%= link_to User.find(Publisher.find(n.publisher_id).user_id).full_name, User.find(Publisher.find(n.publisher_id).user_id)%>
            <p><b>Has updated</b> his/her profile</p>
            <p><small>on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "010"%>
        <li><!-- NOMBRE_APELLIDO is following NOMBRE_APELLIDO-->
          <a class="img-rounded" href="#">
            <%= image_tag User.find(Publisher.find(n.publisher_id).user_id).profilephotourl%>
          </a>
          <div class="single-post">
            <%= link_to User.find(Publisher.find(n.publisher_id).user_id).full_name, User.find(Publisher.find(n.publisher_id).user_id)%>
            <p>is following <%= link_to User.find(n.user_id).full_name, User.find(n.user_id)%></p>
            <div class="user-avatar">
              <%= link_to image_tag(User.find(n.user_id).profilephotourl, :class => "img-rounded"), User.find(n.user_id) %>
            </div>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "011"%>
        <li><!--NOMBRE_APELLIDO has a new follower-->
          <a class="img-rounded" href="#">
            <%= image_tag User.find(Publisher.find(n.publisher_id).user_id).profilephotourl%>
          </a>
          <div class="single-post">
            <%= link_to User.find(Publisher.find(n.publisher_id).user_id).full_name, User.find(Publisher.find(n.publisher_id).user_id)%>
            <p>has a new follower</p>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "020"%>
        <%	if Photo.find(n.photo_id)  %>
        <li><!--NOMBRE_APELLIDO added a new photo-->
          <a class="img-rounded">
            <%= image_tag User.find(Publisher.find(n.publisher_id).user_id).profilephotourl%>
          </a>
          <div class="single-post">
            <%= link_to User.find(Publisher.find(n.publisher_id).user_id).full_name, User.find(Publisher.find(n.publisher_id).user_id)%>
            <p>added a new photo</p>
            <%= image_tag Photo.find(n.photo_id).url, :class => "img-polaroid"%>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
        <%	end  %>
    <% elsif n.act_type == "021"%>
        <%	if Video.find(n.video_id)  %>
            <li><!--NOMBRE_APELLIDO added a new video-->
              <a class="img-rounded">
                <%= image_tag User.find(Publisher.find(n.publisher_id).user_id).profilephotourl%>
              </a>
              <div class="single-post">
                <%= link_to User.find(Publisher.find(n.publisher_id).user_id).full_name, User.find(Publisher.find(n.publisher_id).user_id)%>
                <p>added a new video</p>
                <%= raw(youtube_embed(Video.find(n.video_id).url,305,230,true)) %>
                <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
              </div>
            </li>
        <%	end  %>
    <% elsif n.act_type == "030"%>
        <li><!--NOMBRE_APELLIDO joined NOMBRE_EVENTO on FECHA-->
          <a class="img-rounded" href="#">
            <%= image_tag User.find(Publisher.find(n.publisher_id).user_id).profilephotourl%>
          </a>
          <div class="single-post">
            <%= link_to User.find(Publisher.find(n.publisher_id).user_id).full_name, User.find(Publisher.find(n.publisher_id).user_id)%>
            <p>joined <%= link_to Event.find(n.event_id).name, Event.find(n.event_id)%> on <b><%= Event.find(n.event_id).date.strftime("%B %d") %></b></p>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "031"%>
        <li><!--NOMBRE_INSTITUCIÓN posted a new event NOMBRE_EVENTO on FECHA-->
          <a class="img-rounded" href="#">
            <%= image_tag User.find(Publisher.find(n.publisher_id).user_id).profilephotourl%>
          </a>
          <div class="single-post">
            <%= link_to User.find(Publisher.find(n.publisher_id).user_id).full_name, User.find(Publisher.find(n.publisher_id).user_id)%>
            <p>Posted a new event <%= link_to Event.find(n.event_id).name, Event.find(n.event_id)%> on <b><%= Event.find(n.event_id).date.strftime("%B %d") %></b></p>
            <div class="img-polaroid company-resume">
              <%= image_tag Event.find(n.event_id).imageurl %>
              <h4><%= link_to Event.find(n.event_id).name, Event.find(n.event_id)%></h4>
              <i class="icon-calendar"></i><p><%= Event.find(n.event_id).date.strftime("%B %d") %></p>
              <i class="icon-time"></i><p><%= Event.find(n.event_id).date.strftime("%R") %></p>
              <i class="icon-map-marker"></i><p><%= Event.find(n.event_id).place %></p>
            </div>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "100"%>
        <!-- <p>Event Update Info</p> -->
    <% elsif n.act_type == "101"%>
        <li><!-- NOMBRE_EVENTO has new post -->
          <a class="img-rounded" href="#">
            <i class="icon-calendar icon-2x"></i>
          </a>
          <div class="single-post">
            <p><%= link_to Event.find(Publisher.find(n.publisher_id).event_id).name, Event.find(Publisher.find(n.publisher_id).event_id)%> has a new post</p>
            <div class="img-polaroid company-resume">
              <i class="icon-bullhorn"></i><br>
              <p> <%=  Post.find(n.post_id).content %>
                <%= link_to 'See more', Event.find(Publisher.find(n.publisher_id).event_id), :class => 'see-more'%>
              </p>
            </div>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <%else%>
        <p>Event new Admin</p>

    <%end%>
<%end%>




<li><!--NOMBRE_APELLIDO and NÚMERO others updated his/her profile-->
  <a class="img-rounded">
    <%= image_tag 'user-7.jpg'%>
  </a>
  <div class="single-post">
    <a href="#">Username</a>
    <p>and <a href="#">6 others</a> have updated their profiles</p>
    <div class="user-avatar">
      <%= link_to image_tag('user-1.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-2.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-3.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-4.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-5.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-6.jpg', :class => "img-rounded"), '#' %>
    </div>
    <p><small>posted on February 18th</small></p>
  </div>
</li>
<li><!--NÚMERO people viewed your profile-->
  <a class="img-rounded" href="#">
    <i class="icon-user icon-2x"></i>
  </a>
  <div class="single-post">
    <p><a href="#">6 users</a> viewed your profile</p>
    <div class="user-avatar">
      <%= link_to image_tag('user-1.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-2.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-3.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-4.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-5.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-6.jpg', :class => "img-rounded"), '#' %>
    </div>
    <p><small>posted on February 18th</small></p>
  </div>
</li>
<li><!--NOMBRE_APELLIDO was recommended by NOMBRE_APELLIDO-->
  <a class="img-rounded" href="#">
    <%= image_tag 'user-11.jpg'%>
  </a>
  <div class="single-post">
    <a href="#">Username</a>
    <p>was recomended by <a href="#">Username</a></p>
    <div class="user-avatar">
      <%= link_to image_tag('user-1.jpg', :class => "img-rounded"), '#' %>
      <a href="#"><i class="img-rounded icon-eye-open"><span>follow</span></i></a>
    </div>
    <p><small>posted on February 18th</small></p>
  </div>
</li>
<li><!--NOMBRE_APELLIDO has a certified profile-->
  <a class="img-rounded">
    <%= image_tag 'user-1.jpg'%>
  </a>
  <div class="single-post">
    <a href="#">Username</a>
    <p><b>Has a certified</b> profile <i class="green icon-ok-sign"></i></p>
    <p><small>on February 18th</small></p>
  </div>
</li>
<li><!--NOMBRE_APELLIDO is following you-->
  <a class="img-rounded" href="#">
    <%= image_tag 'user-11.jpg'%>
  </a>
  <div class="single-post">
    <a href="#">Username</a>
    <p>is following you</p>
    <div class="user-avatar">
      <a href="#"><i class="img-rounded icon-eye-open"><span>follow</span></i></a>
    </div>
    <p><small>posted on February 18th</small></p>
  </div>
</li>
<li><!--NOMBRE_APELLIDO and NÚMERO others are following you-->
  <!--changed by "NÚMERO people are following you"-->
  <a class="img-rounded" href="#">
    <i class="icon-eye-open icon-2x"></i>
  </a>
  <div class="single-post">
    <p><a href="#">4 users</a> are following you</p>
    <div class="user-avatar">
      <%= link_to image_tag('user-1.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-2.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-3.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-10.jpg', :class => "img-rounded"), '#' %>
    </div>
    <p><small>posted on February 18th</small></p>
  </div>
</li>
<li><!--NOMBRE_INSTITUCIÓN has a new follower-->
  <a class="img-rounded" href="#">
    <%= image_tag 'company-1.gif'%>
  </a>
  <div class="single-post">
    <a href="#">Company</a>
    <p>has a new follower</p>
    <div class="user-avatar">
      <%= link_to image_tag('user-1.jpg', :class => "img-rounded"), '#' %>
    </div>
    <p><small>posted on February 18th</small></p>
  </div>
</li>
<li><!--NOMBRE_APELLIDO and NÚMERO others are following NOMBRE_INSTITUCIÓN-->
  <!--changed by "NUMERO users are following NOMBRE_INSTITUCIÓN"-->
  <a class="img-rounded" href="#">
    <i class="icon-eye-open icon-2x"></i>
  </a>
  <div class="single-post">
    <p><a href="#">4 users</a> are following <a href="#">Company</a></p>
    <div class="user-avatar">
      <%= link_to image_tag('user-1.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-2.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-3.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-10.jpg', :class => "img-rounded"), '#' %>
    </div>
    <div class="img-polaroid company-resume">
      <%= image_tag 'company-1.gif'%>
      <h4>Milo</h4>
      <p>3000 followers</p>
      <div class="user-avatar"><a href="#"><i class="img-rounded icon-eye-open"><span>follow</span></i></a></div>
    </div>
    <p><small>posted on February 18th</small></p>
  </div>
</li>
<li><!--NOMBRE_APELLIDO and NÚMERO others joined NOMBRE_EVENTO on FECHA-->
  <!--changed by "NÚMERO users joined NOMBRE_EVENTO on FECHA"-->
  <a class="img-rounded" href="#">
    <i class="icon-calendar icon-2x"></i>
  </a>
  <div class="single-post">
    <p><a href="#">4 users</a> joined <a href="#">Event Name</a> on <b>March 18th</b></p>
    <div class="user-avatar">
      <%= link_to image_tag('user-1.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-2.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-3.jpg', :class => "img-rounded"), '#' %>
      <%= link_to image_tag('user-10.jpg', :class => "img-rounded"), '#' %>
    </div>
    <div class="img-polaroid company-resume">
      <%= image_tag 'http://atperu.org/protenis/wp-content/uploads/2007/12/Afiche%20copa%20milo.jpg'%>
      <h4>Event Name</h4>
      <i class="icon-calendar"></i><p>March 18th</p>
      <i class="icon-time"></i><p>18:00 hrs</p>
      <i class="icon-map-marker"></i><p>Movistar Innova Center, Providencia 299</p>
      <button class="btn btn-success" type="button">Join</button>
    </div>
    <p><small>posted on February 18th</small></p>
  </div>
</li>
</ul>
</div><!--post feeds-->


</div><!--span-->

<!-- /END THE FEATURETTES -->


<div class="box-index box-connect box-contact span3">
  <div class="box-content">
    <h4>People you may know</h4>
    <ul class="aside connect-people">
      <li>
        <div class="img-container">
          <%= image_tag 'user-1.jpg'%>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-2.jpg'%>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-3.jpg'%>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-4.jpg'%>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-5.jpg'%>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
    </ul>
    <a href="#" class="align-right">See more</a>
  </div>
</div><!--box-connect-->
</div>
</div><!-- /.container -->

<script>
    !function ($) {
        $(function(){
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>