<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "profile" %>

<div class="container">

<div class="row">
  <div class="span12">
    <div class="page-title margin-10">
      <h3 class="inline">News</h3>
    </div>
  </div>
</div>

<div class="row relative">
<div class="span9">
<div class="post letsjock">
  <div class="letsjock-header">
    <%= link_to image_tag('letsjock-iso.png', :class => "img-rounded"), '#' %>
    <h5><%= link_to 'Let' + "'s" + ' Jock', '/profile/1' %> wants you to know</h5>
  </div><!--letsjock-header-->

  <div class="letsjock-content">
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag 'news-1.png'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>¡Bienvenido a Let's Jock!</h1>
              <p>La primera red de reclutamiento deportivo online. Una herramienta que te permitirá publicar toda la información sobre el deporte que practicas.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'news-2.png'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Crea tu perfil deportivo</h1>
              <p>Te recomendamos crear tu perfil lo más completo posible para aumentar las posibilidades de ser visto por reclutadores y auspiciadores.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'news-3.png'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Versión beta de Let's Jock</h1>
              <p>La plataforma se encuentra en marcha blanca y por el momento solo en inglés. Próximamente incorporaremos más idiomas y herramientas.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->
    <ul>
      <li>
        <div class="single-post">
          <%= link_to "Let's Jock", profile_path(1) %>
          <p>¡Bienvenido a la versión beta de Let’s Jock! Acá podrás crear tu perfil deportivo, seguir a otros usuarios o instituciones e inscribirte en eventos deportivos.</p>
          <p><small>posted on May 19th</small></p>
        </div>
      </li>
      <li>
        <div class="single-post">
          <%= link_to "Let's Jock", profile_path(1) %>
          <p>¡Te invitamos a revisar periódicamente las news! Acá encontrarás las noticias más importantes y las últimas actualizaciones de quienes sigues.</p>
          <p><small>posted on May 19th</small></p>
        </div>
      </li>
    </ul>
  </div><!--lestjock-content-->
</div><!--post let's jock-->



<div class="post feeds">
<ul>
<% @news.each do |n| %>

    <% if n.act_type == "000"%>
      <% user = n.publisher.user %>
        <li><!--NOMBRE_APELLIDO has updated his/her profile-->
          <a class="img-rounded">
            <%= image_tag user.profilephotourl%>
          </a>
          <div class="single-post">
            <p>
              <%= link_to user.full_name, profile_path(user) %>
              <b>has updated</b> his/her profile
            </p>
            <p><small>on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "003"%>
      <% user = n.publisher.user %>
      <% institution = n.user %>
      <% post = n.post %>
        <li><!-- NOMBRE_APELLIDO posted in Y's wall -->
          <a class="img-rounded" href="#">
            <%= image_tag user.profilephotourl %>
          </a>
          <div class="single-post">
            <p><%= link_to user.full_name, profile_path(user) %> posted in <%= link_to institution.full_name, profile_path(institution) %>'s profile</p>
            <div class="img-polaroid company-resume">
              <i class="icon-bullhorn"></i><br>
              <p> <%= raw(post.content) %>
                <%= link_to 'See more', profile_path(institution), :class => 'see-more'%>
              </p>
            </div>
            <p>
              <small>
                <%= render :partial => 'users/like', :locals => {:object => post} %>
                posted on <%= n.created_at.strftime("%B %d")%>
              </small>
            </p>
          </div>
        </li>
    <% elsif n.act_type == "004"%>
      <% user = n.publisher.user %>
      <% institution = n.post.writer %>
        <li><!-- NOMBRE_APELLIDO commented a Y's post -->
          <a class="img-rounded" href="#">
            <%= image_tag user.profilephotourl %>
          </a>
          <div class="single-post">
            <p><%= link_to user.full_name, profile_path(user) %> commented a <%= link_to institution.full_name, profile_path(institution) %>'s post</p>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "010" && n.user %>
      <% publisher_user = n.publisher.user %>
      <% followed_user = n.user %>
        <li><!-- NOMBRE_APELLIDO is following NOMBRE_APELLIDO-->
          <a class="img-rounded" href="#">
            <%= image_tag publisher_user.profilephotourl%>
          </a>
          <div class="single-post">
            <p>
              <%= link_to publisher_user.full_name, profile_path(publisher_user) %>
              is following <%= link_to followed_user.full_name, profile_path(followed_user) %>
            </p>
            <div class="user-avatar">
              <%= link_to image_tag(followed_user.profilephotourl, :class => "img-rounded"), profile_path(followed_user) %>
            </div>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "011"%>
      <% user = n.publisher.user %>
        <li><!--NOMBRE_APELLIDO has a new follower-->
          <a class="img-rounded" href="#">
            <%= image_tag user.profilephotourl%>
          </a>
          <div class="single-post">
            <p>
              <%= link_to user.full_name, profile_path(user) %>
              has a new follower
            </p>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "020"%>
      <% if Photo.exists?(n.photo_id) %>
        <% photo = n.photo %>
        <% user = n.publisher.user %>
        <li><!--NOMBRE_APELLIDO added a new photo-->
          <a class="img-rounded">
            <%= image_tag user.profilephotourl%>
          </a>
          <div class="single-post">
            <p>
              <%= link_to user.full_name, profile_path(user) %>
              added a new photo
            </p>
            <%= image_tag photo.url, :class => "img-polaroid"%>
            <p>
              <small>
                <%= render :partial => 'users/like', :locals => {:object => photo} %>
                posted on <%= n.created_at.strftime("%B %d")%>
              </small>
            </p>
          </div>
        </li>
      <% end %>
    <% elsif n.act_type == "021"%>
      <% if Video.exists?(n.video_id) %>
        <% video = n.video %>
        <% user = n.publisher.user %>
        <li><!--NOMBRE_APELLIDO added a new video-->
          <a class="img-rounded">
            <%= image_tag user.profilephotourl%>
          </a>
          <div class="single-post">
            <p>
              <%= link_to user.full_name, profile_path(user) %>
              added a new video
            </p>
            <%= raw(youtube_embed(video.url,305,230,true)) %>
            <p>
              <small>
                <%= render :partial => 'users/like', :locals => {:object => video} %>
                posted on <%= n.created_at.strftime("%B %d")%>
              </small>
            </p>
          </div>
        </li>
      <% end %>
    <% elsif n.act_type == "030"%>
      <% user = n.publisher.user %>
      <% event = n.event %>
        <li><!--NOMBRE_APELLIDO joined NOMBRE_EVENTO on FECHA-->
          <a class="img-rounded" href="#">
            <%= image_tag user.profilephotourl%>
          </a>
          <div class="single-post">
            <p>
              <%= link_to user.full_name, profile_path(user) %>
              joined <%= link_to event.name, event %> on <b><%= event.date.strftime("%B %d") %></b>
            </p>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "031"%>
      <% user = n.publisher.user %>
      <% event = n.event %>
        <li><!--NOMBRE_INSTITUCIÓN posted a new event NOMBRE_EVENTO on FECHA-->
          <a class="img-rounded" href="#">
            <%= image_tag user.profilephotourl%>
          </a>
          <div class="single-post">
            <p>
              <%= link_to user.full_name, profile_path(user) %>
              Posted a new event <%= link_to event.name, event %> on <b><%= event.date.strftime("%B %d") %></b>
            </p>
            <div class="img-polaroid company-resume">
              <%= image_tag event.imageurl %>
              <h4><%= link_to event.name, event %></h4>
              <i class="icon-calendar"></i><p><%= event.date.strftime("%B %d") %></p>
              <i class="icon-time"></i><p><%= event.date.strftime("%R") %></p>
              <i class="icon-map-marker"></i><p><%= event.place %></p>
            </div>
            <p>
              <small>
                <%= render :partial => 'users/like', :locals => {:object => event} %>
                posted on <%= n.created_at.strftime("%B %d")%>
              </small>
            </p>
          </div>
        </li>
    <% elsif n.act_type == "032"%>
      <% user = n.publisher.user %>
      <% event = n.event %>
      <% post = n.post %>
        <li><!-- NOMBRE_APELLIDO posted in event -->
          <a class="img-rounded" href="#">
            <%= image_tag user.profilephotourl %>
          </a>
          <div class="single-post">
            <p><%= link_to user.full_name, profile_path(user) %> posted in event <%= link_to event.name, event %></p>
            <div class="img-polaroid company-resume">
              <i class="icon-bullhorn"></i><br>
              <p> <%= raw(post.content) %>
                <%= link_to 'See more', event_path(event), :class => 'see-more'%>
              </p>
            </div>
            <p>
              <small>
                <%= render :partial => 'users/like', :locals => {:object => post} %>
                posted on <%= n.created_at.strftime("%B %d")%>
              </small>
            </p>
          </div>
        </li>
    <% elsif n.act_type == "033"%>
      <% user = n.publisher.user %>
      <% event = n.event %>
        <li><!-- NOMBRE_APELLIDO commented in event -->
          <a class="img-rounded" href="#">
            <%= image_tag user.profilephotourl %>
          </a>
          <div class="single-post">
            <p><%= link_to user.full_name, profile_path(user) %> commented a post in event <%= link_to event.name, event %></p>
            <p><small>posted on <%= n.created_at.strftime("%B %d")%></small></p>
          </div>
        </li>
    <% elsif n.act_type == "100"%>
        <!-- <p>Event Update Info</p> -->
    <% elsif n.act_type == "101"%>
      <% event = n.publisher.event %>
      <% post = n.post %>
        <li><!-- NOMBRE_EVENTO has new post -->
          <a class="img-rounded" href="#">
            <i class="icon-calendar icon-2x"></i>
          </a>
          <div class="single-post">
            <p>Event <%= link_to event.name, event %> has a new post</p>
            <div class="img-polaroid company-resume">
              <i class="icon-bullhorn"></i><br>
              <p> <%= post.content %>
                <%= link_to 'See more', event, :class => 'see-more'%>
              </p>
            </div>
            <p>
              <small>
                <%= render :partial => 'users/like', :locals => {:object => post} %>
                posted on <%= n.created_at.strftime("%B %d")%>
              </small>
            </p>
          </div>
        </li>
    <% elsif n.act_type == "202"%>
      <% user = n.publisher.user %>
      <% post = n.post %>
        <li><!-- NOMBRE_INSTITUCION has new post -->
          <a class="img-rounded" href="#">
            <%= image_tag user.profilephotourl %>
          </a>
          <div class="single-post">
            <p><%= link_to user.full_name, profile_path(user) %> has a new post</p>
            <div class="img-polaroid company-resume">
              <i class="icon-bullhorn"></i><br>
              <p> <%= raw(post.content) %>
                <%= link_to 'See more', profile_path(user), :class => 'see-more'%>
              </p>
            </div>
            <p>
              <small>
                <%= render :partial => 'users/like', :locals => {:object => post} %>
                posted on <%= n.created_at.strftime("%B %d")%>
              </small>
            </p>
          </div>
        </li>
    <%else%>
        <!-- <p>Event new Admin</p>-->
    <%end%>
<%end%>


</ul>
</div><!--post feeds-->


</div><!--span-->

<!-- /END THE FEATURETTES -->


<div class="box-index box-connect box-contact span3">
  <%= render 'layouts/rightbox' %>
  
  <%= render 'layouts/invitebox' %>
  
  <%= render 'layouts/viewed' %>
</div><!--box-connect-->

</div>
</div><!-- /.container -->

<%= render 'layouts/invite' %>

<script>
    !function ($) {
        $(function(){
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>