<%= javascript_include_tag "application" %>
<%= javascript_include_tag "endless_page" %>
<%= stylesheet_link_tag    "profile" %>

<div class="container">

<div class="row">
  <div class="span12">
    <div class="page-title margin-10">
      <h3 class="inline">News</h3>
    </div>
  </div>
</div>

<div class="row relative">
<div class="span9">
<div class="post letsjock">
  <div class="letsjock-header">
    <%= link_to image_tag('letsjock-iso.png', :class => "img-rounded"), '#' %>
    <h5><%= link_to 'Let' + "'s" + ' Jock', '/profile/1' %> wants you to know</h5>

  </div><!--letsjock-header-->

  <div class="letsjock-content">
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag 'news-1.png'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>¡Bienvenido a Let's Jock!</h1>
              <p>La primera red de reclutamiento deportivo online. Una herramienta que te permitirá publicar toda la información sobre el deporte que practicas.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'news-2.png'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Crea tu perfil deportivo</h1>
              <p>Te recomendamos crear tu perfil lo más completo posible para aumentar las posibilidades de ser visto por reclutadores y auspiciadores.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'news-3.png'%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Versión beta de Let's Jock</h1>
              <p>La plataforma se encuentra en marcha blanca y por el momento solo en inglés. Próximamente incorporaremos más idiomas y herramientas.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->
    <ul>
      <li>
        <div class="single-post">
          <%= link_to "Let's Jock", profile_path(1) %>
          <p>¡Bienvenido a la versión beta de Let’s Jock! Acá podrás crear tu perfil deportivo, seguir a otros usuarios o instituciones e inscribirte en eventos deportivos.</p>
          <p><small>posted on May 19th</small></p>
        </div>
      </li>
      <li>
        <div class="single-post">
          <%= link_to "Let's Jock", profile_path(1) %>
          <p>¡Te invitamos a revisar periódicamente las news! Acá encontrarás las noticias más importantes y las últimas actualizaciones de quienes sigues.</p>
          <p><small>posted on May 19th</small></p>
        </div>
      </li>
    </ul>
  </div><!--lestjock-content-->
</div><!--post let's jock-->



<div class="post feeds">
    <ul>
        <div id="news-feed">
            <%= render :partial => 'feed/news_feed', :locals => {:news => @news} %>
        </div>
    </ul>
</div><!--post feeds-->


</div><!--span-->

<!-- /END THE FEATURETTES -->


<div class="box-index box-connect box-contact span3">
  <%= render 'layouts/rightbox' %>
  
  <%= render 'layouts/invitebox' %>
  
  <%= render 'layouts/viewed' %>
</div><!--box-connect-->

</div>
</div><!-- /.container -->

<%= render 'layouts/invite' %>

<script>
    !function ($) {
        $(function(){
            $('#myCarousel').carousel();
        })
    }(window.jQuery)
</script>