<div class="experienceItem relative">
  <small><%=	 recognition.date.strftime("%m/%d/%Y") %></small>
  <h4><%=	 recognition.description %></h4>
  <p></p>
  <a class="valid" data-placement="top" rel="tooltip" href="#" data-original-title="
certificate"></a>
  <% if signed_in? && current_user.id == recognition.user_id %>
    <%= link_to "Delete", recognition, method: :delete%>
    <%=	 form_for recognition do |f| %>
        <%=	 f.text_field :description %>
        <%=	 f.submit %>
    <%	 end %>
  <%  end %>
</div>