<% unless recognition.team_id || recognition.competition_id %>
    <ul class="experience">
      <li><h5><%= recognition.description %> <span><%= Sport.find(recognition.sport_id).name %></span></h5></li>
      <li class="calendar"><i class="icon-calendar"></i><%= recognition.date.strftime("%d/%m/%Y") %></li>
      <% if recognition.awarded_by%>
          <li><i class="icon-pencil"></i>Awarded by <%= recognition.awarded_by %></li>
      <% end %>
      <% if signed_in? && current_user.id == recognition.user_id %>
          <%= link_to "Delete", recognition, method: :delete%>
      <%  end %>
    </ul>
<% end %>