<p><strong>Let's Jock Recommendations</strong> </p>

<p><%= @data[:name] %> asked you for a recommendation.</p>

<p><%= @data[:message] %></p>

<a href="http://www.letsjock.com/write_recommendation/<%= @data[:id] %>">Recommend <%= @data[:name] %></a>

<p>Your recommendation could help <%= @data[:name] %>.</p>