<p><strong>Let's Jock Recommendations</strong> </p>

<p><%= @data[:name] %> ask you for a recommendation.</p>

<p><%= @data[:message] %></p>

<a href="http://www.letsjock.com/write_recommendation/<%= @data[:id] %>">Write a recommendation for <%= @data[:name] %></a>

<p>Your recommendation could help <%= @data[:name] %> to get sponsor or scholarship opportunities.</p>