<%= form_for @train do |f| %>
    <fieldset>
      <legend>Training</legend>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <%= f.text_field :name, :placeholder => "Trained by..." %>
        <label class="checkbox">
          ACA VA UNA CHECKBOX (?)
        </label>
      </div>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-calendar"></i></span>
        <p><%=	 f.date_select :init %></p>
        <p><%=	 f.date_select :end %></p>
      </div>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <p>ACA TIENE QUE IR PARA METER TEAM</p>
      </div>
      <%=	 f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :sport_id, :value => 1 %>
      <%= f.submit 'Add training', :class => "btn" %>
    </fieldset>
<% end %>