<% if sport_id %>
    <% sport = Sport.find(sport_id) %>
<% else %>
    <% sport = Sport.new %>
<% end %>

<script xmlns="http://www.w3.org/1999/html">
    $(document).ready(function(){
        $('#link-add-sport-<%= index.to_i - 1 %>').remove();
        
        $('.typeahead.edit-user.sports').typeahead({minLength: 0, source: handlerSourceSport, updater: handlerUpdaterSportUserEdit, highlighter: handlerHighlighterSport}).bind("focus", triggerShow);
        <% if sport.parent_id %>
            <% sport_parent = Sport.find(sport.parent_id) %>
        $('.typeahead.edit-user.sports_<%= sport.parent_id %>').typeahead({minLength: 0, source: handlerSourceSport, updater: handlerUpdaterSportUserEdit});
            <% if sport_parent.parent_id %>
                <% sport_grandp = Sport.find(sport_parent.parent_id) %>
        $('.typeahead.edit-user.sports_<%= sport.id %>').typeahead({minLength: 0, source: handlerSourceSport, updater: handlerUpdaterSportUserEdit});
            <% end %>
        <% end %>
        
        function handlerUpdaterSportUserEdit (item) {
            sport = $.grep(sports_parents, function(element, index){
                return element.name == item;
            })[0];
            
            this.$element.parent().find("#sport_id_<%= index %>").val(sport.id);
            
            this.$element.next(".typeahead").next(".typeahead").remove();
            this.$element.next(".typeahead").remove();
            
            var childs = $.grep(sports, function(element, index){ return element.parent_id == sport.id; }).length > 0;
            
            if(childs){
                this.$element.after("<input class='typeahead sports_" + sport.id + " span2' placeholder='Type position or category' data-provide='typeahead' type='text' data-parent='" + sport.id + "'>");
                $( '.typeahead.sports_' + sport.id ).typeahead({minLength: 0, source: handlerSourceSport, updater: handlerUpdaterSportUserEdit}).focus();
            }
            return item;
        }
    });
</script>
<div>
  <span class="add-on"><i class="icon-circle"></i></span>
  <input id="sport_id_<%= index %>" name="sport_id_<%= index %>" placeholder="Sport" type="hidden" value="<%= sport.id %>">

  <% if sport_parent %>
      <% if sport_parent.parent_id %>
          <input class="typeahead edit-user sports span2" placeholder="Type your sport" data-provide="typeahead" type="text" data-parent value="<%= sport_grandp.name %>">
          <input class="typeahead edit-user sports_<%= sport_parent.parent_id %> span2" placeholder="Type your sport" data-provide="typeahead" type="text" data-parent="<%= sport_parent.parent_id %>" value="<%= sport_parent.name %>">
      <% else %>
          <input class="typeahead edit-user sports span2" placeholder="Type your sport" data-provide="typeahead" type="text" data-parent value="<%= sport_parent.name %>">
      <% end %>
      <input class="typeahead edit-user sports_<%= sport.parent_id %> span2" placeholder="Type your sport" data-provide="typeahead" type="text" data-parent="<%= sport.parent_id %>" value="<%= sport.name %>">
  <% else %>
      <input class="typeahead edit-user sports span2" placeholder="Type your sport" data-provide="typeahead" type="text" data-parent="<%= sport.parent_id ? sport.parent_id : nil %>" value="<%= sport.name %>">
  <% end %>
  <% if index.to_i < 2 %>
      <%= link_to raw('<i class="icon-plus icon-large icon-add-sport"></i>'), add_sport_profile_path(:index => index), :class => "link-add-sport", :id => "link-add-sport-#{index}", :remote => true %>
  <% end %>
</div>