<%= form_for(@sport) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :parent_id %><br />
      <%= f.number_field :parent_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>