<div class="experienceItem relative">
          <small><%=	 competition.init %> - <%	if competition.end && competition.end < Time.new %><%=    competition.end %><% else%> Presente <%  end %></small>
          <h4><%=	 competition.name %></h4>
          <p></p>
          <a class="valid" data-placement="top" rel="tooltip" href="#" data-original-title="
certificate"></a>
  <%= link_to "Delete", competition, method: :delete%>
        <%=	 form_for competition do |f| %>
            <%=	 f.text_field :name %>
            <%=	 f.submit %>
        <%	 end %>
        </div>

<!--<div class="experienceItem relative">
  <small>Enero 2007 - Julio 2010</small>
  <h4>Arquero Deportes Peñalolén</h4>
  <p>Arquero del, en ese entonces, equipo de 3era división profesional.</p>
  <a class="valid" data-placement="top" rel="tooltip" href="#" data-original-title="
certificate"></a>
</div>-->