<% unless Recognition.exists?(:competition_id => competition.id) %>
    <ul class="experience <%= competition.highlight ? "destacado" : "" %>" data-id="<%= competition.id %>" data-type="competition">
      <% if competition.highlight %>
      <i class="icon-3x icon-bookmark icon-special-header"></i>
      <% end %>
      
      <li><h5><i class="icon-circle-blank icon-large"></i><%= competition.name %> <span><%=	 Sport.find(competition.sport_id).full_name %></span></h5></li>
      <% if competition.team_id %>
          <li><h5><i class="icon-group"></i><%= Team.find(competition.team_id).name %> <span><% if Train.exists?(:team_id => competition.team_id) %>Trained by <%= Train.find_by_team_id(competition.team_id).name %><% end %></span></h5></li> <!-- ToolTip -->
      <% end %>
      <% if competition.organizer %>
          <li><h5><i class="icon-tags"></i>Organized by <span><%= competition.organizer %></span></h5></li>
      <% end %>
      <% if competition.place %>
          <li><h5><i class="icon-globe"></i><%= competition.place %></h5></li>
      <% end %>
      <% @results = Result.all(:conditions => ["user_id = ? AND competition_id = ?", competition.user_id, competition.id]) %>
      <% unless @results.blank? %>
          <% @results.each do |result| %>
              <li><h5><i class="icon-star"></i>Position: <%= result.position %> <span>Mark: <%= result.full_mark %></span><% if result.best_mark %><b> PB</b><% end %></h5></li>
          <% end %>
      <% end %>
      <% if competition.end %>
        <li class="calendar"><i class="icon-calendar"></i><%= competition.init.strftime("%B %Y") %>, to <%= competition.end.strftime("%B %Y") %></li>
      <% else %>
          <li class="calendar"><i class="icon-calendar"></i>Currently competing since <%= competition.init.strftime("%B %Y") %></li>
      <% end %>
    </ul>
<% end %>