<ul class="experience">
  <li><h5><i class="icon-briefcase icon-large"></i> <%= work.company %> <span><% if work.sport_id %><%= Sport.find(work.sport_id).name %><% end %></span></h5></li>
  <% if work.role%>
      <li><h5><i class="icon-pencil"></i><%= work.role %></h5></li>
  <% end %>
  <li><i class="icon-map-marker"></i><%= work.location %>, <%= Country.find(work.country_id).name %></li>

  <li class="calendar">
    <% if work.end %>
        <i class="icon-calendar"></i><%= work.init.strftime("%B %Y") %> to <%= work.end.strftime("%B %Y") %>
    <% else %>
        <i class="icon-calendar"></i>Currently here since <%= work.init.strftime("%B %Y") %>
    <% end %>
  </li>
  <%	if @workExperiences.any? %>
      <%	@workExperiences.each do |working| %>
        <%	if working.work_id == work.id %>
            <%=	 render working %>
        <%	end %>
      <%	end %>
  <%	end %>
</ul>
