<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "load-image" %>
<%= javascript_include_tag "bootstrap-image-gallery" %>
<%= stylesheet_link_tag    "bootstrap-image-gallery" %>

<% provide(:title, @user.name) %>

<div class="container">
<div class="row">
<div class="box box-media span3 event-single">
  <div class="img-polaroid">
    <%=	link_to image_tag(@user.profilepic, :class => 'user-profile'), '#' %>
    <% if signed_in? && @user.inAdmins?(current_user) %>
    <div class="dropdown">
      <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-pencil"></i> Change Photos</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="#profilePictureModal" data-toggle="modal"><i class="icon-picture"></i> Choose profile pic</a></li>
        <li><a href="#bgPictureModal" data-toggle="modal"><i class="icon-picture"></i> Choose background pic</a></li>
        <li><a href="#photoModal" data-toggle="modal"><i class="icon-arrow-up"></i> Upload a photo</a></li>
      </ul>
     </div>
    <% end %>
  </div>
  <%= render 'layouts/sponsor_leftbox' %>
</div><!--box-media-->

<div class="span9 company-header" <% if @user.preferences[:bgpicture] && @user.preferences[:bgpicture] != "" %>style="background-image: url('<%= @user.preferences[:bgpicture] %>')"<% end %>>

</div><!-- /profileIcons -->

<div class="profileInfo relative span9">
  <div class="user">
    <% if signed_in? && @user.inAdmins?(current_user)  %>
      <%= link_to(edit_sponsor_path(@user), :class => "pull-right link-on", :style => "list-style: none; padding-top: 20px;") do %>
        <i class='icon-pencil icon-2x'></i>
      <% end %>
    <% end %>
    
    <h2><%= @user.name %></h2>
    <p>
      <i class="icon-globe icon-large"></i>
      <%= link_to @user.preferences[:url], @user.preferences[:url] %>
    </p>
  </div><!--user-->
  <div class="connections action-buttons span3">
    
    <%=	 render 'follow_form' if signed_in? %>
    
  </div>
</div><!-- /profileInfo -->

<div class="box box-info span6 company">
  <div class="resume">
    <p><%= @user.resume %></p>
  </div><!--resume-->
  
  <div class="post resume">
    <ul class="important-info">
      <li><!--Followers-->
        <%= link_to(social_path(@user)) do %>
          <div class="img-polaroid">
            <p><i class="icon-eye-open"></i> <%= @user.followers.count %></p>
          </div><!--frame-->
          <span class="title-info">Followers</span>
        <% end %>
      </li>
      <li><!--Events-->
        <%= link_to user_events_path(@user) do %>
          <div class="img-polaroid">
            <p><i class="icon-calendar"></i></p>
            <div class="photo-cover-event" <% if Event.where(:user_id => @user.id).count > 0 %>style="background-image: url('<%= Event.where(:user_id => @user.id).sample(1)[0].imageurl %>')"<% end %> ></div><!--se usa la imagen como background-image-->
          </div><!--frame-->
          <span class="title-info">Events</span>
        <% end %>
      </li>
      <li><!--Photos-->
        <%= link_to(pictures_path(@user)) do %>
          <div class="img-polaroid">
            <p><i class="icon-camera"></i></p>
            <div class="photo-cover-photos" <% if @photos.count > 0 %>style="background-image: url('<%= @photos.sample(1)[0].url %>')"<% end %> ></div><!--se usa la imagen como background-image-->
          </div><!--frame-->
          <span class="title-info">Photos</span>
        <% end %>
      </li>
      <li><!--Video-->
        <%= link_to(pictures_path(@user)) do %>
          <div class="img-polaroid">
            <p><i class="icon-facetime-video"></i></p>
          </div><!--frame-->
          <span class="title-info">Videos</span>
        <% end %>
      </li>
    </ul>
    
    <hr>
    
    <div id="latest-post">
  <% if signed_in? && @user.inAdmins?(current_user)  %>
    <%= form_tag(add_post_path(@user), :id => "new_post", :multipart => true, :accept => "image/gif,image/png,image/jpg") do %>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-post">
          <textarea name="post_content" id="post_content" class="input-block-level" rows="3" placeholder="Write a post"></textarea>
          <div class="fileupload-preview thumbnail fileupload-exists"></div>
          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
        </div>
        <ul class="post-actions">
          <li><a href="javascript:void(0)" class="btn-file"><i class="icon-camera"></i><input type="file" name="post_picture" id="post_picture" accept="image/*" /></a></li>
          <li><a href="#"><i class="icon-facetime-video"></i></a></li>
          <li class="pull-right"><button type="submit" class="btn btn-success"><b>Post</b></button></li>
        </ul><!--post-actions-->
      </div>
    <% end %>
  <% end %>
      
    <% if @posts_combined.any? %>
      <ul>
      <% @posts_combined.each do |post| %>
        <% if post.class.name == "Event" %>
          <%=  render :partial => 'posts/post_event', :locals => {:event => post} %>
        <% else %>
          <%= render post  %>
        <% end %>
      <% end %>
      </ul>
    <% else %>
      <h3>No posts found.</h3>
    <% end %>
    </div><!-- #latest-post -->
  </div><!--post resume-->
</div><!--span6 company-->

<div class="box box-connect span3">
  <%= render 'layouts/rightbox' %>
</div>

<%= render 'layouts/invitebox' %>

</div>

</div><!-- /.container -->

<script>
  $(document).ready(function(){
    $("textarea.input-block-level").keyup(function(e){
      while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
        $(this).height($(this).height()+1);
      };
    });
  });
</script>

<%=  render :partial => 'photos/profile_picture', :locals => {:photos => @photos} %>
<%=  render :partial => 'photos/bg_picture', :locals => {:photos => @photos} %>
<%=  render 'photos/modal_gallery' %>
<%=  render 'photos/photo_modal' %>
<%=  render 'videos/video_modal' %>
<%=  render 'layouts/invite' %>