<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "users_validations" %>
<%= javascript_include_tag "load-image" %>
<%= javascript_include_tag "bootstrap-image-gallery" %>
<%= stylesheet_link_tag    "bootstrap-image-gallery" %>

<% provide(:title, @user.full_name) %>

<div class="container">
<div class="row">
<div class="box box-media span3">
  <div class="img-polaroid">
    <%= link_to image_tag(@user.profilephotourl, :class => "user-profile"), '#' %>
       <% if signed_in? && @user.id == current_user.id %>
        <div class="dropdown">
          <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-pencil"></i> Change Photo</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#profilePictureModal" data-toggle="modal"><i class="icon-picture"></i> Choose from photos</a></li>
            <li><a id="changePicBtn" href="#photoModal" data-toggle="modal"><i class="icon-arrow-up"></i> Upload a photo</a></li>
            <!-- <li><a><i class="icon-pencil"></i> Edit thumbnail</a></li> -->
            <!-- <li><a><i class="icon-remove"></i> Remove</a></li> -->
          </ul>
        </div>
       <% end %>
  </div>
  <!-- begin Pictures -->
  <div class="event-info">
    <!-- <h5><i class="icon-star"></i>Featured info</h5> -->
    <h5><i class="icon-camera"></i><%= link_to 'Pictures' , pictures_path(@user) %></h5>
    <div class="event-pictures">
      <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
      <% @photos.take(6).each do |photo| %>
        <% if photo.url != @user.profilephotourl %>
          <a href="<%= photo.url %>" data-gallery="gallery" data-id="<%= photo.id %>">
            <%= image_tag(photo.url) %>
          </a>
        <% end %>
      <% end %>
      </div>
    </div><!--user-pictures-->
    
    <h5 class="white">
      <%= @photos.count %> pictures
      <%= link_to 'see more' , pictures_path(@user) %>
      <% if signed_in? && @user.id == current_user.id %>
      <a href="#photoModal" data-toggle="modal" role="button" id="btn-photo" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
      <% end %>
    </h5>
    <h5><i class="icon-facetime-video"></i><a href="#">Videos</a></h5>
    <div class="user-video">
      <%  @videos.take(3).each do |video| %>
          <%= raw(youtube_embed(video.url,270,200, true)) %>
      <%  end %>
    </div><!--user-video-->

    <h5 class="white">
      <%= @videos.count %> videos
      <%= link_to 'see more' , pictures_path(@user) %>
      <% if signed_in? && @user.id == current_user.id %>
      <a href="#videoModal" data-toggle="modal" role="button" id="btn-video" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
      <% end %>
    </h5>
  </div>
</div><!--box-media-->
<ul class="profileIcons span9">
  <li><i class="icon-eye-open icon-white"></i><%= link_to @user.followers.count.to_s + " followers", social_path(@user) %><%= link_to  "following " + @user.followed_users.count.to_s, social_path(@user, :following => true) %></li>
  <li><i class="icon-camera icon-white"></i><%= link_to @photos.count.to_s + ' pictures' , pictures_path(@user) %></li>
  <li><i class="icon-facetime-video icon-white"></i><%= link_to @videos.count.to_s + ' videos' , pictures_path(@user) %></li>
  <li><i class="icon-calendar icon-white"></i><%= link_to @events.count.to_s + ' events' , '#eventModal', :data => {:toggle => "modal"}, :role => "button" %></li>
</ul><!-- /profileIcons -->
<div class="profileInfo relative span9">
  <div class="user">
    <% if signed_in? && @user.id == current_user.id  %>
      <%= link_to('#', :class => "pull-right link-on", :style => "padding-top: 20px;", :id => "edit-profile-link") do %>
        <i class='icon-pencil icon-2x'></i>
      <% end %>
    <% end %>

    <% if signed_in? && @user.id != current_user.id && current_user.id == 1  %>
        <%= link_to(certify_path, :remote => true, :class => "pull-right") do %>
            <i id="icon-certify" class='icon-ok-circle icon-2x' style='text-decoration: none; padding-top: 20px;' rel='tooltip' title='Certify profile'></i>
            <i id="icon-decertify" class='icon-remove-circle icon-2x' style='text-decoration: none; padding-top: 20px;' rel='tooltip' title='Decertify profile'></i>
        <% end %>
    <% end %>

    <%= image_tag('verified.png', :class => "pull-right", :rel => "tooltip", :title => "Certification FAQ", :id => "certification-icon") %>

    <h2><%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :name, :type => :input, :inner_class => "nameInput" %> <%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :lastname, :type => :input, :inner_class => "nameInput"  %></h2>

    <p class="header-tags">
        <% if @user.tags("GLOBAL_TAGS_IAM") && @user.tags("GLOBAL_TAGS_IAM").length > 0 %>
              <% @user.tags("GLOBAL_TAGS_IAM").each do |tag|%>
                  <a class="special-tag" href="#"><%= GLOBAL_TAGS_IAM[tag.to_i] %></a>
              <% end %>
        <% end %>

      <a href="#"><%= @user.sport_show %></a>
      <!-- <a href="#">tag posición - prueba</a> -->
    </p>
    <p>
      <a href="#"><%  if @user.birth && @user.birth != "" %><%= @user.age  %> years<%else%> Age not verified<%  end %></a>
      <a href="#"><%  if @user.citybirth != "" %> <%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :citybirth, :type => :input, :inner_class => "locationInput" %></a>
      <a href="#"><%  end %><%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :country, :type => :input, :inner_class => "locationInput" %></a>
    </p>

  </div><!--user-->
  <div class="connections action-buttons span3">
    
    <%=	 render 'follow_form' if signed_in? %>
    
  </div>
</div><!-- /profileInfo -->

<div class="box box-info span6">
<script>
$(document).ready(function(){
    $('#video-submit').click(function(){
        $("#new_video").submit();
    });
    <% if !@user.certified %>
        $('#certification-icon').hide();
        $('#icon-decertify').hide();
    <% else %>
        $('#icon-certify').hide();
    <% end %>
});
</script>

  <div id="edit-profile" class="hidden resume">
      <%= form_for current_user, :class => "edit_user" do |f| %>
          <legend>Edit Profile</legend>
          <div class="main-fields">
            <!--First Name-->
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <%= f.text_field :name, :value => current_user.name, :placeholder => "Name", :validation => 'required notBlank' %>
            </div>
            <!--Last Name-->
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <%= f.text_field :lastname, :value => current_user.lastname, :placeholder => "Last Name", :validation => 'required notBlank' %>
            </div>
            <!--Sport-->
            <div class="input-prepend" id="sport-div-profile">
              <% @indexReal = 0 %>
              <% @usports = UserSport.all(:conditions => ["user_id = ? AND sport_id IN (?)", current_user.id, current_user.sports.collect(&:id)]) %>
              <% @usports.each_with_index do |sport, index| %>
                  <% if UserSport.where(:user_id => current_user.id, :sport_id => sport.sport_id).first.position && UserSport.where(:user_id => current_user.id, :sport_id => sport.sport_id).first.position != "" %>
                      <%= render :partial => 'sports/autocomplete_edit_user', :locals => { :sport_id => sport.sport_id, :index => @indexReal } %>
                      <% @indexReal += 1 %>
                  <% end %>
              <% end %>
            </div>
            <br />
            <!--Gender-->
            <div class="input-prepend">
              <span class="add-on"><i class="icon-file"></i></span>
              <%= f.select(:gender, [['Select a gender', nil], ['Male', 'M'], ['Female', 'F']], {:class => 'span3'}) %>
            </div>
            <br />
            <!--Height-->
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-file"></i></span>
              <%= f.text_field :height, :value => current_user.height, :placeholder => "Heigth", :class => "span1" %>
              <span class="add-on">inches</span>
            </div>
            <!--Weight-->
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-file"></i></span>
              <%= f.text_field :weight, :value => current_user.weight, :placeholder => "Weigth", :class => "span1" %>
              <span class="add-on">pounds</span>
            </div>
            <!--Location-->
            <div class="input-prepend">
              <span class="add-on"><i class="icon-map-marker"></i></span>
              <%= f.text_field :country, :value => current_user.country, :placeholder => "Country" %>
              <%= f.text_field :citybirth, :value => current_user.citybirth, :placeholder => "City" %>
            </div>
            <!--Date-->
            <div id="divDate" class="input-prepend">
              <div class="input-prepend date" id="dp2" data-date="<%= current_user.birth ? current_user.birth.strftime("%d-%m-%Y") : '01-01-1990' %>" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
                <span class="add-on"><i class="icon-calendar"></i></span>
                <%= f.text_field :birth, :value => current_user.birth ? current_user.birth.strftime("%d-%m-%Y") : nil, :class => "span2", :placeholder => "Date birth" %>
              </div>
            </div>
            <!--Description-->
            <div class="input-prepend">
              <span class="add-on"><i class="icon-pencil"></i></span>
              <%= f.text_area :resume, :class => "span5", :value => current_user.resume, :placeholder => "Describe your skills & attributes", :rows => 4, :validation => 'lengthMax255' %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
    <%= form_tag({:controller => 'users', :action => 'add_iam_tag'}, :id => "userIamForm", :class => "fix-top") do  %>
        <ul class="tags-textbox" id="iam">
          <li><input type="text" id="tags_user_iam" class="tags pull-left" placeholder="I'm a...(max 2)"></li>
        </ul>
        <input type="hidden" name="tags[user_id]" value="<%= current_user.id if signed_in? %>">
    <% end %>
    <button id="edit_user_cancel" class="btn pull-right">Cancel</button> <button id="edit_user_submit" name="commit" class="btn btn-success pull-right"><b>Save</b></button>
    <div class="clearfix"></div>

  </div>
<% if signed_in? && (@user.following?(current_user) || current_user.id == @user.id) %>
    <div class="resume user">
      <% if flash[:success] %>
          <div class="alert alert-success index-flash">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%=  flash[:success] %>
          </div>
      <% end %>
      <div class="row-fluid">
        <div class="span7">
          <p><%= @user.resume %></p>
        </div>

        <div class="span5">
          <ul>
            <% if signed_in? && @user.id == current_user.id  %>
                <li>Interests
                  <i class='icon-pencil pull-right link-on link-tag' id='edit-tags-link'></i>
                </li>
            <% end %>
            <% if @user.tags? %>
                <% if @user.id != current_user.id %><li>Interests</li><% end %>
                <% if @user.tags("GLOBAL_TAGS_LOOKING") && @user.tags("GLOBAL_TAGS_LOOKING").length > 0 %>
                    <li>I'm looking for
                      <% @user.tags("GLOBAL_TAGS_LOOKING").each do |tag|%>
                          <a href="#"><%= GLOBAL_TAGS_LOOKING[tag.to_i] %></a>
                      <% end %>
                    </li>
                <% end %>
                <% if @user.tags("GLOBAL_TAGS_INTEREST") && @user.tags("GLOBAL_TAGS_INTEREST").length > 0 %>
                    <li><i class="icon-book"></i>
                      <% @user.tags("GLOBAL_TAGS_INTEREST").each do |tag|%>
                          <a href="#"><%= GLOBAL_TAGS_INTEREST[tag.to_i] %></a>
                      <% end %>
                    </li>
                <% end %>
                <% if @user.tags("GLOBAL_TAGS_DIVISION") && @user.tags("GLOBAL_TAGS_DIVISION").length > 0 %>
                    <li><i class="icon-tag"></i>
                      <% @user.tags("GLOBAL_TAGS_DIVISION").each do |tag|%>
                          <a href="#"><%= GLOBAL_TAGS_DIVISION[tag.to_i] %></a>
                      <% end %>
                    </li>
                <% end %>
            <% end %>
            <!-- <li><i class="icon-map-marker"></i><a href="#">Santiago</a><a href="#">Viña del Mar</a></li> -->
          </ul>
        </div>

      </div>
    </div><!--resume-->

    <div id="edit-tags" class="hidden resume">
      <%= form_for current_user, :html => {:class => "edit_user", :id => "edit_tags_form"} do |f| %>
          <legend>Edit Resume & Tags</legend>
          <div class="main-fields">
            <!--Description -->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-pencil"></i></span>
          <%= f.text_area :resume, :class => "span5", :value => current_user.resume, :placeholder => "Describe your skills & attributes", :rows => 4, :validation => 'lengthMax255' %>
        </div>
          </div>
      <% end %>
      <%= form_tag({:controller => 'users', :action => 'add_user_tag'}, :id => "userTagsForm", :class => "fix-top") do  %>
          <ul class="tags-textbox" id="looking">
            <li><input type="text" id="tags_user_looking" class="tags pull-left" placeholder="What I'm looking for? (max 2)"></li>
          </ul>
          <ul class="tags-textbox" id="interest">
            <li><input type="text" id="tags_user_interest" class="tags pull-left" placeholder="Areas of interest (max 4)"></li>
          </ul>
          <ul class="tags-textbox" id="division">
            <li><input type="text" id="tags_user_division" class="tags pull-left" placeholder="Division of interest"></li>
          </ul>
          <input type="hidden" name="tags[user_id]" value="<%= current_user.id if signed_in? %>">
      <% end %>
      <button id="edit_tags_cancel" class="btn pull-right">Cancel</button> <button id="edit_tags_submit" name="commit" class="btn btn-success pull-right"><b>Save</b></button>
      <div class="clearfix"></div>
    </div>
    
    <div class="resume">
      <h4 class="inline">Jock Information</h4>
      
    <% if signed_in? && current_user.id == @user.id %>
      <a href="#" class="add-new pull-right"><span>+</span>Add Sport Experience</a>
      <%= render 'profile_form'  %>
    <% elsif current_user.id == @user.id %>
      <p>You must be logged in to complete your profile!</p>
    <% end %>
    
  <% if @athleteExperiences.any?  %>
    <% @athleteExperiences.each do |sport_id, experiences| %>
      <h4 class="sportname"><%= Sport.find(sport_id).first_parent_name %></h4>
      <% experiences.collect do |experience| %>
        <%= render experience %>
      <% end %>
    <% end %>
  <% end %>
    </div><!--resume-->
    
    <div class="resume">
      <h4 class="inline">Working Experience</h4>
      
    <% if signed_in? && current_user.id == @user.id %>
      <a href="#" class="add-new pull-right"><span>+</span>Add Work Experience</a>
      <%= render 'working_profile_form'  %>
    <% elsif current_user.id == @user.id %>
      <p>You must be logged in to complete your profile!</p>
    <% end %>
      
    <% if @works.any?  %>
      <%= render @works %>
    <% end %>
    </div><!--resume-->
    
    <div class="resume">
      <h4 class="inline">Education</h4>
      
    <% if signed_in? && current_user.id == @user.id %>
      <a href="#" class="add-new pull-right"><span>+</span>Add Education</a>
      <%= render 'educations/form' %>
    <% elsif current_user.id == @user.id %>
      <p>You must be logged in to complete your profile!</p>
    <% end %>
    
    <% if @educations.any?  %>
      <%= render @educations %>
    <% end %>
    </div><!--resume-->
<% end %>
</div>

<div class="box-connect box-contact span3 box">
  <%= render 'layouts/rightbox' %>
</div><!--box-connect-->

<%= render 'layouts/invitebox' %>

<%= render 'layouts/viewed' if @user.id == current_user.id %>
  
</div>
</div><!-- /.container -->

<div class="edit-experience pull-right hide">
<% if signed_in? && @user.id == current_user.id %>
  <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-cog"></i></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a href="#" class="edit-experience-button"><i class="icon-pencil"></i> Edit</a></li>
    <li class="hide"><a href="#" class="highlight-button"><i class="icon-star"></i> Highlight</a></li>
    <li class="divider"></li>
    <li><a href="#" class="delete-experience-button"><i class="icon-remove"></i> Delete</a></li>
  </ul>
<% end %>
</div>

<div class="resume async-form hide">
  
</div>

<div class="alert alert-block alert-delete hide">
  <h4><i class="icon-warning-sign"></i>Warning!</h4>
  This action will remove permanently this sport information. Are you sure to continue?
  
  <button class="btn btn-cancel pull-right">Cancel</button>
  <button class="btn btn-confirm pull-right"><i class="icon-remove-sign"></i> Delete</button>
  
  <div class="clearfix"></div>
</div>

<%=  render 'photos/photo_modal' %>
<%=  render 'videos/video_modal' %>
<%=  render 'events/event_modal' %>
<%=  render :partial => 'photos/profile_picture', :locals => {:photos => @photos} %>
<%=  render 'layouts/invite' %>
<%=  render 'photos/modal_gallery' %>


<!-- Le javascript
================================================== -->

<script>
    $(document).ready(function(){
        $('#video-submit').click(function(){
            $("#new_video").submit();
        });
        <% if signed_in? && current_user.id == @user.id %>
        $('#edit_user_submit').click(function(){
            $.post($("#edit_user_<%= @user.id %>").attr("action"), $("#edit_user_<%= @user.id %>").serialize(),
                    function() {
                        $.post($("#userIamForm").attr("action"), $("#userIamForm").serialize(),
                                function() {
                                    location.reload();
                                });
                    });
        });
        $('#edit_tags_submit').click(function(){
            $.post($("#edit_tags_form").attr("action"), $("#edit_tags_form").serialize(),
                    function() {
                        $.post($("#userTagsForm").attr("action"), $("#userTagsForm").serialize(),
                                function() {
                                    location.reload();
                                });
                    });
        });
        <% end %>

        //GLOBAL_TAGS_IAM
        $( "#tags_user_iam" )
                .bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).data( "ui-autocomplete" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .on( "click", function( event ) {
                    $(this).autocomplete("search", "");
                })
                .autocomplete({
                    source: tagsUserIamArray,
                    minLength: 0,
                    messages: {
                        noResults: '',
                        results: function() {}
                    } ,
                    select: function( event, ui ) {
                        $("#iam").append('<span style="margin-right: 2px; margin-top: 2px; display: inline;" class="label label-success pull-left">' + ui.item.label + ' <input type="hidden" name="tags[iam][]" value="' + ui.item.value + '"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
                        $("#tags_user_iam").attr("value", "");
                        if($("#iam").children("span.label").length > 1){
                            $(this).hide();
                        }
                        return false;
                    } ,
                    focus: function( event, ui ) {
                        return false;
                    }
                });

        //GLOBAL_TAGS_LOOKING
        $( "#tags_user_looking" )
                .bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).data( "ui-autocomplete" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .on( "click", function( event ) {
                    $(this).autocomplete("search", "");
                })
                .autocomplete({
                    source: tagsUserLookingArray,
                    minLength: 0,
                    messages: {
                        noResults: '',
                        results: function() {}
                    } ,
                    select: function( event, ui ) {
                        $("#looking").append('<span style="margin-right: 2px; margin-top: 2px; display: inline;" class="label label-success pull-left">' + ui.item.label + ' <input type="hidden" name="tags[looking][]" value="' + ui.item.value + '"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
                        $("#tags_user_looking").attr("value", "");
                        if($("#looking").children("span.label").length > 1){
                            $(this).hide();
                        }
                        return false;
                    } ,
                    focus: function( event, ui ) {
                        return false;
                    }
                });

        //GLOBAL_TAGS_INTEREST
        $( "#tags_user_interest" )
                .bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).data( "ui-autocomplete" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .on( "click", function( event ) {
                    $(this).autocomplete("search", "");
                })
                .autocomplete({
                    source: tagsUserInterestArray,
                    minLength: 0,
                    messages: {
                        noResults: '',
                        results: function() {}
                    } ,
                    select: function( event, ui ) {
                        $("#interest").append('<span style="margin-right: 2px; margin-top: 2px; display: inline;" class="label label-success pull-left">' + ui.item.label + ' <input type="hidden" name="tags[interest][]" value="' + ui.item.value + '"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
                        $("#tags_user_interest").attr("value", "");
                        if($("#interest").children("span.label").length > 3){
                            $(this).hide();
                        }
                        return false;
                    } ,
                    focus: function( event, ui ) {
                        return false;
                    }
                });

        //GLOBAL_TAGS_DIVISION
        $( "#tags_user_division" )
                .bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).data( "ui-autocomplete" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .on( "click", function( event ) {
                    $(this).autocomplete("search", "");
                })
                .autocomplete({
                    source: tagsUserDivisionArray,
                    minLength: 0,
                    messages: {
                        noResults: '',
                        results: function() {}
                    } ,
                    select: function( event, ui ) {
                        $("#division").append('<span style="margin-right: 2px; margin-top: 2px; display: inline;" class="label label-success pull-left">' + ui.item.label + ' <input type="hidden" name="tags[division][]" value="' + ui.item.value + '"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
                        $("#tags_user_division").attr("value", "");
                        return false;
                    } ,
                    focus: function( event, ui ) {
                        return false;
                    }
                });

        <% if current_user.tags("GLOBAL_TAGS_IAM") && current_user.tags("GLOBAL_TAGS_IAM").length > 0 %>
        <% current_user.tags("GLOBAL_TAGS_IAM").each do |tag|%>
        $(document).find("#iam").append('<span style="margin-right: 2px; margin-top: 2px; display: inline;" class="label label-success pull-left"><%= GLOBAL_TAGS_IAM[tag.to_i] %> <input type="hidden" name="tags[iam][]" value="<%= tag.to_i %>"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
        if($("#iam").children("span.label").length > 1){
            $(document).find("#tags_user_iam").hide();
        }
        <% end %>
        <% end %>

        <% if current_user.tags("GLOBAL_TAGS_LOOKING") && current_user.tags("GLOBAL_TAGS_LOOKING").length > 0 %>
        <% current_user.tags("GLOBAL_TAGS_LOOKING").each do |tag|%>
        $(document).find("#looking").append('<span style="margin-right: 2px; margin-top: 2px; display: inline;" class="label label-success pull-left"><%= GLOBAL_TAGS_LOOKING[tag.to_i] %> <input type="hidden" name="tags[looking][]" value="<%= tag.to_i %>"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
        if($("#looking").children("span.label").length > 1){
            $(document).find("#tags_user_looking").hide();
        }
        <% end %>
        <% end %>

        <% if current_user.tags("GLOBAL_TAGS_INTEREST") && current_user.tags("GLOBAL_TAGS_INTEREST").length > 0 %>
        <% current_user.tags("GLOBAL_TAGS_INTEREST").each do |tag|%>
        $(document).find("#interest").append('<span style="margin-right: 2px; margin-top: 2px; display: inline;" class="label label-success pull-left"><%= GLOBAL_TAGS_INTEREST[tag.to_i] %> <input type="hidden" name="tags[interest][]" value="<%= tag.to_i %>"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
        if($("#interest").children("span.label").length > 3){
            $(document).find("#tags_user_interest").hide();
        }
        <% end %>
        <% end %>

        <% if current_user.tags("GLOBAL_TAGS_DIVISION") && current_user.tags("GLOBAL_TAGS_DIVISION").length > 0 %>
        <% current_user.tags("GLOBAL_TAGS_DIVISION").each do |tag|%>
        $(document).find("#division").append('<span style="margin-right: 2px; margin-top: 2px; display: inline;" class="label label-success pull-left"><%= GLOBAL_TAGS_DIVISION[tag.to_i] %> <input type="hidden" name="tags[division][]" value="<%= tag.to_i %>"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
        <% end %>
        <% end %>

        $("#userTagsForm").delegate(".close", "click", function () {
            $(this).parent("span.label").siblings("li").children("input").show();
            $(this).closest('span.label').remove();
        });
        $("#userIamForm").delegate(".close", "click", function () {
            $(this).closest('span.label').remove();
            $("#tags_user_iam").show();
        });
        $('#edit-tags-link').click(function(){
            $('#edit-tags').toggle("normal").toggleClass("hidden");
        });
        $('#edit_tags_cancel').click(function(e){
            e.preventDefault();
            $('#edit-tags-link').click();
        });
    });
    var tagsUserIamArray = <%= GLOBAL_TAGS_IAM.map{|p| {:label=>p[1], :value=>p[0]}}.to_json.html_safe %>;
    var tagsUserLookingArray = <%= GLOBAL_TAGS_LOOKING.map{|p| {:label=>p[1], :value=>p[0]}}.to_json.html_safe %>;
    var tagsUserInterestArray = <%= GLOBAL_TAGS_INTEREST.map{|p| {:label=>p[1], :value=>p[0]}}.to_json.html_safe %>;
    var tagsUserDivisionArray = <%= GLOBAL_TAGS_DIVISION.map{|p| {:label=>p[1], :value=>p[0]}}.to_json.html_safe %>;
</script>
<!-- Placed at the end of the document so the pages load faster -->