<%= form_tag({:controller => 'users', :action => 'add_new'}, :id => 'new-profile-entry') do  %>
    <fieldset>

      <%= select_tag :sport_id, options_for_select([['Athletics',1]])  %>
      <%= hidden_field_tag :user_id, current_user.id %>

      <div id="divAward" class="hiddenDiv">
        <%= text_field_tag :award_title, nil, :placeholder => "Award Title" %>
        <%= text_field_tag :award_by, nil, :placeholder => "Award By" %>
      </div>

      <div id="divResult" class="hiddenDiv">
        <%= text_field_tag :result_position, nil, :placeholder => "Result Position" %>
        <%= text_field_tag :result_value, nil, :placeholder => "Value" %>
        <%= text_field_tag :result_var, nil, :placeholder => "Variable" %>

        <%= text_field_tag :competition_name, nil, :placeholder => "Competition Name" %>
      </div>

      <div id="divTeam" class="hiddenDiv">
        <%= text_field_tag :team_name, nil, :placeholder => "Team Name" %>
        <%= text_field_tag :team_category, nil, :placeholder => "Category" %>
      </div>

      <div id="divTrain" class="hiddenDiv">
        <%= text_field_tag :train_name, nil, :placeholder => "Trainer Name" %>
      </div>

      <div id="divLocation" class="hiddenDiv">
        <%= text_field_tag :city, nil, :placeholder => "City" %>
        <%= text_field_tag :country, nil, :placeholder => "Country" %>
      </div>

      <div id="divDate">
        <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
          <%= text_field_tag :init, "12-02-2012" %>
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        <div class="input-append date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
          <%= text_field_tag :end, "12-02-2012" %>
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>

      <script>
          !function ($) {
              $(function(){
                  $('#dp3').datepicker()
                  $('#dp4').datepicker()
              })
          }(window.jQuery)
      </script>

    </fieldset>
<%  end %>