<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "load-image" %>
<%= javascript_include_tag "bootstrap-image-gallery" %>
<%= stylesheet_link_tag    "bootstrap-image-gallery" %>

<% provide(:title, @user.name) %>

<div class="container">
<div class="row">
<div class="box box-media span3 event-single">
  <div class="img-polaroid">
    <%=	link_to image_tag(@user.profilepic, :class => 'user-profile'), '#' %>
    <% if signed_in? && @user.inAdmins?(current_user) %>
    <div class="dropdown">
      <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-pencil"></i> Change Photos</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="#profilePictureModal" data-toggle="modal"><i class="icon-picture"></i> Choose profile pic</a></li>
        <li><a href="#bgPictureModal" data-toggle="modal"><i class="icon-picture"></i> Choose background pic</a></li>
        <li><a href="#photoModal" data-toggle="modal"><i class="icon-arrow-up"></i> Upload a photo</a></li>
      </ul>
     </div>
    <% end %>
  </div>
  <div class="event-info">
    <h5><i class="icon-building"></i>Industry<span><%= @user.preferences[:industries].join(", ") %></span></h5>
    <h5>
      <i class="icon-calendar"></i>Founded<span><%= ( @user.birth && @user.birth != "" ) ? @user.birth.year : "?" %></span>
    </h5>
    <h5>
      <i class="icon-map-marker"></i>Headquarters<span><%= @user.citybirth ? @user.citybirth : "Location" %>, <%= @user.country ? @user.country : "Country" %></span>
    </h5>
    <!--<h5><i class="icon-group"></i>Size<span><%= @user.preferences[:size] %> employees</span></h5>-->
    
  <% if @user.inAdmins?(current_user) %>
    <h5><i class="icon-group"></i>Admins</h5>
    <div class="sponsor-pictures employees">
    <% @user.admins.each do |admin| %>
      <%= link_to image_tag(admin.profilephotourl, :title => admin.full_name), '#' %>
    <% end %>
    </div>
    <div class="input-prepend input-append">
      <span class="add-on"><i class="icon-user"></i></span>
      <input type="hidden" id="admin_id" name="admin_id" value="">
      <input type="text" class="typeahead users span2" placeholder="Add user as admin" data-provide="typeahead">
      <button class="btn btn-add-admin" type="button">Add</button>
    </div>
    <script>
      $(document).ready(function(){
        var results = {};
        
        $(".typeahead.users").typeahead({
          source: function (query, process) {
            return $.get('/typeahead', { type: "User", query: query }, function (data) {
              results = data.options;
              
              var arr = $.map(data.options, function(el, i) {
                return el.name + " " + el.lastname;
              });
              console.log(results);
              return process(arr);
            });
          },
          updater: function(item){
            user = $.grep(results, function(element, index){
              return element.name + " " + element.lastname == item;
            })[0];
            
            $("input[name=admin_id]").val(user.id);
            
            return item;
          }
        });
        
        $(".btn-add-admin").click(function(){
          if($("input[name=admin_id]").val() != ""){
            var data = {};
            data["admin_id"] = $("input[name=admin_id]").val();
            
            $.post("/profile/<%= @user.id %>/add_admin", data, function(){
              location.href = "/profile/<%= @user.id %>";
            });
          }
        });
      });
    </script>
  <% end %>
  
    <h5><i class="icon-camera"></i><%= link_to 'Pictures' , pictures_path(@user) %></h5>
    <div class="event-pictures">
      <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
      <%  @photos.take(6).each do |photo| %>
          <% if photo.url != @user.profilephotourl %>
            <%= link_to image_tag(photo.url) , photo.url, "data-gallery" => "gallery" %>
          <% end %>
      <%  end %>
      </div>
    </div><!--user-pictures-->
    
    <h5 class="white">
      <%= @photos.count %> pictures
      <%= link_to 'see more' , pictures_path(@user) %>
      <% if @user.inAdmins?(current_user) %>
      <a href="#photoModal" data-toggle="modal" role="button" id="btn-photo" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
      <% end %>
    </h5>
    
    <h5><i class="icon-facetime-video"></i><a href="#">Videos</a></h5>
    <div class="user-video">
      <%  @videos.take(3).each do |video| %>
          <%= raw(youtube_embed(video.url,270,200, true)) %>
      <%  end %>
    </div><!--user-video-->

    <h5 class="white">
      <%= @videos.count %> videos
      <%= link_to 'see more' , pictures_path(@user) %>
      <% if @user.inAdmins?(current_user) %>
      <a href="#videoModal" data-toggle="modal" role="button" id="btn-video" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
      <% end %>
    </h5>
  </div><!--event info-->
</div><!--box-media-->

<div class="span9 company-header" <% if @user.preferences[:bgpicture] %>style="background-image: url('<%= @user.preferences[:bgpicture] %>')"<% end %>>

</div><!-- /profileIcons -->

<div class="profileInfo relative span9">
  <div class="user">
    <% if signed_in? && @user.inAdmins?(current_user)  %>
      <%= link_to(edit_sponsor_path(@user), :class => "pull-right link-on", :style => "list-style: none; padding-top: 20px;") do %>
        <i class='icon-pencil icon-2x'></i>
      <% end %>
    <% end %>
    
    <h2><%= @user.name %></h2>
    <p>
      <i class="icon-globe icon-large"></i>
      <%= link_to @user.preferences[:url], @user.preferences[:url] %>
    </p>
  </div><!--user-->
  <div class="connections action-buttons span3">
    
    <%=	 render 'follow_form' if signed_in? %>
    
  </div>
</div><!-- /profileInfo -->

<div class="box box-info span6 company">
  <div class="resume">
    <p><%= @user.resume %></p>
  </div><!--resume-->
  
  <div class="post resume">
    <ul class="important-info">
      <li><!--Followers-->
        <%= link_to(social_path(@user)) do %>
          <div class="img-polaroid">
            <p><i class="icon-eye-open"></i> <%= @user.followers.count %></p>
          </div><!--frame-->
          <span class="title-info">Followers</span>
        <% end %>
      </li>
      <li><!--Events-->
        <a href="#">
          <div class="img-polaroid">
            <p><i class="icon-calendar"></i></p>
            <div class="photo-cover-event"></div><!--se usa la imagen como background-image-->
          </div><!--frame-->
          <span class="title-info">Events</span>
        </a>
      </li>
      <li><!--Photos-->
        <%= link_to(pictures_path(@user)) do %>
          <div class="img-polaroid">
            <p><i class="icon-camera"></i></p>
            <div class="photo-cover-photos"></div><!--se usa la imagen como background-image-->
          </div><!--frame-->
          <span class="title-info">Photos</span>
        <% end %>
      </li>
      <li><!--Video-->
        <%= link_to(pictures_path(@user)) do %>
          <div class="img-polaroid">
            <p><i class="icon-facetime-video"></i></p>
          </div><!--frame-->
          <span class="title-info">Videos</span>
        <% end %>
      </li>
    </ul>
    
    <hr>
      
    <div id="latest-post">
  <% if signed_in? && @user.inAdmins?(current_user)  %>
    <%= form_tag(add_post_path(@user), :id => "new_post", :multipart => true, :accept => "image/gif,image/png,image/jpg") do %>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-post">
          <textarea name="post_content" id="post_content" class="input-block-level" rows="3" placeholder="Write a post"></textarea>
          <div class="fileupload-preview thumbnail fileupload-exists"></div>
          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
        </div>
        <ul class="post-actions">
          <li><a href="javascript:void(0)" class="btn-file"><i class="icon-camera"></i><input type="file" name="post_picture" id="post_picture" accept="image/*" /></a></li>
          <li><a href="#"><i class="icon-facetime-video"></i></a></li>
          <li class="pull-right"><button type="submit" class="btn btn-success"><b>Post</b></button></li>
        </ul><!--post-actions-->
      </div>
    <% end %>
  <% end %>
      
    <% if @posts.count > 0 %>
      <ul>
      <% @posts.each do |post| %>
        <% user = post.user%>
        <li>
          <a class="img-polaroid">
            <%= image_tag(user.profilepic) %>
          </a>
          <div class="single-post">
            <h1 class="single-title"><%= user.full_name%></h1>
            <p>
              <%= raw(post.content) %>
            </p>
            <p>
              <small>
                <a href="#">Like <i class="icon-trophy icon-large icon-gray"></i></a>
                <%= time_ago_in_words(post.created_at) %> ago
              </small>
            </p>
            <!--comentarios-->
            <ul class="comments">
              <li class="view-more">
                <i class="icon-comments"></i>
                <p><small>Be the first to comment</small></p>
              </li>
              <% if signed_in? %>
              <li>
                <a class="img-rounded">
                  <%= image_tag(current_user.profilephotourl, :title => current_user.full_name) %>
                </a>
                <div class="single-comment">
                  <textarea class="input-block-level" rows="3" placeholder="Write a comment"></textarea>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
      </ul>
    <% else %>
      <h3>No posts found.</h3>
    <% end %>
    </div><!-- #latest-post -->
  </div><!--post resume-->
</div><!--span6 company-->

<div class="box box-connect span3">
  <div class="box-content">
    <h4><span><%= @user.followers.count %></span> Followers</h4>
    <ul class="sponsor-main">
    <%  @user.followers.sample(4).each do |user| %>
      <li>
        <div class="img-container">
          <%= image_tag user.profilepic %>
        </div>
        <div class="metadata">
          <%= link_to user.full_name, user %>
          <p class="block"><%= user.followers.count.to_s %> followers</p>
        </div>
      </li>
    <% end %>
    </ul>
    <%= link_to "See more", social_path(@user), :class=> "align-right" %>
  </div><!--box-content-->
</div><!--box-connect-->
</div>

</div><!-- /.container -->

<%=  render 'photos/modal_gallery' %>
<%=  render 'photos/photo_modal' %>
<%=  render 'videos/video_modal' %>
<%=  render :partial => 'photos/profile_picture', :locals => {:photos => @photos} %>
<%=  render :partial => 'photos/bg_picture', :locals => {:photos => @photos} %>