<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "users_validations" %>

<% provide(:title, @user.full_name) %>

<div class="container">
<div class="row">
<div class="box box-media span3">
  <div class="img-polaroid">
    <%= link_to image_tag(@user.profilephotourl, :class => "user-profile"), '#' %>
       <% if signed_in? && @user.id == current_user.id %>
        <div class="dropdown">
          <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-pencil"></i> Change Photo</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#profilePictureModal" data-toggle="modal"><i class="icon-picture"></i> Choose from photos</a></li>
            <li><a href="#photoModal" data-toggle="modal"><i class="icon-arrow-up"></i> Upload a photo</a></li>
            <!-- <li><a><i class="icon-pencil"></i> Edit thumbnail</a></li> -->
            <li><a><i class="icon-remove"></i> Remove</a></li>
          </ul>
        </div>
       <% end %>
  </div>
  <!-- begin Pictures -->
  <div class="event-info">
    <!-- <h5><i class="icon-star"></i>Featured info</h5> -->
    <h5><i class="icon-camera"></i><%= link_to 'Pictures' , pictures_path(@user) %></h5>
    <div class="event-pictures">
      <%  @photos.take(6).each do |photo| %>
          <%	 if photo.url != @user.profilephotourl %>
                  <%= link_to image_tag(photo.url) , '#' %>
          <% end %>
      <%  end %>
    </div><!--user-pictures-->
    <h5 class="white">
      <%= @photos.count %> pictures
      <%= link_to 'see more' , pictures_path(@user) %>
      <% if signed_in? && @user.id == current_user.id %>
      <a href="#photoModal" data-toggle="modal" role="button" id="btn-photo" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
      <% end %>
    </h5>
    <h5><i class="icon-facetime-video"></i><a href="#">Videos</a></h5>
    <div class="user-video">
      <%  @videos.take(3).each do |video| %>
          <%= raw(youtube_embed(video.url,270,200, true)) %>
      <%  end %>
    </div><!--user-video-->

    <h5 class="white">
      <%= @videos.count %> videos
      <%= link_to 'see more' , pictures_path(@user) %>
      <% if signed_in? && @user.id == current_user.id %>
      <a href="#videoModal" data-toggle="modal" role="button" id="btn-video" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
      <% end %>
    </h5>
  </div>
</div><!--box-media-->
<ul class="profileIcons span9">
  <li><i class="icon-eye-open icon-white"></i><%= link_to @user.followers.count.to_s + " followers", social_path(@user) %><%= link_to  "following " + @user.followed_users.count.to_s, social_path(@user, :following => true) %></li>
  <li><i class="icon-camera icon-white"></i><%= link_to @photos.count.to_s + ' pictures' , pictures_path(@user) %></li>
  <li><i class="icon-facetime-video icon-white"></i><%= link_to @videos.count.to_s + ' videos' , pictures_path(@user) %></li>
  <li><i class="icon-calendar icon-white"></i><%= link_to @events.count.to_s + ' events' , '#eventModal', :data => {:toggle => "modal"}, :role => "button" %></li>
</ul><!-- /profileIcons -->
<div class="profileInfo relative span9">
  <div class="user">
    <% if signed_in? && @user.id == current_user.id  %>
      <%= link_to('#', :class => "pull-right link-on", :style => "list-style: none; padding-top: 20px;", :id => "edit-profile-link") do %>
        <i class='icon-pencil icon-2x'></i>
      <% end %>
    <% end %>
    
    <h2><%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :name, :type => :input, :inner_class => "nameInput" %> <%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :lastname, :type => :input, :inner_class => "nameInput"  %></h2>
    <p><b><%= @user.sport_show %> </b><%  if @user.birth && @user.birth != "" %><%= @user.age  %> years, <%else%> Age not verified, <%  end %>
      <%  if @user.citybirth != "" %> <%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :citybirth, :type => :input, :inner_class => "locationInput" %>,
          <%  end %><%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :country, :type => :input, :inner_class => "locationInput" %>
    </p>
  </div><!--user-->
  <div class="connections action-buttons span3">
    
    <%=	 render 'follow_form' if signed_in? %>
    
  </div>
</div><!-- /profileInfo -->

<div class="box box-info span6">
<script>
$(document).ready(function(){
  $('#video-submit').click(function(){
    $("#new_video").submit();
  });
});
</script>
  <div id="edit-profile" class="hidden resume">
  <%= form_for current_user, :class => "edit_user" do |f| %>
      <legend>Edit Profile</legend>
      <div class="main-fields">
        <!--First Name-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <%= f.text_field :name, :value => current_user.name, :placeholder => "Name", :validation => 'required notBlank' %>
        </div>
        <!--Last Name-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <%= f.text_field :lastname, :value => current_user.lastname, :placeholder => "Last Name", :validation => 'required notBlank' %>
        </div>
        <!--Sport-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-circle"></i></span>
          <%= render :partial => 'sports/autocomplete', :locals => { :sport_id => current_user.get_sport_id_main } %>
        </div>
        <br />
        <!--Gender-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-file"></i></span>
          <%= f.select(:gender, [['Select a gender', nil], ['Male', 'M'], ['Female', 'F']], {:class => 'span3'}) %>
        </div>
        <br />
        <!--Height-->
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-file"></i></span>
          <%= f.text_field :height, :value => current_user.height, :placeholder => "Heigth", :class => "span1" %>
          <span class="add-on">inches</span>
        </div>
        <!--Weight-->
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-file"></i></span>
          <%= f.text_field :weight, :value => current_user.weight, :placeholder => "Weigth", :class => "span1" %>
          <span class="add-on">pounds</span>
        </div>
        <!--Location-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-map-marker"></i></span>
          <%= f.text_field :country, :value => current_user.country, :placeholder => "Country" %>
          <%= f.text_field :citybirth, :value => current_user.citybirth, :placeholder => "City" %>
        </div>
        <!--Date-->
        <div id="divDate" class="input-prepend">
          <div class="input-prepend date" id="dp2" data-date="<%= current_user.birth ? current_user.birth.strftime("%d-%m-%Y") : '01-01-1990' %>" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= f.text_field :birth, :value => current_user.birth ? current_user.birth.strftime("%d-%m-%Y") : nil, :class => "span2", :placeholder => "Date birth" %>
          </div>
        </div>
        <!--Description-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-pencil"></i></span>
          <%= f.text_area :resume, :class => "span5", :value => current_user.resume, :placeholder => "Describe your skills & attributes", :rows => 4, :validation => 'lengthMax255' %>
        </div>
      </div>
      
      <button id="edit_user_cancel" class="btn pull-right">Cancel</button> <button type="submit" name="commit" class="btn btn-success pull-right"><b>Save</b></button>
      <div class="clearfix"></div>
  <% end %>
  </div>
<% if signed_in? && (@user.following?(current_user) || current_user.id == @user.id) %>
    <div class="resume">
      <%= @user.resume %>
    </div><!--resume-->
    <div class="resume">
      <h4>Jock Information</h4>
      <% if signed_in? && current_user.id == @user.id %>
          <div class="accordion" id="accordion3"> <!--mapa-->
            <div class="accordion-group events-filter">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion3" href="#collapseAdd">
                  <span>+</span>Add Sport Experience
                </a>
              </div>
              <div id="collapseAdd" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <%	 if signed_in? %>
                      <%= render 'profile_form'  %>
                  <%	 else %>
                      <p>You must be logged in to complete your profile!</p>
                  <%	 end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      
      <%	if @athleteExperiences.any?  %>
          <%=	 render @athleteExperiences %>
      <%	end %>
    </div><!--resume-->
    <div class="resume">
      <h4>Working Experience</h4>
      <% if signed_in? && current_user.id == @user.id %>
          <div class="accordion" id="accordion4"> <!--mapa-->
            <div class="accordion-group events-filter">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion4" href="#collapseAdd2">
                  <span>+</span>Add Working Experience
                </a>
              </div>
              <div id="collapseAdd2" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <% if signed_in? %>
                    <%= render 'working_profile_form'  %>
                  <% else %>
                    <p>You must be logged in to complete your profile!</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      
      <%	if @works.any?  %>
          <%=	 render @works %>
      <%	end %>
    </div><!--resume-->
    <div class="resume">
      <h4>Education</h4>
      <% if signed_in? && current_user.id == @user.id %>
          <div class="accordion" id="accordion5"> <!--mapa-->
            <div class="accordion-group events-filter">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion5" href="#collapseAdd3">
                  <span>+</span>Add Education
                </a>
              </div>
              <div id="collapseAdd3" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <% if signed_in? %>
                    <%= render 'educations/form' %>
                  <% else %>
                    <p>You must be logged in to complete your profile!</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      
      <%	if @educations.any?  %>
          <%=	 render @educations %>
      <%	end %>
    </div><!--resume-->
<% end %>
</div>

<div class="box-connect box-contact span3 box">
  <%= render 'layouts/rightbox' %>
</div><!--box-connect-->
</div>
</div><!-- /.container -->

<div class="edit-experience pull-right">
<% if signed_in? && @user.id == current_user.id %>
  <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-cog"></i></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a href="#" class="edit-experience-button"><i class="icon-pencil"></i> Edit</a></li>
    <li><a href="#" class="delete-experience-button"><i class="icon-remove"></i> Delete</a></li>
  </ul>
<% end %>
</div>

<div class="resume async-form">
  
</div>

<div class="alert alert-block alert-delete hide">
  <h4><i class="icon-warning-sign"></i>Warning!</h4>
  This action will remove permanently this sport information. Are you sure to continue?
  
  <button class="btn btn-cancel pull-right">Cancel</button>
  <button class="btn btn-confirm pull-right"><i class="icon-remove-sign"></i> Delete</button>
  
  <div class="clearfix"></div>
</div>

<%=  render 'photos/photo_modal' %>
<%=  render 'videos/video_modal' %>
<%=  render 'events/event_modal' %>
<%=  render :partial => 'photos/profile_picture', :locals => {:photos => @photos} %>
<%=  render 'layouts/invite' %>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->