<%= form_tag({:controller => 'users', :action => 'add_new'}, :id => @edit_profile ? 'edit-profile-entry' : 'new-profile-entry', :class => @edit_profile ? "" : "hidden") do  %>
<fieldset>
<%= hidden_field_tag :user_id, current_user.id %>

    <legend>What do you want to add?</legend>
    <div class="header-buttons">
        <a><button class="btn-success hito-click" data-block="train">
            <i class="icon-user icon-2x"></i>
            Training
        </button></a>
        <a><button class="btn-success hito-click" data-block="team">
            <i class="icon-group icon-2x"></i>
            Team
        </button></a>
        <a><button class="btn-success hito-click" data-block="result">
            <i class="icon-trophy icon-2x"></i>
            Result
        </button></a>
        <a><button class="btn-success hito-click" data-block="recognition">
            <i class="icon-bookmark icon-2x"></i>
            Award
        </button></a>
    </div>

    <div class="input-prepend _js-sport" data-validate='["sport_id"]'>
        <span class="add-on"><i class="icon-circle-blank"></i></span>
        <% if @edit_profile %>
            <%= hidden_field_tag :edit_profile, true %>
            <%= render :partial => 'sports/autocomplete', :locals => { :sport_id => @sport_id } %>
        <% else %>
            <%= render :partial => 'sports/autocomplete', :locals => { :sport_id => nil } %>
        <% end %>
    </div>

    <div class="<% unless @train.id? %>hiddenDiv<% end %> input-prepend _js-train" data-validate='["train_name"]' id="div-train">
        <span class="add-on"><i class="icon-user"></i></span>
        <select>
          <option>Trained by</option>
        </select>
        <%= hidden_field_tag :train_id, @train.id if @train.id? %>
        <%= text_field_tag :train_name, @train.name, :placeholder => "Trainer Name" %>
    </div>
    
    <div class="<% unless @team.id? %>hiddenDiv<% end %> input-prepend input-append _js-team" data-validate='["team_name"]' id="div-team">
        <span class="add-on"><i class="icon-group"></i></span>
        <%= hidden_field_tag :team_id, @team.id if @team.id? %>
        <%= text_field_tag :team_name, @team.name, :placeholder => "Team Name" %>
        <%= select_tag :team_category, options_for_select(GLOBAL_CATEGORIES_TEAM, @team.category), :style => "width: 120px;" %>
        <%= select_tag :team_localization, options_for_select(GLOBAL_LOCALIZATION_TEAM, @team.localization), :style => "width: 120px;" %>
    </div>
    
    <div class="<% unless @recognition.id? %>hiddenDiv<% end %> input-prepend input-append _js-recognition" data-validate='["recognition_title", "recognition_by"]'>
        <span class="add-on"><i class="icon-trophy"></i></span>
        <%= hidden_field_tag :recognition_id, @recognition.id if @recognition.id? %>
        <%= text_field_tag :recognition_title, @recognition.description, :placeholder => "Award Title" %>
        <%= text_field_tag :recognition_by, @recognition.awarded_by, :placeholder => "Awarded By" %>
    </div>
    
    <div class="<% unless @competition.id? %>hiddenDiv<% end %> input-prepend _js-result" data-validate='["competition_name", "result_position"]'>
        <span class="add-on"><i class="icon-star"></i></span>
        <div class="input-append input-prepend">
            <%= hidden_field_tag :competition_id, @competition.id if @competition.id? %>
          <div id="competition-div">
            <%= text_field_tag :competition_name, @competition.name, :placeholder => "Competition Name", :style => "width:160px" %>
            <%= text_field_tag :competition_organizer, @competition.organizer, :placeholder => "Competition Organizer", :style => "width:160px" %>
            <%= text_field_tag :competition_place, @competition.place, :placeholder => "Competition Place", :style => "width:160px" %>
          </div>
            <%= hidden_field_tag :result_id, @result.id if @result.id? %>
            <%= text_field_tag :result_position, @result.position, :placeholder => "Position", :class=> "span1" %>
            <%= text_field_tag :result_value, @result.value, :placeholder => "Mark", :style => "width: 50px;" %>
            <%= select_tag :result_var, options_for_select(GLOBAL_UNITS_RESULT, @result.var), :style => "width: 120px;" %>
            <%= select_tag :result_category, options_for_select(GLOBAL_CATEGORIES_RESULT, @result.category), :style => "width: 120px;" %>
            <label>Personal best <%= check_box_tag :result_best_mark, 1  %> </label>

        </div>
    </div>

    <div id="divDate" class="input-prepend" data-validate='["init"]'>
        <div class="input-prepend date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= text_field_tag :init, @init ? @init.strftime("%d-%m-%Y") : nil, :placeholder => "Date from (dd-mm-yyyy)", :class => "span2"%>
        </div>
        <div class="<% if @edit_profile && !@end %>hiddenDiv<% end %> input-prepend date" id="dp4" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= text_field_tag :end, @end ? @end.strftime("%d-%m-%Y") : nil, :placeholder => "Date to (dd-mm-yyyy)", :class => "span2", :id => "end-date-profile" %>
        </div>
        <p id="currently-here-profile" style="display: none;">Currently doing this  <%= check_box_tag :'currently-profile', 1, ( @edit_profile && !@end ) ? true : false %></p>
    </div>
    
    <div class="alert alert-error hide">
        ...
    </div>

    <script>
        !function ($) {
            $(function(){
                $('.date').datepicker();
                $(".hiddenDiv").hide();
                
                $("#<%= @edit_profile ? "edit" : "new" %>-profile-entry .header-buttons .hito-click").click(function(e){
                    e.preventDefault();
                    $(this).toggleClass("active");
                    $('#<%= @edit_profile ? "edit" : "new" %>-profile-entry ._js-' + $(this).attr("data-block")).toggle("normal");
                    setTimeout(function(){
                        if ($('#div-train')[0].style['display'] != "none" || $('#div-team')[0].style['display'] != "none")
                        {$('#currently-here-profile').show();}
                        else {$('#currently-here-profile').hide();}
                    }, 450);

                });
                
                $('#<%= @edit_profile ? "edit" : "new" %>-profile-entry .btn-success[type=submit]').click(function(e){
                    e.preventDefault();
                    var current_form = $('#<%= @edit_profile ? "edit" : "new" %>-profile-entry');
                    var errors = {};
                    
                    if(!validDate(current_form.find("#init").val()))
                        errors[current_form.attr("id")] = "<b>Date from</b> must be in <i>dd-mm-yyyy</i> format."
                    else if(!validDate(current_form.find("#end-date-profile").val()))
                        errors[current_form.attr("id")] = "<b>Date to</b> must be in <i>dd-mm-yyyy</i> format."
                        
                    form_profile_validate(current_form, errors);
                });
                
                $('#<%= @edit_profile ? "edit" : "new" %>-profile-entry .btn-cancel').click(function(e){
                    e.preventDefault();
                    form_profile_cancel($(this));
                });

                $('#<%= @edit_profile ? "edit" : "new" %>-profile-entry #currently-profile').click(function(){
                    $('#end-date-profile').val('');
                    $('#<%= @edit_profile ? "edit" : "new" %>-profile-entry #dp4').toggle("normal");
                });

            });
        }(window.jQuery)
    </script>
</fieldset>

<button class="btn pull-right btn-cancel">Cancel</button>
<button type="submit" class="btn btn-success pull-right"><b>Save</b></button>
    
<div class="clearfix"></div>

<%  end %>