<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>

<% provide(:title, @user.name) %>

<div class="container">
<div class="row">
<div class="box box-media span3 event-single">
  <div class="img-polaroid">
    <%=	link_to image_tag(@user.profilepic, :class => 'user-profile'), '#' %>
    <% if signed_in? && current_user.isAdmin? %>
    <div class="dropdown">
      <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-pencil"></i> Change Photo</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="#profilePictureModal" data-toggle="modal"><i class="icon-picture"></i> Choose from photos</a></li>
        <li><a href="#photoModal" data-toggle="modal"><i class="icon-arrow-up"></i> Upload a photo</a></li>
      </ul>
     </div>
    <% end %>
  </div>
  <div class="event-info">
    <h5><i class="icon-building"></i>Industry<span><%= @user.preferences[:industries].join(", ") %></span></h5>
    <h5>
      <i class="icon-calendar"></i>Founded<span><%= ( @user.birth && @user.birth != "" ) ? @user.birth.year : "?" %></span>
    </h5>
    <h5>
      <i class="icon-map-marker"></i>Headquarters<span><%= @user.citybirth ? @user.citybirth : "Location" %>, <%= @user.country ? @user.country : "Country" %></span>
    </h5>
    <h5><i class="icon-group"></i>Size<span><%= @user.preferences[:size] %> employees</span></h5>
  </div><!--event info-->

</div><!--box-media-->

<div class="span9 company-header">

</div><!-- /profileIcons -->

<div class="profileInfo relative span9">
  <div class="user">
    <h2><%= @user.name %></h2>
    <p>
      <i class="icon-globe icon-large"></i>
      <%= link_to @user.preferences[:url], @user.preferences[:url] %>
    </p>
  </div><!--user-->
  <div class="connections action-buttons span3">
    
    <%=	 render 'follow_form' if signed_in? %>
    
  </div>
</div><!-- /profileInfo -->

<div class="box box-info span6 company">
  <div class="resume">
    <p><%= @user.resume %></p>
  </div><!--resume-->
  <div class="post resume">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#next-events" data-toggle="tab">
        <h4>Next Events</h4></a>
      </li>
      <li><a href="#pre-events" data-toggle="tab">
        <h4>Previous Events</h4></a>
      </li>
    </ul>

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="next-events">
    <% if @next_events.count > 0 %>
      <% @next_events.each do |month, events| %>
        <h5><%= Date::MONTHNAMES[month] %></h5>
        <table class="table table-bordered event-table">
          <tbody>
          <% events.collect do |event| %>
          <tr><!-- comienza bloque evento -->
            <td><i class="icon-calendar"></i> <%= event.date.strftime("%A, %B #{event.date.day.ordinalize}, %Y") %>
              <a href="<%= event_path(event) %>"><h4><%= event.name %></h4></a>
            </td>
            <td class="w-30"><%= event.user_events.count %> Assistants
              <div class="assistants"><!--maximo 4 -->
              <% event.user_events.limit(4).each do |user_event| %>
                <%= link_to image_tag(user_event.user.profilepic, :class => "img-rounded"), '#' %>
              <% end %>
              </div>
            </td>
            <td class="w-10"><a href="<%= event_path(event) %>"><%= event.date.strftime("%H:%M") %></a></td>
          </tr><!--termina bloque evento-->
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% else %>
        <h3>No upcoming events</h3>
    <% end %>
      </div><!-- #next-events -->
      
      <div class="tab-pane" id="pre-events">
    <% if @prev_events.count > 0 %>
      <% @prev_events.each do |event| %>
        <div class="item-block">
          <a href="<%= event_path(event) %>">
            <div class="item-img">
              <%= image_tag 'company-1.gif' %>
            </div>
            <div class="item-info">
              <h4><%= event.name %></h4>
              <p><b>21 assistants</b> <%= event.date.strftime("on %B #{event.date.day.ordinalize}") %></p>
            </div>
          </a>
        </div><!--item-block-->
      <% end %>
    <% else %>
      <h3>No previous events</h3>
    <% end %>
      </div><!-- #pre-events -->
    </div><!-- #my-tab-content-->

    <script type="text/javascript">
      jQuery(document).ready(function ($) {
        $('#tabs').tab();
      });
    </script>

  </div><!--post resume-->
</div><!--span6 company-->

<div class="box box-connect span3">
  <div class="box-content">
    <h4><span>1230</span> Followers</h4>
    <ul class="sponsor-main">
      <li>
        <div class="img-container">
          <%=	 image_tag 'user-1.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>12112 Followers</p>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%=	 image_tag 'user-2.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>1322 Followers</p>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%=	 image_tag 'user-3.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>12112 Followers</p>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%=	 image_tag 'user-4.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>1322 Followers</p>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%=	 image_tag 'user-5.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>1322 Followers</p>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%=	 image_tag 'user-7.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>1322 Followers</p>
        </div>
      </li>
    </ul>

    <a href="#" class="align-right">See more</a>
  </div><!--box-content-->
</div><!--box-connect-->
</div>

</div><!-- /.container -->

<%=  render 'photos/photo_modal' %>
<%=  render :partial => 'photos/profile_picture', :locals => {:photos => @photos} %>