<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "users_validations" %>

<%	 provide(:title, @user.full_name) %>

<div class="container">
<div class="row">
<div class="box box-media span3">
  <div class="img-polaroid">
    <%= link_to image_tag(@user.profilephotourl, :class => "user-profile"), '#' %>
       <% if signed_in? &&  @user.id == current_user.id %>
    <a href="#profilePictureModal" data-toggle="modal" role="button"><h5><i class="icon-picture"></i> Change profile picture</h5></a>
       <% end %>
  </div>
  <!-- begin Pictures -->
  <div class="event-info">
    <!-- <h5><i class="icon-star"></i>Featured info</h5> -->
    <h5><i class="icon-camera"></i><%= link_to 'Pictures' , pictures_path(@user) %></h5>
    <div class="event-pictures">
      <%  @photos.take(6).each do |photo| %>
          <%	 if photo.url != @user.profilephotourl %>
                  <%= link_to image_tag(photo.url) , '#' %>
          <% end %>
      <%  end %>
    </div><!--user-pictures-->
    <h5 class="white">
      <%= @photos.count %> pictures
      <%= link_to 'see more' , pictures_path(@user) %>
      <a href="#photoModal" data-toggle="modal" role="button" id="btn-photo" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
    </h5>
    <h5><i class="icon-facetime-video"></i><a href="#">Videos</a></h5>
    <div class="user-video">
      <%  @videos.take(3).each do |video| %>
          <%= raw(youtube_embed(video.url,270,200, true)) %>
      <%  end %>
    </div><!--user-video-->

    <h5 class="white">
      <%= @videos.count %> videos
      <%= link_to 'see more' , pictures_path(@user) %>
      <a href="#videoModal" data-toggle="modal" role="button" id="btn-video" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
    </h5>
  </div>
</div><!--box-media-->
<ul class="profileIcons span9">
  <li><i class="icon-eye-open icon-white"></i><%= link_to @user.followers.count.to_s + " followers", social_path(@user) %><%= link_to @user.followed_users.count.to_s + " following", social_path(@user) %></li>
  <li><i class="icon-camera icon-white"></i><%= link_to @photos.count.to_s + ' pictures' , pictures_path(@user) %></li>
  <li><i class="icon-facetime-video icon-white"></i><%= link_to @videos.count.to_s + ' videos' , pictures_path(@user) %></li>
  <li><i class="icon-calendar icon-white"></i><%= link_to @events.count.to_s + ' events' , '#eventModal', :data => {:toggle => "modal"}, :role => "button" %></li>
</ul><!-- /profileIcons -->
<div class="profileInfo relative span9">
  <div class="user">
    <h2><%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :name, :type => :input, :inner_class => "nameInput" %> <%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :lastname, :type => :input, :inner_class => "nameInput"  %></h2>
    <p><b><%= @user.sport_show %> </b><%  if @user.birth && @user.birth != "" %><%= @user.age  %>, <%else%> Age not verified, <%  end %>
      <%  if @user.citybirth != "" %> <%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :citybirth, :type => :input, :inner_class => "locationInput" %>,
          <%  end %><%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :country, :type => :input, :inner_class => "locationInput" %></p>
  </div><!--user-->
  <div class="connections" style="padding-top: 20px;">
    <!-- <%=	 image_tag 'verified.png' %> -->
    <% if signed_in? && @user.id == current_user.id  %>
          <%= link_to('#', :class => "pull-right link-on", :style => "list-style: none;", :id => "edit-profile-link") do %>
              <i class='icon-pencil icon-2x'></i>
          <% end %>
    <% end %>

    <%=	 render 'follow_form' if signed_in? %>

  </div>
</div><!-- /profileInfo -->

<div class="box box-info span6">
<script>
    $(document).ready(function(){
        /*$(".hito-click").hide();

         $(".hito-click").click(function(){
         $idx = $(this).attr('id');
         $(".hito-click").each(function () {
         if ( $(this).attr('id') != $idx  ) {
         $(this).toggle("fast");}
         });
         $("#div-render").toggle("normal");
         if($("#div-render").is(':hidden')){$('.disappear1').html(' ');}
         });

         $("#dropdown-sports-btn1").click(function(){
         $ddm = document.getElementById('dropdown-sports-btn1');
         if(($ddm.textContent)!="Sport"){
         $(".hito-click").show("normal");
         $("#div-render").hide("normal");
         $('#div-render').empty();}
         });

         $('#hito1').click(function(){
         $('#div-render').empty();
         });

         $("#btn-add3").click(function(){
         if($("#edu1").is(':hidden') || $("#edu2").is(':hidden') || $("#edu3").is(':hidden')){
         $(".btn-edu").show("fast");
         }
         else {$(".btn-edu").toggle("fast");
         }
         });

         $("#dropdown-menu-sports1 a").click(function(){
         $ddm = document.getElementById('dropdown-sports-btn1');
         $ddm.textContent = $(this).attr('name_s');
         gon.sport_id = $(this).attr('id_s');
         $(".hito-click").show("normal");
         });   */

        jQuery(function($) {
            $('.dropdown-toggle').dropdown();
        });

        $("#upload-input").hide();
        $("#photo-link-input").hide();

        $('#btn-photo-1').click(function(){
            $("#photo-link-input").toggle("normal");
        });
        $('#photo-submit').click(function(){
            $("#new_photo").submit();
        });
        $('#video-submit').click(function(){
            $("#new_video").submit();
        });
        $('#add-submit').click(function(){
            $("#new-profile-entry").submit();
        });
        $('#hito1').click(function(){
            $('#divAward').toggle("normal");
        });
        $('#hito2').click(function(){
            $('#divResult').toggle("normal");
        });
        $('#hito3').click(function(){
            $('#divTeam').toggle("normal");
        });
        $('#hito4').click(function(){
            $('#divTrain').toggle("normal");
        });
        $('#work-train').click(function(){
            $('#divTrain-working').toggle("normal");
        });
        $('#work-team').click(function(){
            $('#divTeam-working').toggle("normal");
        });
        $('#work-award').click(function(){
            $('#divAward-working').toggle("normal");
        });
        $('#work-result').click(function(){
            $('#divResult-working').toggle("normal");
        });
        $('#education-school').click(function(){
            $('#divSchool-educational').toggle("normal");
            if($('#divHighSchool-educational').is(":visible"))
            {
                $('#divHighSchool-educational').toggle("normal");
            }
        });
        $('#education-highschool').click(function(){
            $('#divHighSchool-educational').toggle("normal");
            if($('#divSchool-educational').is(":visible"))
            {
                $('#divSchool-educational').toggle("normal");
            }
        });
        $(".hiddenDiv").hide();
        $('#edit-profile-link').click(function(){
            $('#edit-profile').toggle("normal");
        });
        $('#link-unfollow').live("mouseover", function(){
            document.getElementById("link-unfollow-text").innerHTML = "unfollow";
        });
        $('#link-unfollow').live("mouseleave", function(){
            document.getElementById("link-unfollow-text").innerHTML = "following";
        });

        $('#select-sport').change(function(){
            var selValue = (this).options[(this).selectedIndex].value
            if(selValue == 1)
            {
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="2">Speed</option>');
                $('#select-sport').append('<option value="12">Endurance</option>');
                $('#select-sport').append('<option value="21">Jump</option>');
                $('#select-sport').append('<option value="26">Throw</option>');
                $('#select-sport').append('<option value="31">Combined</option>');
            } else if(selValue == 2){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="3">4x400</option>');
                $('#select-sport').append('<option value="4">4x100</option>');
                $('#select-sport').append('<option value="5">50m</option>');
                $('#select-sport').append('<option value="6">100m</option>');
                $('#select-sport').append('<option value="7">200m</option>');
                $('#select-sport').append('<option value="8">400m</option>');
                $('#select-sport').append('<option value="9">100m hurdles</option>');
                $('#select-sport').append('<option value="10">110m hurdles</option>');
                $('#select-sport').append('<option value="11">400m hurdles</option>');
            } else if(selValue == 12){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="13">800m</option>');
                $('#select-sport').append('<option value="14">1500m</option>');
                $('#select-sport').append('<option value="15">5000m</option>');
                $('#select-sport').append('<option value="16">10000m</option>');
                $('#select-sport').append('<option value="17">30000m obstacles</option>');
                $('#select-sport').append('<option value="18">Marathon</option>');
                $('#select-sport').append('<option value="19">Walk 20</option>');
                $('#select-sport').append('<option value="20">Walk 50</option>');
            } else if(selValue == 21){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="22">High Jump</option>');
                $('#select-sport').append('<option value="23">Long Jump</option>');
                $('#select-sport').append('<option value="24">Pole Vault</option>');
                $('#select-sport').append('<option value="25">Triple Jump</option>');
            }  else if(selValue == 26){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="27">Hammer</option>');
                $('#select-sport').append('<option value="28">Discus</option>');
                $('#select-sport').append('<option value="29">Javelin</option>');
                $('#select-sport').append('<option value="30">Shot Put</option>');
            }  else if(selValue == 31){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="32">Heptathlon</option>');
                $('#select-sport').append('<option value="33">Decathlon</option>');
            } else if(selValue == 35){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="164">Point Guard</option>');
                $('#select-sport').append('<option value="165">Shooting Guard</option>');
                $('#select-sport').append('<option value="166">Small Forward</option>');
                $('#select-sport').append('<option value="167">Power Forward</option>');
                $('#select-sport').append('<option value="168">Center</option>');
            } else if(selValue == 36){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="169">Goalkeeper</option>');
                $('#select-sport').append('<option value="170">Wingman</option>');
                $('#select-sport').append('<option value="171">Backcourt</option>');
                $('#select-sport').append('<option value="172">Pivot</option>');
            } else if(selValue == 39){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="40">Road</option>');
                $('#select-sport').append('<option value="41">Track</option>');
                $('#select-sport').append('<option value="42">Mountain</option>');
                $('#select-sport').append('<option value="43">BMX</option>');
            } else if(selValue == 44){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="45">Epee</option>');
                $('#select-sport').append('<option value="46">Foil</option>');
            } else if(selValue == 47){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                alert("revisar este deporte! Inconsistencia en BD");
            } else if(selValue == 50){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="51">Artistic</option>');
                $('#select-sport').append('<option value="52">Individual Complete</option>');
                $('#select-sport').append('<option value="53">Floor</option>');
                $('#select-sport').append('<option value="54">Floor Exercise</option>');
                $('#select-sport').append('<option value="55">Rings</option>');
                $('#select-sport').append('<option value="56">Vault</option>');
                $('#select-sport').append('<option value="57">Parallel Bars</option>');
                $('#select-sport').append('<option value="58">Pommel Horse</option>');
                $('#select-sport').append('<option value="59">Uneven Bars</option>');
                $('#select-sport').append('<option value="60">Balance Beam</option>');
            } else if(selValue == 63){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                alert("revisar este deporte! Inconsistencia en BD");
            } else if(selValue == 69){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="70">Synchronized</option>');
                $('#select-sport').append('<option value="71">10k</option>');
                $('#select-sport').append('<option value="72">Freestyle</option>');
                $('#select-sport').append('<option value="80">Backstroke</option>');
                $('#select-sport').append('<option value="83">Breaststroke</option>');
                $('#select-sport').append('<option value="86">Butterfly</option>');
                $('#select-sport').append('<option value="89">Medley</option>');
            } else if(selValue == 72){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="73">50m</option>');
                $('#select-sport').append('<option value="74">100m</option>');
                $('#select-sport').append('<option value="75">200m</option>');
                $('#select-sport').append('<option value="76">400m</option>');
                $('#select-sport').append('<option value="77">1500m</option>');
                $('#select-sport').append('<option value="78">4x200</option>');
                $('#select-sport').append('<option value="79">4x100</option>');
            } else if(selValue == 80){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="81">100m</option>');
                $('#select-sport').append('<option value="82">200m</option>');
            } else if(selValue == 83){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="84">100m</option>');
                $('#select-sport').append('<option value="85">200m</option>');
            } else if(selValue == 86){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="87">100m</option>');
                $('#select-sport').append('<option value="88">200m</option>');
            } else if(selValue == 89){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="90">200m</option>');
                $('#select-sport').append('<option value="91">400m</option>');
                $('#select-sport').append('<option value="92">4x100</option>');
            } else if(selValue == 93){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="94">M1X</option>');
                $('#select-sport').append('<option value="95">M2X</option>');
                $('#select-sport').append('<option value="96">M4X</option>');
                $('#select-sport').append('<option value="97">M2-</option>');
                $('#select-sport').append('<option value="98">M4-</option>');
                $('#select-sport').append('<option value="99">M8+</option>');
                $('#select-sport').append('<option value="100">LM2X</option>');
                $('#select-sport').append('<option value="101">LM4X</option>');
            } else if(selValue == 102){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="103">Synchronized</option>');
                $('#select-sport').append('<option value="106">Individual</option>');
            } else if(selValue == 103){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="104">3m</option>');
                $('#select-sport').append('<option value="105">10m</option>');
            } else if(selValue == 106){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="107">3m</option>');
                $('#select-sport').append('<option value="108">10m</option>');
            } else if(selValue == 110){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="111">Singles</option>');
                $('#select-sport').append('<option value="112">Doubles</option>');
            } else if(selValue == 113){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="114">Singles</option>');
                $('#select-sport').append('<option value="115">Doubles</option>');
            } else if(selValue == 116){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="117">Rifle</option>');
                $('#select-sport').append('<option value="121">Pistol</option>');
                $('#select-sport').append('<option value="125">Trap</option>');
                $('#select-sport').append('<option value="126">Double Trap</option>');
                $('#select-sport').append('<option value="127">Skeet</option>');
            } else if(selValue == 117){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="118">3 pos</option>');
                $('#select-sport').append('<option value="119">50 down</option>');
                $('#select-sport').append('<option value="120">10 air</option>');
            } else if(selValue == 121){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="122">50m</option>');
                $('#select-sport').append('<option value="123">25m</option>');
                $('#select-sport').append('<option value="124">10m</option>');
            } else if(selValue == 128){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="129">Individual</option>');
                $('#select-sport').append('<option value="130">Team</option>');
            } else if(selValue == 132){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="133">RS=>X</option>');
                $('#select-sport').append('<option value="134">Laser</option>');
                $('#select-sport').append('<option value="135">470</option>');
                $('#select-sport').append('<option value="136">Star</option>');
                $('#select-sport').append('<option value="137">49er</option>');
                $('#select-sport').append('<option value="138">Finn</option>');
            } else if(selValue == 139){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="195">Setter</option>');
                $('#select-sport').append('<option value="196">Libero</option>');
                $('#select-sport').append('<option value="197">Middle Blocker/Hitter</option>');
                $('#select-sport').append('<option value="198">Outside Hitter</option>');
                $('#select-sport').append('<option value="199">Opposite Hitter</option>');
            } else if(selValue == 141){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="200">Goalkeeper</option>');
                $('#select-sport').append('<option value="201">Pit Player</option>');
                $('#select-sport').append('<option value="202">Wing</option>');
                $('#select-sport').append('<option value="203">Driver</option>');
                $('#select-sport').append('<option value="204">Point</option>');
            } else if(selValue == 142){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="205">Fullback</option>');
                $('#select-sport').append('<option value="206">Wing</option>');
                $('#select-sport').append('<option value="207">Centre</option>');
                $('#select-sport').append('<option value="208">Fly-half</option>');
                $('#select-sport').append('<option value="209">Scrum-half</option>');
                $('#select-sport').append('<option value="210">Number 8</option>');
                $('#select-sport').append('<option value="211">Openside Flanker</option>');
                $('#select-sport').append('<option value="212">Blind flanker</option>');
                $('#select-sport').append('<option value="213">Lock</option>');
                $('#select-sport').append('<option value="214">Hooper</option>');
                $('#select-sport').append('<option value="215">Prop</option>');
            } else if(selValue == 143){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="144">Jump</option>');
                $('#select-sport').append('<option value="145">Slalom</option>');
            } else if(selValue == 147){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="216">Offense</option>');
                $('#select-sport').append('<option value="224">Defense</option>');
                $('#select-sport').append('<option value="232">Kicker</option>');
                $('#select-sport').append('<option value="233">Long Snapper</option>');
                $('#select-sport').append('<option value="234">Punt Returner</option>');
                $('#select-sport').append('<option value="235">Gunner</option>');
            } else if(selValue == 216){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="217">Centre</option>');
                $('#select-sport').append('<option value="218">Guard</option>');
                $('#select-sport').append('<option value="219">Tackle</option>');
                $('#select-sport').append('<option value="220">Quarterback</option>');
                $('#select-sport').append('<option value="221">Running Back</option>');
                $('#select-sport').append('<option value="222">Wide Receiver</option>');
                $('#select-sport').append('<option value="223">Tight End</option>');
            } else if(selValue == 224){
                $('<p id="sport-tag2">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="225">Tackle</option>');
                $('#select-sport').append('<option value="226">Defensive End</option>');
                $('#select-sport').append('<option value="227">Middle Linebacker</option>');
                $('#select-sport').append('<option value="228">Outside Linebacker</option>');
                $('#select-sport').append('<option value="229">Cornerback</option>');
                $('#select-sport').append('<option value="230">Safety</option>');
                $('#select-sport').append('<option value="231">Nickelback</option>');
            } else if(selValue == 150){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="236">Pitcher</option>');
                $('#select-sport').append('<option value="237">Catcher</option>');
                $('#select-sport').append('<option value="238">Baseman</option>');
                $('#select-sport').append('<option value="239">Shortstop</option>');
                $('#select-sport').append('<option value="240">Fielder</option>');
                $('#select-sport').append('<option value="241">Hitter</option>');
            } else if(selValue == 151){
                $('<p id="sport-tag">' + (this).options[(this).selectedIndex].text + '</p>').insertBefore('#divSport');
                $('#select-sport option').each(function(){
                    $(this).remove();
                });
                $('#select-sport').append('<option value="152">Wall</option>');
                $('#select-sport').append('<option value="153">Mountaineering</option>');
            }
        });

        $('#currently-working').click(function(){
            $('#end-date-working').val('');
            $('#dp6').toggle("normal");
        });

    });</script>
<div id="edit-profile" class="hiddenDiv">
  </br>
  <%= form_for current_user, :class => "edit_user" do |f| %>
      <div class="main-fields">
        <!--First Name-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <%= f.text_field :name, :value => current_user.name, :placeholder => "Name", :validation => 'required notBlank' %>
        </div>
        <!--Last Name-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <%= f.text_field :lastname, :value => current_user.lastname, :placeholder => "Last Name" %>
        </div>
        <!--Sport-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-circle"></i></span>
          <select>
            <option>Athletics</option>
          </select>
        </div>
        <!--Location-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-map-marker"></i></span>
          <%= f.text_field :country, :value => current_user.country, :placeholder => "Country" %>
          <%= f.text_field :citybirth, :value => current_user.citybirth, :placeholder => "City" %>
        </div>
        <!--Date-->
        <div id="divDate" class="input-prepend">
          <div class="input-prepend date" id="dp3" data-date="1995-01-01" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= text_field_tag :birth, current_user.birth, :class => "span2"%>
          </div>
        </div>
        <!--Description-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-pencil"></i></span>
          <!--debe haber una manera de guardar las descripciones previas-->
          <%= f.text_area :resume, :class => "span5", :value => current_user.resume, :placeholder => "Describe your skills & attributes", :rows => 4, :validation => 'lengthMax255' %>
        </div>

      </div>
      <%= f.submit "Save", :class => "btn" %>
  <% end %>
</div>
<% if signed_in? && (@user.following?(current_user) || current_user.id == @user.id) %>
    <div class="resume">
      <%= @user.resume %>
    </div><!--resume-->
    <div class="resume">
      <h4>Jock Information</h4>
      <% if signed_in? && current_user.id == @user.id %>
          <div class="accordion" id="accordion3"> <!--mapa-->
            <div class="accordion-group events-filter">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion3" href="#collapseAdd">
                  <span>+</span>Add new
                </a>
              </div>
              <div id="collapseAdd" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <%	 if signed_in? %>
                      <legend>What do you want to add?</legend>
                      <div class="header-buttons">
                        <a><button id="hito4" class="btn-success hito-click">
                          <i class="icon-user icon-2x"></i>
                          Training
                        </button></a>
                        <a><button id="hito3" class="btn-success hito-click">
                          <i class="icon-group icon-2x"></i>
                          Team
                        </button></a>
                        <a><button id="hito1" class="btn-success hito-click">
                          <i class="icon-trophy icon-2x"></i>
                          Award
                        </button></a>
                        <a><button id="hito2" class="btn-success hito-click">
                          <i class="icon-star icon-2x"></i>
                          Result
                        </button></a>
                      </div>
                      <%= render 'profile_form'  %>

                  <%	 else %>
                      <p>You must be logged in to complete your profile!</p>
                  <%	 end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>

      <%	if @athleteExperiences.any?  %>
          <%=	 render @athleteExperiences %>
      <%	end %>
    </div><!--resume-->
    <div class="resume">
      <h4>Working Experience</h4>
      <% if signed_in? && current_user.id == @user.id %>
          <div class="accordion" id="accordion4"> <!--mapa-->
            <div class="accordion-group events-filter">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion4" href="#collapseAdd2">
                  <span>+</span>Add new
                </a>
              </div>
              <div id="collapseAdd2" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <%	 if signed_in? %>
                      <legend>What do you want to add?</legend>
                      <div class="header-buttons">
                        <a><button id="work-train" class="btn-success hito-click">
                          <i class="icon-user icon-2x"></i>
                          Training
                        </button></a>
                        <a><button id="work-team" class="btn-success hito-click">
                          <i class="icon-group icon-2x"></i>
                          Team
                        </button></a>
                        <a><button id="work-award" class="btn-success hito-click">
                          <i class="icon-trophy icon-2x"></i>
                          Award
                        </button></a>
                        <a><button id="work-result" class="btn-success hito-click">
                          <i class="icon-star icon-2x"></i>
                          Result
                        </button></a>
                      </div>
                      <%= render 'working_profile_form'  %>

                  <%	 else %>
                      <p>You must be logged in to complete your profile!</p>
                  <%	 end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>

      <%	if @works.any?  %>
          <%=	 render @works %>
      <%	end %>
    </div><!--resume-->
    <div class="resume">
      <h4>Education</h4>
      <% if signed_in? && current_user.id == @user.id %>
          <div class="accordion" id="accordion5"> <!--mapa-->
            <div class="accordion-group events-filter">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion5" href="#collapseAdd3">
                  <span>+</span>Add new
                </a>
              </div>
              <div id="collapseAdd3" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <%	 if signed_in? %>
                      <legend>What do you want to add?</legend>
                      <div class="header-buttons">
                        <a><button id="education-highschool" class="btn-success hito-click">
                          <i class="icon-book icon-2x"></i>
                          High School
                        </button></a>
                        <a><button id="education-school" class="btn-success hito-click">
                          <i class="icon-briefcase icon-2x"></i>
                          School
                        </button></a>
                      </div>

                      <%= render 'educations/form'  %>

                  <%	 else %>
                      <p>You must be logged in to complete your profile!</p>
                  <%	 end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>

      <%	if @educations.any?  %>
          <%=	 render @educations %>
      <%	end %>
    </div><!--resume-->
<% end %>
</div>
<div class="box box-connect span3">
  <div class="box-content">
    <h4>Events Related</h4>
    <ul class="aside connect-events">
      <li>
        <div class="img-container">
          <%= image_tag 'slide-01.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">FIVB Final</a>
          <p>invites <a href="#">Gatorade</a></p>
          <p>Friday 22, 16:00</p>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'slide-02.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Texas Tech vs West Virginia</a>
          <p>invites <a href="#">Doritos</a></p>
          <p>Saturday 23, 20:30</p>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'slide-03.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">NCAA Swimming Semi-Final</a>
          <p>invites <a href="#">Speedo</a></p>
          <p>Saturday 24, 10:00</p>
        </div>
      </li>
    </ul>
    <a href="#" class="align-right">See more</a>
  </div><!--box-content-->
  <div class="box-content">
    <h4>People you may know</h4>
    <ul class="aside connect-people">
      <li>
        <div class="img-container">
          <%= image_tag 'user-1.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Richard Stinson</a>
          <p>football</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-2.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">John Richards</a>
          <p>tennis</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-3.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Nicolas Massu</a>
          <p>tennis</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
    </ul>
    <a href="#" class="align-right">See more</a>
  </div>
</div><!--box-connect-->
</div>
</div><!-- /.container -->

<%=  render 'photos/photo_modal' %>
<%=  render 'videos/video_modal' %>
<%=  render 'events/event_modal' %>
<%=  render :partial => 'photos/profile_picture', :locals => {:photos => @photos} %>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->