<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>

<%	 provide(:title, @user.full_name) %>

<div class="container">
<div class="row">
<div class="box box-media span3">
  <div class="img-polaroid">
    <%= link_to image_tag(@user.profilephotourl, :class => "user-profile"), '#' %>
       <% if signed_in? &&  @user.id == current_user.id %>
        <div class="dropdown">
          <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-pencil"></i> Change Photo</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#profilePictureModal" data-toggle="modal"><i class="icon-picture"></i> Choose from photos</a></li>
            <li><a href="#photoModal" data-toggle="modal"><i class="icon-arrow-up"></i> Upload a photo</a></li>
            <!-- <li><a><i class="icon-pencil"></i> Edit thumbnail</a></li> -->
            <li><a><i class="icon-remove"></i> Remove</a></li>
          </ul>
        </div>
       <% end %>
  </div>
  <!-- begin Pictures -->
  <div class="event-info">
    <!-- <h5><i class="icon-star"></i>Featured info</h5> -->
    <h5><i class="icon-camera"></i><%= link_to 'Pictures' , pictures_path(@user) %></h5>
    <div class="event-pictures">
      <%  @photos.take(6).each do |photo| %>
          <%	 if photo.url != @user.profilephotourl %>
                  <%= link_to image_tag(photo.url) , '#' %>
          <% end %>
      <%  end %>
    </div><!--user-pictures-->
    <h5 class="white">
      <%= @photos.count %> pictures
      <%= link_to 'see more' , pictures_path(@user) %>
      <a href="#photoModal" data-toggle="modal" role="button" id="btn-photo" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
    </h5>
    <h5><i class="icon-facetime-video"></i><a href="#">Videos</a></h5>
    <div class="user-video">
      <%  @videos.take(3).each do |video| %>
          <%= raw(youtube_embed(video.url,270,200, true)) %>
      <%  end %>
    </div><!--user-video-->

    <h5 class="white">
      <%= @videos.count %> videos
      <%= link_to 'see more' , pictures_path(@user) %>
      <a href="#videoModal" data-toggle="modal" role="button" id="btn-video" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
    </h5>
  </div>
</div><!--box-media-->

<ul class="profileIcons span9">
  <li><i class="icon-eye-open icon-white"></i><%= link_to @user.followers.count.to_s + " followers", social_path(@user) %><%= link_to @user.followed_users.count.to_s + " following", social_path(@user) %></li>
  <li><i class="icon-camera icon-white"></i><%= link_to @photos.count.to_s + ' pictures' , pictures_path(@user) %></li>
  <li><i class="icon-facetime-video icon-white"></i><%= link_to @videos.count.to_s + ' videos' , pictures_path(@user) %></li>
  <li><i class="icon-calendar icon-white"></i><%= link_to @events.count.to_s + ' events' , '#eventModal', :data => {:toggle => "modal"}, :role => "button" %></li>
</ul><!-- /profileIcons -->
<div class="profileInfo relative span9">
  <div class="user">
    <h2><%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :name, :type => :input, :inner_class => "nameInput" %> <%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :lastname, :type => :input, :inner_class => "nameInput"  %></h2>
    <p><b>Athletics </b><%  if @user.birth && @user.birth != "" %><%=  ((Time.new - @user.birth)/1.year).ceil - 1 %> years, <%else%><%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :phone, :type => :input, :inner_class => "nameInput"  %> years old, <%  end %>
      <%  if @user.citybirth != "" %> <%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :citybirth, :type => :input, :inner_class => "locationInput" %>,
          <%  end %><%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :country, :type => :input, :inner_class => "locationInput" %></p>
  </div><!--user-->
  <div class="connections" style="padding-top: 20px;">
    <!-- <%=	 image_tag 'verified.png' %> -->
    <% if signed_in? && @user.id == current_user.id  %>
          <%= link_to('#', :class => "pull-right link-on", :style => "list-style: none;", :id => "edit-profile-link") do %>
              <i class='icon-pencil icon-2x'></i>
          <% end %>
    <% end %>

    <%=	 render 'follow_form' if signed_in? %>

  </div>
</div><!-- /profileInfo -->

<div class="box box-info span6">
<script>
    $(document).ready(function(){
        /*$(".hito-click").hide();

         $(".hito-click").click(function(){
         $idx = $(this).attr('id');
         $(".hito-click").each(function () {
         if ( $(this).attr('id') != $idx  ) {
         $(this).toggle("fast");}
         });
         $("#div-render").toggle("normal");
         if($("#div-render").is(':hidden')){$('.disappear1').html(' ');}
         });

         $("#dropdown-sports-btn1").click(function(){
         $ddm = document.getElementById('dropdown-sports-btn1');
         if(($ddm.textContent)!="Sport"){
         $(".hito-click").show("normal");
         $("#div-render").hide("normal");
         $('#div-render').empty();}
         });

         $('#hito1').click(function(){
         $('#div-render').empty();
         });

         $("#btn-add3").click(function(){
         if($("#edu1").is(':hidden') || $("#edu2").is(':hidden') || $("#edu3").is(':hidden')){
         $(".btn-edu").show("fast");
         }
         else {$(".btn-edu").toggle("fast");
         }
         });

         $("#dropdown-menu-sports1 a").click(function(){
         $ddm = document.getElementById('dropdown-sports-btn1');
         $ddm.textContent = $(this).attr('name_s');
         gon.sport_id = $(this).attr('id_s');
         $(".hito-click").show("normal");
         });   */

        jQuery(function($) {
            $('.dropdown-toggle').dropdown();
        });

        $("#upload-input").hide();
        $("#photo-link-input").hide();

        function ValidUrl(str) {
            var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
                    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
            if(!pattern.test(str)) {
                return false;
            } else {
                return true;
            }
        }

        window.onload = function() {
            document.getElementById('photo-link-input').addEventListener('input',handleInput,false);
        }

        function handleInput(ev) {
            if(ValidUrl(ev.target.value)){
                $link = document.getElementById('photo-link-input').value;
                document.getElementById('image-upload-input').setAttr('src', $link);
            }
            else
            alert("Not");
        }

        $('#btn-photo-1').click(function(){
            $("#photo-link-input").toggle("normal");
        });
        $('#photo-submit').click(function(){
            $("#new_photo").submit();
        });
        $('#video-submit').click(function(){
            $("#new_video").submit();
        });
        $('#add-submit').click(function(){
            $("#new-profile-entry").submit();
        });
        $('#hito1').click(function(){
            $('#divAward').toggle("normal");
        });
        $('#hito2').click(function(){
            $('#divResult').toggle("normal");
        });
        $('#hito3').click(function(){
            $('#divTeam').toggle("normal");
        });
        $('#hito4').click(function(){
            $('#divTrain').toggle("normal");
        });
        $('#work-train').click(function(){
            $('#divTrain-working').toggle("normal");
        });
        $('#work-team').click(function(){
            $('#divTeam-working').toggle("normal");
        });
        $('#work-award').click(function(){
            $('#divAward-working').toggle("normal");
        });
        $('#work-result').click(function(){
            $('#divResult-working').toggle("normal");
        });
        $('#work-sport').click(function(){
            $('#divSport-working').toggle("normal");
        });
        $('#education-school').click(function(){
            $('#divSchool-educational').toggle("normal");
            if($('#divHighSchool-educational').is(":visible"))
            {
                $('#divHighSchool-educational').toggle("normal");
            }
        });
        $('#education-highschool').click(function(){
            $('#divHighSchool-educational').toggle("normal");
            if($('#divSchool-educational').is(":visible"))
            {
                $('#divSchool-educational').toggle("normal");
            }
        });
        $(".hiddenDiv").hide();
        $('#edit-profile-link').click(function(){
            $('#edit-profile').toggle("normal");
        });
        $('#link-unfollow').live("mouseover", function(){
            document.getElementById("link-unfollow-text").innerHTML = "unfollow";
        });
        $('#link-unfollow').live("mouseleave", function(){
            document.getElementById("link-unfollow-text").innerHTML = "following";
        });
    });</script>
<div id="edit-profile" class="hiddenDiv">
  </br>
  <%= form_for current_user do |f| %>
      <div class="main-fields">
        <!--First Name-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <%= f.text_field :name, :value => current_user.name, :placeholder => "Name" %>
        </div>
        <!--Last Name-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <%= f.text_field :lastname, :value => current_user.lastname, :placeholder => "Last Name" %>
        </div>
        <!--Sport-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-circle"></i></span>
          <select>
            <option>Athletics</option>
          </select>
        </div>
        <!--Location-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-map-marker"></i></span>
          <%= f.text_field :country, :value => current_user.country, :placeholder => "Country" %>
          <%= f.text_field :citybirth, :value => current_user.citybirth, :placeholder => "City" %>
        </div>
        <!--Date-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-calendar"></i></span>
          <%= f.text_field :phone, :value => current_user.phone, :placeholder => "Age" %>
        </div>
        <!--Description-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-pencil"></i></span>
          <!--debe haber una manera de guardar las descripciones previas-->
          <%= f.text_area :resume, :class => "span5", :value => current_user.resume, :placeholder => "Resume", :rows => 4 %>
        </div>

      </div>
      <%= f.submit "Save", :class => "btn" %>
  <% end %>
</div>
<% if signed_in? && (@user.following?(current_user) || current_user.id == @user.id) %>
    <div class="resume">
      <%= @user.resume %>
    </div><!--resume-->
    <div class="resume">
      <h4>Jock Information</h4>
      <% if signed_in? && current_user.id == @user.id %>
          <div class="accordion" id="accordion3"> <!--mapa-->
            <div class="accordion-group events-filter">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion3" href="#collapseAdd">
                  <span>+</span>Add new
                </a>
              </div>
              <div id="collapseAdd" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <%	 if signed_in? %>
                      <legend>What do you want to add?</legend>
                      <div class="header-buttons">
                        <a><button id="hito4" class="btn-success hito-click">
                          <i class="icon-user icon-2x"></i>
                          Training
                        </button></a>
                        <a><button id="hito3" class="btn-success hito-click">
                          <i class="icon-group icon-2x"></i>
                          Team
                        </button></a>
                        <a><button id="hito1" class="btn-success hito-click">
                          <i class="icon-trophy icon-2x"></i>
                          Award
                        </button></a>
                        <a><button id="hito2" class="btn-success hito-click">
                          <i class="icon-star icon-2x"></i>
                          Result
                        </button></a>
                      </div>
                      <%= render 'profile_form'  %>

                  <%	 else %>
                      <p>You must be logged in to complete your profile!</p>
                  <%	 end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>

      <%	if @athleteExperiences.any?  %>
          <%=	 render @athleteExperiences %>
      <%	end %>
    </div><!--resume-->
    <div class="resume">
      <h4>Working Experience</h4>
      <% if signed_in? && current_user.id == @user.id %>
          <div class="accordion" id="accordion4"> <!--mapa-->
            <div class="accordion-group events-filter">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion4" href="#collapseAdd2">
                  <span>+</span>Add new
                </a>
              </div>
              <div id="collapseAdd2" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <%	 if signed_in? %>

                      <%= render 'working_profile_form'  %>

                      <legend>What else do you want to add?</legend>
                      <div class="header-buttons">
                        <!-- <a><button id="work-train" class="btn-success hito-click">
                         <i class="icon-user icon-2x"></i>
                         Training
                       </button></a> -->
                        <a><button id="work-team" class="btn-success hito-click" style="height: 35px;">
                          <i class="icon-group icon-2x"></i>
                          Team
                        </button></a>
                        <a><button id="work-award" class="btn-success hito-click" style="height: 35px;">
                          <i class="icon-trophy icon-2x"></i>
                          Award
                        </button></a>
                        <a><button id="work-result" class="btn-success hito-click" style="height: 35px;">
                          <i class="icon-star icon-2x"></i>
                          Result
                        </button></a>
                        <a><button id="work-sport" class="btn-success hito-click" style="height: 35px;">
                          <i class="icon-circle icon-2x"></i>
                          Sport
                        </button></a>

                      </div>


                  <%	 else %>
                      <p>You must be logged in to complete your profile!</p>
                  <%	 end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>

      <%	if @works.any?  %>
          <%=	 render @works %>
      <%	end %>
    </div><!--resume-->
    <div class="resume">
      <h4>Education</h4>
      <% if signed_in? && current_user.id == @user.id %>
          <div class="accordion" id="accordion5"> <!--mapa-->
            <div class="accordion-group events-filter">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion5" href="#collapseAdd3">
                  <span>+</span>Add new
                </a>
              </div>
              <div id="collapseAdd3" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <%	 if signed_in? %>
                      <legend>What do you want to add?</legend>
                      <div class="header-buttons">
                        <a><button id="education-highschool" class="btn-success hito-click">
                          <i class="icon-book icon-2x"></i>
                          High School
                        </button></a>
                        <a><button id="education-school" class="btn-success hito-click">
                          <i class="icon-briefcase icon-2x"></i>
                          School
                        </button></a>
                      </div>

                      <%= render 'educations/form'  %>

                  <%	 else %>
                      <p>You must be logged in to complete your profile!</p>
                  <%	 end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>

      <%	if @educations.any?  %>
          <%=	 render @educations %>
      <%	end %>
    </div><!--resume-->
<% end %>
</div>
<div class="box box-connect span3">
  <div class="box-content">
    <h4>Events Related</h4>
    <ul class="aside connect-events">
      <li>
        <div class="img-container">
          <%= image_tag 'slide-01.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">FIVB Final</a>
          <p>invites <a href="#">Gatorade</a></p>
          <p>Friday 22, 16:00</p>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'slide-02.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Texas Tech vs West Virginia</a>
          <p>invites <a href="#">Doritos</a></p>
          <p>Saturday 23, 20:30</p>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'slide-03.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">NCAA Swimming Semi-Final</a>
          <p>invites <a href="#">Speedo</a></p>
          <p>Saturday 24, 10:00</p>
        </div>
      </li>
    </ul>
    <a href="#" class="align-right">See more</a>
  </div><!--box-content-->
  <div class="box-content">
    <h4>People you may know</h4>
    <ul class="aside connect-people">
      <li>
        <div class="img-container">
          <%= image_tag 'user-1.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Richard Stinson</a>
          <p>football</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-2.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">John Richards</a>
          <p>tennis</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-3.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Nicolas Massu</a>
          <p>tennis</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
    </ul>
    <a href="#" class="align-right">See more</a>
  </div>
</div><!--box-connect-->
</div>
</div><!-- /.container -->

<%=  render 'photos/photo_modal' %>
<%=  render 'videos/video_modal' %>
<%=  render 'events/event_modal' %>
<%=  render :partial => 'photos/profile_picture', :locals => {:photos => @photos} %>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->