<%= form_tag({:controller => 'users', :action => 'add_new_working'}, :id => 'new-working-profile-entry') do  %>

    <fieldset>
      <p>

      <div id="divCompany-working" class="input-prepend">
        <span class="add-on"><i class="icon-briefcase"></i></span>
        <div class="input-append input-prepend">
          <%= text_field_tag :company, nil, :placeholder => "Company Name" %>
        </div>
        <%= text_field_tag :role, nil, :placeholder => "Title" %>
      </div>

      <div id="divSport-working" class="hiddenDiv input-prepend">
        <span class="add-on"><i class="icon-circle"></i></span>
        <%= render :partial => 'sports/autocomplete', :locals => { :sport_id => nil } %>
      </div>
      </p>

      <div id="divTrain-working" class="hiddenDiv input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <select>
          <option>Trained</option>
        </select>
        <%= text_field_tag :trainee_name, nil, :placeholder => "Trainee Name" %>
      </div>


      <div id="divTeam-working" class="hiddenDiv input-prepend">
        <span class="add-on"><i class="icon-group"></i></span>
        <div class="input-append input-prepend">
          <%= text_field_tag :team_name, nil, :placeholder => "Team Name" %>
        </div>
        <%= text_field_tag :team_category, nil, :placeholder => "Category" %>
      </div>

      <div id="divAward-working" class="hiddenDiv input-prepend">
        <span class="add-on"><i class="icon-trophy"></i></span>
        <div class="input-append input-prepend">
          <%= text_field_tag :award_title, nil, :placeholder => "Award Title" %>
        </div>
        <%= text_field_tag :award_by, nil, :placeholder => "Awarded By" %>
      </div>

      <div id="divResult-working" class="hiddenDiv input-prepend">
        <span class="add-on"><i class="icon-star"></i></span>
        <div class="input-append input-prepend">
          <%= text_field_tag :competition_name, nil, :placeholder => "Competition Name" %>
          <%= text_field_tag :result_position, nil, :placeholder => "Position", :class=> "span1" %>
        </div>
        <%= text_field_tag :result_value, nil, :placeholder => "Mark", :style => "width: 50px;" %>
        <%= select_tag :result_var, options_for_select([['Seconds',"s"], ['Kilograms', "kg"], ['Meters', "m"]]) %>
      </div>

      <p>
      <div id="divLocation-working" class="input-prepend">
        <span class="add-on"><i class="icon-map-marker"></i></span>
        <div class="input-append input-prepend">
          <%= text_field_tag :country, nil, :placeholder => "Country" %>
        </div>
        <%= text_field_tag :city, nil, :placeholder => "City" %>
      </div>

      <div id="divDate-working" class="input-prepend">
        <div class="input-prepend date" id="dp5" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
          <span class="add-on"><i class="icon-calendar"></i></span>
          <%= text_field_tag :init, "12-02-2012", :class => "span2"%>
        </div>

        <div class="input-prepend date" id="dp6" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
          <span class="add-on"><i class="icon-calendar"></i></span>
          <%= text_field_tag :end, "12-02-2012", :class => "span2", :id => "end-date-working" %>
        </div>
        <p>Currently working here <%= check_box_tag :'currently-working' %></p>
      </div>
      </p>

      <div id="divDes-working" class="hiddenDiv input-prepend">
        <span class="add-on"><i class="icon-pencil"></i></span>
        <textarea rows="3"></textarea>
      </div>


      <script>
          !function ($) {
              $(function(){
                  $('#dp5').datepicker()
                  $('#dp6').datepicker()
              })
          }(window.jQuery)
      </script>
    </fieldset>

    <button type="submit" class="pull-right btn btn-success"><b>Add</b></button>
    <div class="clearfix"></div>

<%  end %>