<%= stylesheet_link_tag    "profile" %>
<div class="container">
  <div class="row white">
    <div class="page-title"></div>
    <%= form_tag({:controller => "users", :action => "change_password"}, {:class => "form-center span4"}) do %>
      <h3>Nueva Contrase単a</h3>
      <label>Ingresa tu nueva contrase単a</label>
      <%= password_field_tag :password, nil, :class => "input-small input-block-level" %>
      <label>Verifica tu nueva contrase単a</label>
      <%= hidden_field_tag :token, @token %>
      <%= password_field_tag :password_confirmation, nil, :class => "input-small input-block-level" %>
      <%= submit_tag "Guardar", :class => "btn btn-success pull-right clearfix" %>
      <div class="clearfix"></div>
      <% if flash[:error] %>
        <hr>
        <div class="alert alert-error">
          <p><strong>Las contrase単as no coinciden</strong> verifica e intenta nuevamente.</p>
        </div><!--help-->
      <% end %>
    <% end %>

  </div><!--span12-->
</div><!-- /.container -->