<%= form_tag(:controller => "users", :action => "change_password") do %>
    <fieldset>
      <label>New password</label>
      <%= password_field_tag :password %>
      <label>New password confirmation</label>
      <%= password_field_tag :password_confirmation %>
      <%= hidden_field_tag :token, @token %>
      <%= submit_tag "Change password" %>
    </fieldset>
<% end %>