    <div class="tab-pane" id="next-events">
      <% if signed_in? && @user.inAdmins?(current_user)  %>
        <ul class="post-actions">
          <li><a>As administrator you can create new events.</a></li>
          <li class="pull-right">
            <%= link_to new_event_path(@user) do %>
              <i class="icon-calendar"></i> Create a New Event</a>
            <% end %>
          </li>
        </ul><!--post-actions-->
        <div class="clearfix"></div>
      <% end %>
        
    <% if @next_events.count > 0 %>
      <% @next_events.each do |month, events| %>
        <h5><%= Date::MONTHNAMES[month] %></h5>
        <table class="table table-bordered event-table">
          <tbody>
          <% events.collect do |event| %>
          <tr><!-- comienza bloque evento -->
            <td><i class="icon-calendar"></i> <%= event.date.strftime("%A, %B #{event.date.day.ordinalize}, %Y") %>
              <a href="<%= event_path(event) %>"><h4><%= event.name %></h4></a>
            </td>
            <td class="w-30"><%= event.user_events.count %> Assistants
              <div class="assistants"><!--maximo 4 -->
              <% event.user_events.limit(4).each do |user_event| %>
                <%= link_to image_tag(user_event.user.profilepic, :class => "img-rounded"), '#' %>
              <% end %>
              </div>
            </td>
            <td class="w-10"><a href="<%= event_path(event) %>"><%= event.date.strftime("%H:%M") %></a></td>
          </tr><!--termina bloque evento-->
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% else %>
        <h3>No upcoming events</h3>
    <% end %>
      </div><!-- #next-events -->