<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "load-image" %>
<%= javascript_include_tag "bootstrap-image-gallery" %>
<%= stylesheet_link_tag    "bootstrap-image-gallery" %>

<div class="container">

  <div class="row">
    <div class="span12">
      <div class="page-title margin-10">
        <h3 class="inline"><a href="#"><%= link_to @user.full_name, @user %> </a><span><i class="icon-camera icon-white"></i>
          <%=  @photos.count %> pictures   </span><span><i class="icon-facetime-video icon-white"></i> <%=  @videos.count %> videos</span>
          <% if signed_in? && @user.id == current_user.id  %>
            <span><a href="#videoModal" data-toggle="modal" role="button" id="btn-video" class="pull-right"><i class="icon-play icon-white"></i> New video</a></span>
            <span><a href="#photoModal" data-toggle="modal" role="button" id="btn-photo" class="pull-right" style="padding-right: 10px;"><i class="icon-picture icon-white"></i> New picture  </a></span>
          <% end  %>
        </h3>
      </div>
    </div>
    <div class="input-prepend input-append pull-right" style="margin-right: 7px;">
      <span class="add-on" rel="tooltip" title="show/hide videos"><i class="icon-facetime-video"></i></span>
      <span class="add-on"><input class="cb" type="checkbox" id="checkBoxVideos"></span>
    </div>
    <div class="input-prepend input-append pull-right" style="margin-right: 7px;">
      <span class="add-on" rel="tooltip" title="show/hide pictures"><i class="icon-camera"></i></span>
      <span class="add-on"><input class="cb" type="checkbox" id="checkBoxPictures"></span>
    </div>

  </div>

  <div class="row relative">

    <div class="images span12">
      <div class="image-gallery">
        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
        <%  @photos.each do |photo| %>
          <div class="image-editable">
            <a href="<%= photo.url %>" data-gallery="gallery" data-id="<%= photo.id %>">
              <%= image_tag(photo.url) %>
            </a>  
            <% if signed_in? && @user.id == current_user.id %>
              <div class="dropdown pull-right">
                <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-cog"></i></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to raw('<i class="icon-remove"></i> Delete'), photo, :method => :delete, :confirm => "Are you sure you want to delete the selected photo?" %></li>
                </ul>
              </div>
            <% end %>
          </div>
        <%  end %>
        </div>
        <%  @videos.each do |video| %>
            <div class="video">
              <%= raw(youtube_embed(video.url,240,200,true)) %>
            </div>
        <%  end %>
      </div>
    </div>

  </div>
</div>

<%=  render 'photos/modal_gallery' %>
<%=  render 'photos/photo_modal' %>
<%=  render 'videos/video_modal' %>


<script>
    $(document).ready(function(){
        var photos = <%= raw (@photos.to_json(:methods => :tags)) %>;
        function fullname(objeto){
            if(objeto.isSponsor == true)
            return objeto.name;
            else return objeto.name + " " + objeto.lastname;
        }

        $('.dropdown-toggle').dropdown();

        $('#video-submit').click(function(){
            $("#new_video").submit();
        });
        $(".cb").attr("checked","checked");

        $('#checkBoxPictures').change(function(){
            $(".image-editable").each(function(){
                $( this ).toggle();
            });
        });

        $('#checkBoxVideos').change(function(){
            $(".video").each(function(){
                $( this ).toggle();
            });
        });
        $('#modal-gallery').on('load', function () {
            var modalData = $(this).data('modal');
            var photo_id = $(modalData.$links[modalData.options.index]).attr("data-id");

            var photo = $.grep(photos, function(element, index){
                return element.id == photo_id;
            })[0];
            $(this).find("#description").html(photo.comment);
            $(this).find("input[name='tags[photo_id]']").val(photo.id);
            $(this).find("span.label").remove();

            if(photo.tags && photo.tags.length > 0){
                for(i=0;i<photo.tags.length;i++){
                    if(photo.tags[i].lastname)
                        $(this).find("#appendtags").after('<span style="margin-right: 2px;" class="label label-info">' + fullname(photo.tags[i]) + ' <input type="hidden" name="tags[users][]" value="' + photo.tags[i].id + '"><button type="button" class="close pull-right" aria-hidden="true">×</button></span>');
                    else
                        $(this).find("#appendtags").after('<span style="margin-right: 2px;" class="label label-success">' + photo.tags[i].name + ' <input type="hidden" name="tags[events][]" value="' + photo.tags[i].id + '"><button type="button" class="close pull-right" aria-hidden="true">×</button></span>');
                }
             }
            console.log(photo);
        });

    });
</script>