<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "profile" %>

<div class="container">

  <div class="row">
    <div class="span12">
      <div class="page-title margin-10">
        <h3 class="inline"><a href="#"><%= link_to @user.full_name, @user %> </a><span><i class="icon-camera icon-white"></i> <%=  @photos.count %> pictures   </span><span><i class="icon-facetime-video icon-white"></i> <%=  @videos.count %> videos</span></h3>
      </div>
    </div>
  </div>

  <div class="row relative">

    <div class="images span12">
      <div class="image-gallery">
        <%  @photos.each do |photo| %>
            <%= image_tag(photo.url) %>
        <%  end %>
        <%  @videos.each do |video| %>
            <%= raw(youtube_embed(video.url,240,200,true)) %>
        <%  end %>
      </div>
    </div>

  </div>
</div>

<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
