<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "load-image" %>
<%= javascript_include_tag "masonry.pkgd" %>
<%= javascript_include_tag "bootstrap-image-gallery" %>
<%= stylesheet_link_tag    "bootstrap-image-gallery" %>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-title margin-10">
        <h4 class="inline">
          <%= link_to @user.full_name, profile_path(@user) %>
          <span>
            <i class="icon-camera"></i> <%=  @photos.count %> pictures
            <i class="icon-facetime-video"></i> <%=  @videos.count %> videos
          </span>
        </h4>
        
      <% if signed_in? && ( @user.id == current_user.id || @user.inAdmins?(current_user) ) %>
        <a href="#videoModal" data-toggle="modal" role="button" id="btn-video" class="btn pull-right"><i class="icon-play icon-white"></i> New video</a>
        <a href="#photoModal" data-toggle="modal" role="button" id="btn-photo" class="btn pull-right" style="margin-right: 10px;"><i class="icon-picture icon-white"></i> New picture</a>
      <% end %>
      </div>
    </div>
    <div class="input-prepend input-append pull-right" style="margin-right: 7px;">
      <span class="add-on" rel="tooltip" title="show/hide videos"><i class="icon-facetime-video"></i></span>
      <span class="add-on"><input class="cb" type="checkbox" id="checkBoxVideos"></span>
    </div>
    <div class="input-prepend input-append pull-right" style="margin-right: 7px;">
      <span class="add-on" rel="tooltip" title="show/hide pictures"><i class="icon-camera"></i></span>
      <span class="add-on"><input class="cb" type="checkbox" id="checkBoxPictures"></span>
    </div>
  </div>

  <div class="row-fluid">
    <div class="images span12">
      <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth":0, "itemSelector": ".item-box:visible" }'>
        <div class="image-gallery">
          <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
            <!--<div class="item-box"></div>--><!--el primero para hacer un reset, luego van los post-->
            
          <%  @photos.each do |photo| %>
            <div class="item-box image-editable">
              <div class="item-wrap">
                <a href="<%= photo.url %>" data-gallery="gallery" data-id="<%= photo.id %>">
                  <%= image_tag(photo.url) %>
                </a>
                
              <% if signed_in? && ( @user.id == current_user.id || @user.inAdmins?(current_user) ) %>
                <div class="dropdown pull-right">
                  <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-cog"></i></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><%= link_to raw('<i class="icon-remove"></i> Delete'), photo, :method => :delete, :confirm => "Are you sure you want to delete the selected photo?" %></li>
                  </ul>
                </div>
              <% end %>
              </div><!--item-wrap-->
            </div><!--item-box-->
          <%  end %>
          </div>
          <%  @videos.each do |video| %>
          <div class="item-box" style="width: 240px; height: 200px;">
            <div class="item-wrap video">
              <%= raw(youtube_embed(video.url,240,200,true)) %>
            </div><!--item-wrap-->
          </div><!--item-box-->
          <%  end %>
        </div><!--image-gallery-->
      </div><!--#container-->
    </div><!--images span12-->
  </div><!--row-fluid-->
</div>

<%=  render 'photos/modal_gallery' %>
<%=  render 'photos/photo_modal' %>
<%=  render 'videos/video_modal' %>


<script>
  $(document).ready(function(){
    $('.dropdown-toggle').dropdown();
    
    $('#video-submit').click(function(){
      $("#new_video").submit();
    });
    
    $(".cb").attr("checked","checked");
    
    $('#checkBoxPictures').change(function(){
      $(".image-editable").each(function(){
        $( this ).toggle();
      });
    });
    
    $('#checkBoxVideos').change(function(){
      $(".video").each(function(){
        $( this ).toggle();
      });
    });
  });
</script>