<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "/javascripts/countries.js" %>
<%= javascript_include_tag "/javascripts/sports.js" %>

<div class="container">
  <div class="row">
    <!--begin form-->
    <%= form_for @user, :html => {:multipart => true, :accept => "image/gif,image/png,image/jpg"} do |f| %>
    <div class="box box-media span3 event-single">
      <div class="img-polaroid fileupload" data-provides="fileupload">
        <div class="thumbnail">
          <% if @user.profilephotourl %>
              <div class="img-polaroid">
                <%= link_to image_tag(@user.profilephotourl, :class => "user-profile"), '#' %>
                <% if signed_in? && @user.id == current_user.id %>
                    <div class="dropdown">
                      <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#"><i class="icon-pencil"></i> Change Photo</a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#profilePictureModal" data-toggle="modal"><i class="icon-picture"></i> Choose from photos</a></li>
                        <li><a href="#photoModal" data-toggle="modal"><i class="icon-arrow-up"></i> Upload a photo</a></li>
                        <!-- <li><a><i class="icon-pencil"></i> Edit thumbnail</a></li> -->
                        <!-- <li><a><i class="icon-remove"></i> Remove</a></li> -->
                      </ul>
                    </div>
                <% end %>
              </div>
          <% else %>
              <div class="fileupload-new">
                <i class="default-icon icon-user icon-4x">
                  <a class="btn btn-file btn-success">Upload a photo<input type="file" name="profile_picture" id="profile_picture" accept="image/*" /></a>
                </i>
              </div>
              <div class="fileupload-exists">
                <i class="default-icon">
                  <div class="fileupload-preview">

                  </div>
                  <a class="btn" data-dismiss="fileupload">Remove</a>
                </i>
              </div>
          <% end %>
        </div>
      </div>
      
      <div class="event-info">
      </div><!--event info-->
    </div><!--box-media-->
    
    <div class="profileInfo relative span9">
      <div class="user">
        <br>
        <h3 class="inline">Fill out your profile</h3>
        <p>This will help you easily connect with other users and institutions</p>
      </div><!--user-->
    </div><!-- /profileInfo -->
    
    <div class="box box-info span6 company">
      <div class="resume">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
          
        <h4>General Information</h4>
        <fieldset>
          <!-- Name-->
          <div class="input-prepend" data-validate='["user_name", "user_lastname"]'>
            <span class="add-on"><i class="icon-user"></i></span>
            <%= f.text_field :name, :placeholder => "First Name"%>
            <%= f.text_field :lastname, :placeholder => "Last Name" %>
          </div>
          <!--Sport-->
          <div class="input-prepend" data-validate='["sport_id"]'>
            <span class="add-on"><i class="icon-circle"></i></span>
            <%= render :partial => 'sports/autocomplete', :locals => { :sport_id => @user.get_sport_id_main } %>
          </div>
          <br>
          <h4 class="inline">Personal Information</h4><p>Location, Birthday and Description</p>
          <!--Location-->
          <div class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span>
            <%= render :partial => 'users/autocomplete_country', :locals => { :country_id => @user.country_id, :name => "user[country_id]" } %>
            <%= f.text_field :citybirth, :placeholder => "City" %>
          </div>
          <br />
          <!--Gender-->
          <div class="input-prepend">
            <span class="add-on"><i class="icon-file"></i></span>
            <%= f.select(:gender, [['Select a gender', nil], ['Male', 'M'], ['Female', 'F']], {:class => 'span3'}) %>
          </div>
          </br>
          <!--Date-->
          <div class="input-prepend date" id="dp6" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= f.text_field :birth, :value => @user.birth ? @user.birth.strftime("%d-%m-%Y") : nil, :class => "span2", :placeholder => "Date birth" %>
          </div>
          
          <!--Description-->
          <div class="input-prepend">
            <span class="add-on"><i class="icon-pencil"></i></span>
            <%= f.text_area :resume, :class => "span5", :rows => 4, :placeholder => "Describe your skills and attributes" %>
          </div>
          
          <div class="alert alert-error hide">
            ...
          </div>
        </fieldset>
        
        <div class="actions">
          <%= f.submit :class => "btn btn-success"%>
        </div>
      </div><!--resume-->
    </div><!--span6 company-->
    
    <% end %>
    <!--end form-->
    
    <div class="box box-connect span3">
      <div class="box-content">
        <h4>Tips</h4>
        <ul class="sponsor-main">
          <li>This information will make you visible in <span>Let's Jock</span></li>
          <li class="divider"></li>
          <li><i class="icon-user"></i> Complete your information</li>
          <li><i class="icon-picture"></i> Upload your public profile picture</li>
          <li><i class="icon-edit"></i> Add your description! Talk about yourself, and <span>share your skills, attributes and aspirations</span></li>
          <li class="divider"></li>
          <li><i class="icon-question-sign"></i> Need some help? You can always <a href="/about#contact-us">contact us</a></li>
        </ul>
      </div>
    </div><!--box-connect-->
  </div>
</div>

<script>
  !function ($) {
    $(function(){
      $('.date').datepicker();
      
      $('input[name=commit]').click(function(e){
          e.preventDefault();
          form_profile_validate($("#edit_user_<%= @user.id %>"), {});
      });
    })
  }(window.jQuery)
</script>



