<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>

<%	 provide(:title, @user.full_name) %>

<div class="container">
  <div class="row">
    <div class="box box-media span3">
      <div class="img-polaroid">
        <%= link_to image_tag(@user.profilephotourl, :class => "user-profile"), '#' %>
      </div>
        <!-- begin Pictures -->
      <div class="event-info">
        <h5><i class="icon-star"></i>Featured info 1</h5>
        <h5><i class="icon-camera"></i><%= link_to 'Pictures' , pictures_path(@user) %></h5>
        <div class="event-pictures">
          <%  @photos.take(6).each do |photo| %>
              <%	 if signed_in? && @user.id == current_user.id%>
                  <%= link_to image_tag(photo.url) , :controller => 'users', :action => 'change_profile_pic', :url => photo.url %>
              <% else %>
                  <%= link_to image_tag(photo.url) , '#' %>
              <% end %>
          <%  end %>
        </div><!--user-pictures-->
        <h5 class="white">
          <%= @photos.count %> pictures
          <%= link_to 'see more' , pictures_path(@user) %>
          <a href="#photoModal" data-toggle="modal" role="button" id="btn-photo" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
        </h5>
        <h5><i class="icon-facetime-video"></i><a href="#">Videos</a></h5>
        <div class="user-video">
          <iframe width="270" height="152" src="http://www.youtube.com/embed/mGOeXhK2_WE" frameborder="0" allowfullscreen=""></iframe>
        </div><!--user-video-->

        <h5 class="white">
          <%= @videos.count %> videos
          <a href="#">see more</a>
          <a href="#videoModal" data-toggle="modal" role="button" id="btn-video" class="btn btn-mini btn-success pull-right">Upload <i class="icon-white icon-circle-arrow-up"></i></a>
        </h5>
      </div>
    </div><!--box-media-->

    <ul class="profileIcons span9">
      <li><i class="icon-eye-open icon-white"></i><%= link_to @user.followers.count.to_s + " followers", social_path(@user) %><%= link_to @user.followed_users.count.to_s + " following", social_path(@user) %></li>
      <li><i class="icon-camera icon-white"></i><%= link_to @photos.count.to_s + ' pictures' , pictures_path(@user) %></li>
      <li><i class="icon-facetime-video icon-white"></i><a href="#"><%= @videos.count %> videos</a></li>
    </ul><!-- /profileIcons -->
    <div class="profileInfo relative span9">
      <div class="user">
        <h2><%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :name, :type => :input, :inner_class => "nameInput" %> <%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :lastname, :type => :input, :inner_class => "nameInput"  %></h2>
        <p><%  if @user.birth && @user.birth != "" %>/ <%=  ((Time.new - @user.birth)/1.year).ceil - 1 %> years<%  end %>
          <%  if @user.citybirth != "" %> <%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :citybirth, :type => :input, :inner_class => "locationInput" %>,
              <%  end %><%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :country, :type => :input, :inner_class => "locationInput" %></p>
      </div><!--user-->
      <div class="connections">
        <%=	 image_tag 'verified.png' %>
        <%=	 render 'follow_form' if signed_in? %>
      </div>
    </div><!-- /profileInfo -->

    <div class="box box-info span6">
      <script>
          $(document).ready(function(){
              /*$(".hito-click").hide();

              $(".hito-click").click(function(){
                  $idx = $(this).attr('id');
                  $(".hito-click").each(function () {
                      if ( $(this).attr('id') != $idx  ) {
                          $(this).toggle("fast");}
                  });
                  $("#div-render").toggle("normal");
                  if($("#div-render").is(':hidden')){$('.disappear1').html(' ');}
              });

              $("#dropdown-sports-btn1").click(function(){
                  $ddm = document.getElementById('dropdown-sports-btn1');
                  if(($ddm.textContent)!="Sport"){
                  $(".hito-click").show("normal");
                  $("#div-render").hide("normal");
                  $('#div-render').empty();}
              });

              $('#hito1').click(function(){
                  $('#div-render').empty();
              });

              $("#btn-add3").click(function(){
                  if($("#edu1").is(':hidden') || $("#edu2").is(':hidden') || $("#edu3").is(':hidden')){
                      $(".btn-edu").show("fast");
                  }
                  else {$(".btn-edu").toggle("fast");
                  }
              });

              $("#dropdown-menu-sports1 a").click(function(){
                  $ddm = document.getElementById('dropdown-sports-btn1');
                  $ddm.textContent = $(this).attr('name_s');
                  gon.sport_id = $(this).attr('id_s');
                  $(".hito-click").show("normal");
              });   */

              jQuery(function($) {
                  $('.dropdown-toggle').dropdown();
              });

              $("#upload-input").hide();
              $("#photo-link-input").hide();

              $('#btn-photo-1').click(function(){
                  $("#photo-link-input").toggle("normal");
              });
              $('#photo-submit').click(function(){
                  $("#new_photo").submit();
              });
              $('#add-submit').click(function(){
                  $("#new-profile-entry").submit();
              });
              $('#hito1').click(function(){
                  $('#divAward').toggle("normal");
              });
              $('#hito2').click(function(){
                  $('#divResult').toggle("normal");
              });
              $('#hito3').click(function(){
                  $('#divTeam').toggle("normal");
              });
              $('#hito4').click(function(){
                  $('#divTrain').toggle("normal");
              });
              $(".hiddenDiv").hide();

          });</script>
      <div class="resume">
        <p>
          <%=	 best_in_place_if (signed_in? && @user.id == current_user.id), @user, :resume, :type => :textarea %>
        </p>
      </div><!--resume-->
      <div class="resume">
        <h4>Athlete Profile</h4>
        <div class="accordion" id="accordion3"> <!--mapa-->
          <div class="accordion-group events-filter">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion3" href="#collapseAdd">
              <span>+</span>Add new
              </a>
            </div>
            <div id="collapseAdd" class="accordion-body collapse" style="height: 0px;">
              <div class="accordion-inner">
                <%	 if signed_in? %>
                    <legend>What do you want to add?</legend>
                    <div class="header-buttons">
                      <a><button id="hito4" class="btn-success hito-click">
                        <i class="icon-user icon-2x"></i>
                        Training
                      </button></a>
                      <a><button id="hito3" class="btn-success hito-click">
                        <i class="icon-group icon-2x"></i>
                        Team
                      </button></a>
                      <a><button id="hito1" class="btn-success hito-click">
                        <i class="icon-trophy icon-2x"></i>
                        Award
                      </button></a>
                      <a><button id="hito2" class="btn-success hito-click">
                        <i class="icon-star icon-2x"></i>
                        Result
                      </button></a>
                    </div>
                    <%= render 'profile_form'  %>

                <%	 else %>
                    <p>You must be logged in to complete your profile!</p>
                <%	 end %>
              </div>
            </div>
          </div>
        </div>

        <%	if @athleteExperiences.any?  %>
            <%=	 render @athleteExperiences %>
        <%	end %>
      </div><!--resume-->
      <div class="resume">
        <h4>Working Experience</h4>

        <div class="accordion" id="accordion4"> <!--mapa-->
          <div class="accordion-group events-filter">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion4" href="#collapseAdd2">
                <span>+</span>Add new
              </a>
            </div>
            <div id="collapseAdd2" class="accordion-body collapse" style="height: 0px;">
              <div class="accordion-inner">
                <%	 if signed_in? %>
                    <legend>What do you want to add?</legend>
                    <div class="header-buttons">
                      <a><button id="hito4" class="btn-success hito-click">
                        <i class="icon-user icon-2x"></i>
                        Training
                      </button></a>
                      <a><button id="hito3" class="btn-success hito-click">
                        <i class="icon-group icon-2x"></i>
                        Team
                      </button></a>
                      <a><button id="hito1" class="btn-success hito-click">
                        <i class="icon-trophy icon-2x"></i>
                        Award
                      </button></a>
                      <a><button id="hito2" class="btn-success hito-click">
                        <i class="icon-star icon-2x"></i>
                        Result
                      </button></a>
                      <a><button id="hito5" class="btn-success hito-click">
                        <i class="icon-pencil icon-2x"></i>
                        Description
                      </button></a>
                    </div>
                    <%= render 'profile_form'  %>

                <%	 else %>
                    <p>You must be logged in to complete your profile!</p>
                <%	 end %>
              </div>
            </div>
          </div>
        </div>

        <%	if @works.any?  %>
            <%=	 render @works %>
        <%	end %>
      </div><!--resume-->
      <div class="resume">
        <h4>Education</h4>

        <div class="accordion" id="accordion5"> <!--mapa-->
          <div class="accordion-group events-filter">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed add-new pull-right" data-toggle="collapse" data-parent="#accordion5" href="#collapseAdd3">
                <span>+</span>Add new
              </a>
            </div>
            <div id="collapseAdd3" class="accordion-body collapse" style="height: 0px;">
              <div class="accordion-inner">
                <%	 if signed_in? %>
                    <legend>What do you want to add?</legend>
                    <div class="header-buttons">
                      <a><button id="hito4" class="btn-success hito-click">
                        <i class="icon-user icon-2x"></i>
                        Training
                      </button></a>
                      <a><button id="hito3" class="btn-success hito-click">
                        <i class="icon-group icon-2x"></i>
                        Team
                      </button></a>
                      <a><button id="hito1" class="btn-success hito-click">
                        <i class="icon-trophy icon-2x"></i>
                        Award
                      </button></a>
                      <a><button id="hito2" class="btn-success hito-click">
                        <i class="icon-star icon-2x"></i>
                        Result
                      </button></a>
                      <a><button id="hito5" class="btn-success hito-click">
                        <i class="icon-pencil icon-2x"></i>
                        Description
                      </button></a>
                    </div>

                    <%= render 'educations/form'  %>

                <%	 else %>
                    <p>You must be logged in to complete your profile!</p>
                <%	 end %>
              </div>
            </div>
          </div>
        </div>

        <%	if @educations.any?  %>
            <%=	 render @educations %>
        <%	end %>
      </div><!--resume-->
    </div>
    <div class="box box-connect span3">
      <div class="box-content">
        <h4>Events Related</h4>
        <ul class="aside connect-events">
          <li>
            <div class="img-container">
              <%= image_tag 'slide-01.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Event Name</a>
              <p>invites <a href="#">Sponsor</a></p>
              <p>date, hour</p>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'slide-02.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Event Name</a>
              <p>invites <a href="#">Sponsor</a></p>
              <p>date, hour</p>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'slide-03.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Event Name</a>
              <p>invites <a href="#">Sponsor</a></p>
              <p>date, hour</p>
            </div>
          </li>
        </ul>
        <a href="#" class="align-right">See more</a>
      </div><!--box-content-->
      <div class="box-content">
        <h4>People you may know</h4>
        <ul class="aside connect-people">
          <li>
            <div class="img-container">
              <%= image_tag 'user-1.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Username</a>
              <p>sport</p>
              <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'user-2.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Username</a>
              <p>sport</p>
              <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'user-3.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Username</a>
              <p>sport</p>
              <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
            </div>
          </li>
        </ul>
        <a href="#" class="align-right">See more</a>
      </div>
    </div><!--box-connect-->
  </div>
</div><!-- /.container -->
<div id="photoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Photos</h3>
  </div>
  <div class="modal-body">
   <% if signed_in? %>
      <% unless @photo.blank? %>
        <%= form_for @photo do |f| %>
            <fieldset>
            <%= f.text_field :title, :placeholder => "Title" %>

            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>

              <div>
                <li>
                  <a role="button" id="btn-photo-1" href="#" class="btn btn-large btn-photo-link"><i class="icon-globe"></i> Link</a>
                  <a role="button" id="btn-photo-2" href="#" class="btn btn-large btn-file fileupload-new btn-photo-down"><i class="icon-download-alt"></i> Computer<input type="file" /></a>
                </li>
                <li>
                  <%= f.text_area :comment, :placeholder => "Comment", :id => "photo-comment-input" %>
                </li>
              </div>

                <%= f.text_field :url, :placeholder => "Place your picture link here!", :id => "photo-link-input", :class => "span4" %>

                <div>
                <a href="#" class="btn fileupload-exists btn-large" data-dismiss="fileupload"><i class="icon-remove"></i> Remove</a>
                </div>
            </div>

            <%=	   f.hidden_field :user_id, :value => current_user.id %>
            <%=    f.hidden_field :sport_id, :value => 1 %>
            </fieldset>
        <%  end %>
      <% end%>
     <% else %>
     <p>You must be logged in to upload photos!</p>
   <% end %>
  </div>
  <div class="modal-footer">

    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="photo-submit" class="btn btn-primary">Upload</button>

  </div>
</div>

<div id="videoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Videos</h3>
  </div>
  <div class="modal-body">
    <a role="button" id="btn-video-1" href="#" class="btn btn-large"><i class="icon-globe"></i> Link</a> <input id="video-link-input" class="span4" type="text" placeholder="Place your video link here!">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Upload</button>
  </div>
</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


