<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>

<%	 provide(:title, @user.full_name) %>

<div class="container">
  <div class="row">
    <div class="box box-media span3">
      <%= link_to image_tag(@user.profilephotourl, :class => "user-profile"), '#' %>
      <!-- begin Pictures -->
      <div class="user-pictures">
        <%  @photos.take(6).each do |photo| %>
            <%= link_to image_tag(photo.url) , '#'%>
        <%  end %>
      </div><!--user-pictures-->
      <p><%= @photos.count %> pictures <a href="#">see more <i class="icon-camera"></i></a></p>
      <a href="#photoModal" data-toggle="modal" role="button" id="btn-photo" class="btn btn-mini pull-right">Upload <i class="icon-circle-arrow-up"></i></a>
      <!-- end Pictures -->
      <!-- begin Videos -->
      <div class="user-video">
        <iframe width="270" height="152" src="http://www.youtube.com/embed/mGOeXhK2_WE" frameborder="0" allowfullscreen></iframe>
      </div><!--user-video-->
      <p><%= @videos.count %> videos <a href="#">see more <i class="icon-facetime-video"></i></a></p>
      <a href="#videoModal" data-toggle="modal" role="button" id="btn-video" class="btn btn-mini pull-right">Upload <i class="icon-circle-arrow-up"></i></a>
      <!--end Videos -->
    </div><!--box-media-->
    <ul class="profileIcons span9">
      <li><i class="icon-user icon-white"></i><%= link_to @user.followers.count.to_s + " followers", social_path(@user) %><%= link_to @user.followed_users.count.to_s + " following", social_path(@user) %></li>
      <li><i class="icon-camera icon-white"></i><a href="#"><%= @photos.count %> pictures</a></li>
      <li><i class="icon-facetime-video icon-white"></i><a href="#"><%= @videos.count %> videos</a></li>
    </ul><!-- /profileIcons -->
    <div class="profileInfo relative span9">
      <div class="user">
        <h2><%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :name, :type => :input, :inner_class => "nameInput" %> <%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :lastname, :type => :input, :inner_class => "nameInput"  %></h2>
        <p><%  if @user.birth && @user.birth != "" %>/ <%=  ((Time.new - @user.birth)/1.year).ceil - 1 %> years<%  end %>
          <%  if @user.citybirth != "" %>, <%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :citybirth, :type => :input, :inner_class => "locationInput" %>,
              <%  end %><%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :country, :type => :input, :inner_class => "locationInput" %></p>
      </div><!--user-->
      <div class="connections">
        <%=	 image_tag 'verified.png' %>
        <%=	 render 'follow_form' if signed_in? %>
      </div>
    </div><!-- /profileInfo -->

    <div class="box box-info span6">
      <script>
          $(document).ready(function(){
              /*$(".hito-click").hide();

              $(".hito-click").click(function(){
                  $idx = $(this).attr('id');
                  $(".hito-click").each(function () {
                      if ( $(this).attr('id') != $idx  ) {
                          $(this).toggle("fast");}
                  });
                  $("#div-render").toggle("normal");
                  if($("#div-render").is(':hidden')){$('.disappear1').html(' ');}
              });

              $("#dropdown-sports-btn1").click(function(){
                  $ddm = document.getElementById('dropdown-sports-btn1');
                  if(($ddm.textContent)!="Sport"){
                  $(".hito-click").show("normal");
                  $("#div-render").hide("normal");
                  $('#div-render').empty();}
              });

              $('#hito1').click(function(){
                  $('#div-render').empty();
              });

              $("#btn-add3").click(function(){
                  if($("#edu1").is(':hidden') || $("#edu2").is(':hidden') || $("#edu3").is(':hidden')){
                      $(".btn-edu").show("fast");
                  }
                  else {$(".btn-edu").toggle("fast");
                  }
              });

              $("#dropdown-menu-sports1 a").click(function(){
                  $ddm = document.getElementById('dropdown-sports-btn1');
                  $ddm.textContent = $(this).attr('name_s');
                  gon.sport_id = $(this).attr('id_s');
                  $(".hito-click").show("normal");
              });   */

              jQuery(function($) {
                  $('.dropdown-toggle').dropdown();
              });

              $("#upload-input").hide();
              $("#photo-link-input").hide();

              $('#btn-photo-1').click(function(){
                  $("#photo-link-input").toggle("normal");
              });
              $('#photo-submit').click(function(){
                  $("#new_photo").submit();
              });
              $('#add-submit').click(function(){
                  $("#new-profile-entry").submit();
              });
              $('#hito1').click(function(){
                  $('#divAward').toggle("normal");
              });
              $('#hito2').click(function(){
                  $('#divResult').toggle("normal");
              });
              $('#hito3').click(function(){
                  $('#divTeam').toggle("normal");
              });
              $('#hito4').click(function(){
                  $('#divTrain').toggle("normal");
              });
              $('#hito5').click(function(){
                  $('#divLocation').toggle("normal");
              });
              $(".hiddenDiv").hide();

          });</script>
      <div class="resume">
        <p>
          <%=	 best_in_place_if (signed_in? && @user.id == current_user.id), @user, :resume, :type => :textarea %>
        </p>
      </div><!--resume-->
      <div class="resume">
        <h4>Athlete Profile<a data-toggle="modal" role="button" href="#addModal" id="btn-add1" class="btn btn-success pull-right">Add new <i class="icon-plus icon-white"></i></a></h4>

        <%	if @athleteExperiences.any?  %>
            <%=	 render @athleteExperiences %>
        <%	end %>
      </div><!--resume-->
      <div class="resume">
        <h4>Working Experience<a id="btn-add2" class="btn btn-success pull-right">Add new <i class="icon-plus icon-white"></i></a></h4>

        <%	if @works.any?  %>
            <%=	 render @works %>
        <%	end %>
      </div><!--resume-->
      <div class="resume">
        <h4>Education<a id="btn-add3" class="btn btn-success pull-right">Add new <i class="icon-plus icon-white"></i></a></h4>

        <%	if @educations.any?  %>
            <%=	 render @educations %>
        <%	end %>
      </div><!--resume-->
    </div>
    <div class="box box-connect span3">
      <div class="box-content">
        <h4>Events Related</h4>
        <ul class="aside connect-events">
          <li>
            <div class="img-container">
              <%= image_tag 'slide-01.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Event Name</a>
              <p>invites <a href="#">Sponsor</a></p>
              <p>date, hour</p>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'slide-02.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Event Name</a>
              <p>invites <a href="#">Sponsor</a></p>
              <p>date, hour</p>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'slide-03.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Event Name</a>
              <p>invites <a href="#">Sponsor</a></p>
              <p>date, hour</p>
            </div>
          </li>
        </ul>
        <a href="#" class="align-right">See more</a>
      </div><!--box-content-->
      <div class="box-content">
        <h4>People you may know</h4>
        <ul class="aside connect-people">
          <li>
            <div class="img-container">
              <%= image_tag 'user-1.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Username</a>
              <p>sport</p>
              <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'user-2.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Username</a>
              <p>sport</p>
              <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'user-3.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Username</a>
              <p>sport</p>
              <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
            </div>
          </li>
        </ul>
        <a href="#" class="align-right">See more</a>
      </div>
    </div><!--box-connect-->
  </div>
</div><!-- /.container -->
<div id="photoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Photos</h3>
  </div>
  <div class="modal-body">
   <% if signed_in? %>
      <% unless @photo.blank? %>
        <%= form_for @photo do |f| %>
            <fieldset>
            <%= f.text_field :title, :placeholder => "Title" %>

            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>

                <a role="button" id="btn-photo-1" href="#" class="btn btn-large btn-photo-link"><i class="icon-globe"></i> Link</a>
                <a role="button" id="btn-photo-2" href="#" class="btn btn-large btn-file fileupload-new btn-photo-down"><i class="icon-download-alt"></i> Computer<input type="file" /></a>
                <%= f.text_area :comment, :placeholder => "Comment", :id => "photo-comment-input" %>
                <%= f.text_field :url, :placeholder => "Place your picture link here!", :id => "photo-link-input", :class => "span4" %>

                <div>
                <a href="#" class="btn fileupload-exists btn-large" data-dismiss="fileupload"><i class="icon-remove"></i> Remove</a>
                </div>
            </div>

            <%=	   f.hidden_field :user_id, :value => current_user.id %>
            <%=    f.hidden_field :sport_id, :value => 1 %>
            </fieldset>
        <%  end %>
      <% end%>
     <% else %>
     <p>You must be logged in to upload photos!</p>
   <% end %>
  </div>
  <div class="modal-footer">

    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="photo-submit" class="btn btn-primary">Upload</button>

  </div>
</div>

<div id="videoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Videos</h3>
  </div>
  <div class="modal-body">
    <a role="button" id="btn-video-1" href="#" class="btn btn-large"><i class="icon-globe"></i> Link</a> <input id="video-link-input" class="span4" type="text" placeholder="Place your video link here!">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Upload</button>
  </div>
</div>

<div id="addModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add New</h3>
  </div>
  <div class="modal-body">
    <%	 if signed_in? %>

    <button type="button" id="hito1" class="btn btn-danger hito-click">Award</button>
    <button type="button" id="hito2" class="btn btn-danger hito-click">Result</button>
    <button type="button" id="hito3" class="btn btn-danger hito-click">Team</button>
    <button type="button" id="hito4" class="btn btn-danger hito-click">Training</button>
    <button type="button" id="hito5" class="btn btn-danger hito-click">Location</button>
    </br>

      <%= render 'profile_form'  %>
    <%	 else %>
      <p>You must be logged in to complete your profile!</p>
    <%	 end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="add-submit" class="btn btn-primary">Add</button>
  </div>
</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script><iframe src="http://twitter.github.com/bootstrap/assets/js/Carousel Template · Bootstrap.htm" frameborder="0" style="border: 0px; visibility: visible; z-index: 2147483647; position: fixed; width: 100%; left: 0px; bottom: 0px; height: 300px; display: none;" id="FirebugUI"></iframe>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>