<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<div class="lineTop">
</div><!-- /lineTop -->
<header>
  <div class="wrapper relative">
    <div class="logo">
    </div><!-- /logo -->
    <ul class="nav">
      <li><%=  link_to 'news', '#'  %></li>
      <li><%=  link_to 'events', root_url + 'events'  %></li>
      <%  if signed_in? %>
        <li><%=  link_to 'contacts', '#'  %></li>
        <li class="btnInbox"><%=  link_to 'inbox ', root_url + 'inbox' %><span><%= @user.messages.count %></span></li>
      <% end %>
    </ul><!-- /nav -->
    <ul class="navRight">
      <li class="relative">
        <input type="text" placeholder="Busca deportistas, entrenadores, eventos..." />
        <button type="submit"></button>
      </li>
      <% if signed_in? %>
          <li class="options"><a href="#"><%=  current_user.full_name %></a></li>
      <% end %>
    </ul><!-- /navRight -->
  </div><!-- /wrapper -->
</header>
<span class="lineBr"></span>

<div class="container wrapper">
  <div class="profileColGraphic">
    <div class="profileImg">
      <!--<span></span>-->
      <%= link_to image_tag(@user.profilephotourl, :id => 'test_pic') , '#'%>
    </div><!-- /profileImg -->

    <div class="profileThumb">
      <%  @photos.take(6).each do |photo| %>
          <%= link_to image_tag(photo.url) , '#'%>
      <%  end %>
    </div><!-- /profileThumb -->
    <br class="clear" />
    <a href="#" class="buttonBlack">View more pictures</a>
    <div class="profileVideo">
      <iframe width="270" height="152" src="http://www.youtube.com/embed/mGOeXhK2_WE" frameborder="0" allowfullscreen></iframe>
    </div><!-- /profileVideo -->
    <a href="" class="buttonBlack">View more videos</a>
  </div><!-- /profileColGraphic -->

  <ul class="profileIcons">
    <li><span class="iconProfile iconContacts"></span><a href="#">0 contacts</a></li>
    <li><a href="#"><span class="iconProfile iconRecommendation"></span>0 recommendations</a></li>
    <li><a href="#"><span class="iconProfile iconPictures"></span><%= @photos.count %> pictures</a></li>
    <li><a href="#"><span class="iconProfile iconVideos"></span><%= @videos.count %> videos</a></li>
  </ul><!-- /profileIcons -->

  <div class="profileInfo relative">
    <h1><%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :name, :type => :input, :inner_class => "nameInput" %> <%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :lastname, :type => :input, :inner_class => "nameInput"  %></h1>
    <p><strong></strong> <%  if @user.birth && @user.birth != "" %>/ <%=  ((Time.new - @user.birth)/1.year).ceil - 1 %> years<%  end %>
      <%  if @user.citybirth != "" %>, <%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :citybirth, :type => :input, :inner_class => "locationInput" %>,
      <%  end %><%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :country, :type => :input, :inner_class => "locationInput" %></p>
    <ul class="boxConnect">
      <li><a class="verified" href="#"></a></li>
      <li><a class="connect" href="#"><p>connect</p></a></li>
      <li><%= render 'follow_form' if signed_in? %></li>
    </ul><!-- /boxConect  -->
  </div><!-- /profileInfo -->

  <div class="experienceLine">
    <ul>
    <!-- Toggle Buttons -->
    <li>
      <button type="button" class="btn btn-info" id="btn-add">
        Complete your profile!
      </button>

      </br>

      <button type="button" id = "sport1" class="btn btn-danger btn-cat btn-sport">
        Athlete
      </button>
      <button type="button" id = "sport2" class="btn btn-danger btn-cat btn-sport">
        Sporty Work
      </button>
      <button type="button" id = "sport3" class="btn btn-danger btn-cat">
        Non-sporty
      </button>
      <button type="button" id = "sport4" class="btn btn-danger btn-cat">
        Educational
      </button>

      <br/>

      <button type="button" id = "edu1" class="btn btn-primary btn-edu">
        High School
      </button>
      <button type="button" id = "edu2" class="btn btn-primary btn-edu">
        College
      </button>
      <button type="button" id = "edu3" class="btn btn-primary btn-edu">
        University
      </button>

      <br/>

      <div class="btn-group preLoad" id="sports">
        <button class="btn btn-primary" id="dropdown-sports-btn">Sports</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="dropdown-menu-sports">
          <% @sports.each do |sport| %>
              <% if  sport.fullpath == '/' + sport.id.to_s %>
                  <li><a href="#" name_s=<%= sport.name %> ><%= sport.name %> </a></li>
              <% end %>
          <% end %>
          <li class="divider"></li>
          <li><a href="#">Sports</a></li>
        </ul>
      </div>

      <br/>

      <button type="button" id="hito1" class="btn btn-warning hito-click">Training</button>
      <button type="button" id="hito2" class="btn btn-warning hito-click">Competition</button>
      <button type="button" id="hito3" class="btn btn-warning hito-click">Team</button>
      <button type="button" id="hito4" class="btn btn-warning hito-click">Result</button>
      <button type="button" id="hito5" class="btn btn-warning hito-click">Award</button>
      <button type="button" id="hito6" class="btn btn-warning hito-click">Job</button>


      <script>
          $(document).ready(function(){
              $(".hito-click").hide();
              $(".preLoad").hide();
              $(".btn-cat").hide();
              $(".btn-edu").hide();

              $(".hito-click").click(function(){
                  $idx = $(this).attr('id');
                  $(".hito-click").each(function () {
                      if ( $(this).attr('id') != $idx  ) {
                          $(this).toggle("fast");}
                  });
              });
              $("#btn-add").click(function(){
                  if(!($("#sports").is(':hidden') && $("#edu1").is(':hidden') && $("#edu2").is(':hidden') && $("#edu3").is(':hidden'))){
                      $(".hito-click").hide("fast");
                      $(".preLoad").hide("normal");
                      $(".btn-cat").show("normal");
                      $(".btn-edu").hide("normal");
                  }
                  else   { $(".btn-cat").each(function () {
                      $(this).toggle("normal");
                  });}
              });

              $(".btn-sport").click(function(){
                  $("#sports").toggle("normal");
              });

              $("#dropdown-sports-btn").click(function(){
                  $(".hito-click").show("normal");
              });

              $("#sport4").click(function(){
                  if($("#sport1").is(':hidden') && $("#sport2").is(':hidden') && $("#sport3").is(':hidden')){
                      $(".btn-edu").hide("normal");
                  }
                  else {$(".btn-edu").toggle("normal");
                  }
              });
              $(".btn-cat").click(function(){
                  $idx = $(this).attr('id');
                  $(".hito-click").hide("normal");
                  $(".btn-cat").each(function () {
                      if ( $(this).attr('id') != $idx  ) {
                          $(this).toggle("normal");}
                  });
              });
              $(".btn-edu").click(function(){
                  $idx = $(this).attr('id');
                  $(".btn-edu").each(function () {
                      if ( $(this).attr('id') != $idx  ) {
                          $(this).toggle("normal");}
                  });
              });
              $("#dropdown-menu-sports a").click(function(){
                  $ddm = document.getElementById('dropdown-sports-btn');
                  $ddm.textContent = $(this).attr('name_s');
                  $(".hito-click").show("normal");
              });
              jQuery(function($) {
                  $('.dropdown-toggle').dropdown();
              });
          });</script>


    </li>
    <!-- End Toggle Buttons -->


      <li>
        <h2>Abstract</h2>
        <% if signed_in? && current_user.id == @user.id %>
            <p><%= best_in_place @user, :resume, :type => :input %></p>
        <% else %>
            <p><%= @user.resume%></p>
        <%	 end %>
      </li>

      <li>
        <h2>Latest honors</h2>
        <%	if @honors.any?  %>
            <%=	 render @honors %>
        <%	end %>
        <% if signed_in? && current_user.id == @user.id %>
            <!--    <%= form_for(@result, :url => { :controller => :results, :action => :create }) do |f| %>
                Valor <%= f.number_field :value %>
                Unidad <%= f.text_field :var %>
                Sport ID <%= f.number_field :sport_id %>
                Competition ID <%= f.number_field :competition_id %>
                Team ID <%= f.number_field :team_id %>
                Description <%= f.text_field :description %>
                Date <%= f.date_select :date %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Result" %>
            <% end %>
            <%= form_for(@recognition, :url => { :controller => :recognitions, :action => :create }) do |f| %>
                Sport ID <%= f.number_field :sport_id %>
                Competition ID <%= f.number_field :competition_id %>
                Team ID <%= f.number_field :team_id %>
                Description <%= f.text_field :description %>
                Date <%= f.date_select :date %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Recognition" %>
            <% end %> -->
         <%	 end %>
      </li>

      <li>
        <h2>Experience</h2>
        <%	if @experiences.any?  %>
            <%=	 render @experiences %>
        <%	end %>
        <% if signed_in? && current_user.id == @user.id %>
            <!--    <%= form_for(@competition, :url => { :controller => :competitions, :action => :create }) do |f| %>
                Name <%= f.text_field :name %>
                Sport ID <%= f.number_field :sport_id %>
                Date init <%= f.date_select :init %>
                Date end <%= f.date_select :end %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Competition" %>
            <% end %>
            <%= form_for(@team, :url => { :controller => :teams, :action => :create }) do |f| %>
                Name <%= f.text_field :name %>
                Sport ID <%= f.number_field :sport_id %>
                Date init <%= f.date_select :init %>
                Date end <%= f.date_select :end %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Team" %>
            <% end %>
            <%= form_for(@train, :url => { :controller => :trains, :action => :create }) do |f| %>
                Name <%= f.text_field :name %>
                Sport ID <%= f.number_field :sport_id %>
                Team ID <%= f.number_field :team_id %>
                Date init <%= f.date_select :init %>
                Date end <%= f.date_select :end %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Train" %>
            <% end %> -->
        <% end %>
      </li>

    </ul>
  </div><!-- /experienceLine -->

  <div class="sidebar">
    <div class="sidebarBox">
      <a href="#"><h3>News and events</h3></a>
      <a href="#">
        <div class="sidebarBoxItem">
          <p><small>News | Publicado 14 de Diciembre</small></p>
          <p>Nuevo Evento: Corrida Milo</p>
        </div><!-- /sidebarBoxItem -->
      </a>
      <a href="#">
        <div class="sidebarBoxItem">
          <p><small>News | Publicado 14 de Diciembre</small></p>
          <p>Nuevo Torneo: Copa Copec</p>
        </div><!-- /sidebarBoxItem -->
      </a>
      <a href="" class="buttonBlack">View more</a>
    </div><!-- /sidebarBox -->

    <div class="sidebarBox">
      <a href="#"><h3>People you may know</h3></a>
      <div class="sidebarBoxUser">
        <div class="sidebarBoxUserImg">
          <%=  image_tag('72x72.gif') %>
        </div><!-- /sidebarBoxUserImg -->
        <p>Friend 1</p>
        <a href="#"><div class="miniConect">conectar</div></a>
      </div><!-- /sidebarBoxUser -->

      <div class="sidebarBoxUser">
        <div class="sidebarBoxUserImg">
          <%=  image_tag('72x72.gif') %>
        </div><!-- /sidebarBoxUserImg -->
        <a href="#"><p>Friend 2</p></a>
        <a href="#"><div class="miniConect">conectar</div></a>
      </div><!-- /sidebarBoxUser -->

      <div class="sidebarBoxUser">
        <div class="sidebarBoxUserImg">
          <%=  image_tag('72x72.gif') %>
        </div><!-- /sidebarBoxUserImg -->
        <p>Friend 3</p>
        <a href="#"><div class="miniConect">conectar</div></a>
      </div><!-- /sidebarBoxUser -->

      <a href="#" class="buttonBlack">View more</a>
    </div><!-- /sidebarBox -->
    <img src="220x220.gif" alt="" title="" />
  </div><!-- /sidebar -->
  <br class="clear" />
</div><!-- /container -->

<footer >
</footer>