<div class="lineTop">
</div><!-- /lineTop -->
<header>
  <div class="wrapper relative">
    <div class="logo">
    </div><!-- /logo -->
    <ul class="nav">
      <li class="btnInbox"><a href="#">inbox <span>1</span></a></li>
      <li><a href="#">contacts</a></li>
      <li><a href="#">events</a></li>
      <li><a href="#">news</a></li>
    </ul><!-- /nav -->
    <ul class="navRight">
      <li class="relative">
        <input type="text" placeholder="Busca deportistas, entrenadores, eventos..." />
        <button type="submit"></button>
      </li>
      <li class="options"><a href="#"><%=	@user.full_name %></a></li>
    </ul><!-- /navRight -->
  </div><!-- /wrapper -->
</header>
<span class="lineBr"></span>

<div class="container wrapper">
  <div class="profileColGraphic">
    <div class="profileImg">
      <span></span>
      <%= link_to image_tag('270x270.gif', :id => 'test_pic') , '#'%>
    </div><!-- /profileImg -->

    <div class="profileThumb">
      <%  @photos.take(6).each do |photo| %>
          <%= link_to image_tag(photo.url) , '#'%>
      <%  end %>
    </div><!-- /profileThumb -->
    <br class="clear" />
    <a href="" class="buttonBlack">View more pictures</a>
    <div class="profileVideo">
      <iframe width="270" height="152" src="http://www.youtube.com/embed/mGOeXhK2_WE" frameborder="0" allowfullscreen></iframe>
    </div><!-- /profileVideo -->
    <a href="" class="buttonBlack">View more videos</a>
  </div><!-- /profileColGraphic -->

  <ul class="profileIcons">
    <li><span class="iconProfile iconContacts"></span><a href="#">324 contacts</a></li>
    <li><a href="#"><span class="iconProfile iconRecommendation"></span>21 recommendations</a></li>
    <li><a href="#"><span class="iconProfile iconPictures"></span><%= @photos.count %> pictures</a></li>
    <li><a href="#"><span class="iconProfile iconVideos"></span><%= @videos.count %> videos</a></li>
  </ul><!-- /profileIcons -->

  <div class="profileInfo relative">
    <h1><%=	@user.name  %> <%=	@user.lastname  %></h1>
    <p><strong>Soccer Goalkeeper</strong> <%  if @user.birth && @user.birth != "" %>/ <%=  ((Time.new - @user.birth)/1.year).ceil - 1 %> years<%  end %><%  if @user.citybirth != "" %>, <%=  @user.citybirth %>, <%  end %><%=  @user.country %></p>
    <ul class="boxConnect">
      <li><a class="verified" href="#"></a></li>
      <li><a class="connect" href="#"><p>connect</p></a></li>
      <li><a class="jockOn" href="#"><p>jock-on!</p></a></li>
    </ul><!-- /boxConect -->
  </div><!-- /profileInfo -->

  <div class="experienceLine">
    <ul>
      <li>
        <h2>Abstract</h2>
        <p><%=	 @user.resume %></p>
        <% if signed_in? && current_user.id == @user.id %>
            <!-- Form para info del profile -->
            <%=	 form_for @user  do |f|%>
                Birth <%=  f.date_select :birth %>
                City Birth <%=  f.text_field :citybirth  %>
                Country <%=	 f.text_field :country %>
                Resume <%=	 f.text_field :resume %>
                <%=	 f.submit %>
            <%	 end %>
            <!-- Form para fotos -->
            <%=	 form_for @photo  do |f|%>
                Title <%=  f.text_field :title %>
                Comment <%=  f.text_field :comment  %>
                url <%=	 f.text_field :url %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%=	 f.submit %>
            <%	 end %>
            <!-- Form para videos -->
            <%=	 form_for @video  do |f|%>
                Title <%=  f.text_field :title %>
                Comment <%=  f.text_field :comment  %>
                url <%=	 f.text_field :url %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%=	 f.submit %>
            <%	 end %>
        <%	 end %>
      </li>

      <li>
        <h2>Latest honors</h2>
        <%	if @honors.any?  %>
            <%=	 render @honors %>
        <%	end %>
        <% if signed_in? && current_user.id == @user.id %>
            <%= form_for(@result, :url => { :controller => :results, :action => :create }) do |f| %>
                Valor <%= f.number_field :value %>
                Unidad <%= f.text_field :var %>
                Sport ID <%= f.number_field :sport_id %>
                Competition ID <%= f.number_field :competition_id %>
                Team ID <%= f.number_field :team_id %>
                Description <%= f.text_field :description %>
                Date <%= f.date_select :date %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Result" %>
            <% end %>
            <%= form_for(@recognition, :url => { :controller => :recognitions, :action => :create }) do |f| %>
                Sport ID <%= f.number_field :sport_id %>
                Competition ID <%= f.number_field :competition_id %>
                Team ID <%= f.number_field :team_id %>
                Description <%= f.text_field :description %>
                Date <%= f.date_select :date %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Recognition" %>
            <% end %>
         <%	 end %>
      </li>

      <li>
        <h2>Experience</h2>
        <%	if @experiences.any?  %>
            <%=	 render @experiences %>
        <%	end %>
        <% if signed_in? && current_user.id == @user.id %>
            <%= form_for(@competition, :url => { :controller => :competitions, :action => :create }) do |f| %>
                Name <%= f.text_field :name %>
                Sport ID <%= f.number_field :sport_id %>
                Date init <%= f.date_select :init %>
                Date end <%= f.date_select :end %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Competition" %>
            <% end %>
            <%= form_for(@team, :url => { :controller => :teams, :action => :create }) do |f| %>
                Name <%= f.text_field :name %>
                Sport ID <%= f.number_field :sport_id %>
                Date init <%= f.date_select :init %>
                Date end <%= f.date_select :end %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Team" %>
            <% end %>
            <%= form_for(@train, :url => { :controller => :trains, :action => :create }) do |f| %>
                Name <%= f.text_field :name %>
                Sport ID <%= f.number_field :sport_id %>
                Team ID <%= f.number_field :team_id %>
                Date init <%= f.date_select :init %>
                Date end <%= f.date_select :end %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <%= f.submit "Create Train" %>
            <% end %>
        <% end %>
      </li>

    </ul>
  </div><!-- /experienceLine -->

  <div class="sidebar">
    <div class="sidebarBox">
      <a href="#"><h3>News and events</h3></a>
      <a href="#">
        <div class="sidebarBoxItem">
          <p><small>News | Publicado 14 de Diciembre</small></p>
          <p>Nuevo Evento: Corrida Milo</p>
        </div><!-- /sidebarBoxItem -->
      </a>
      <a href="#">
        <div class="sidebarBoxItem">
          <p><small>News | Publicado 14 de Diciembre</small></p>
          <p>Nuevo Torneo: Copa Copec</p>
        </div><!-- /sidebarBoxItem -->
      </a>
      <a href="" class="buttonBlack">View more</a>
    </div><!-- /sidebarBox -->

    <div class="sidebarBox">
      <a href="#"><h3>People you may know</h3></a>
      <div class="sidebarBoxUser">
        <div class="sidebarBoxUserImg">
          <%=  image_tag('72x72.gif') %>
        </div><!-- /sidebarBoxUserImg -->
        <p>Friend 1</p>
        <a href="#"><div class="miniConect">conectar</div></a>
      </div><!-- /sidebarBoxUser -->

      <div class="sidebarBoxUser">
        <div class="sidebarBoxUserImg">
          <%=  image_tag('72x72.gif') %>
        </div><!-- /sidebarBoxUserImg -->
        <a href="#"><p>Friend 2</p></a>
        <a href="#"><div class="miniConect">conectar</div></a>
      </div><!-- /sidebarBoxUser -->

      <div class="sidebarBoxUser">
        <div class="sidebarBoxUserImg">
          <%=  image_tag('72x72.gif') %>
        </div><!-- /sidebarBoxUserImg -->
        <p>Friend 3</p>
        <a href="#"><div class="miniConect">conectar</div></a>
      </div><!-- /sidebarBoxUser -->

      <a href="#" class="buttonBlack">View more</a>
    </div><!-- /sidebarBox -->
    <img src="220x220.gif" alt="" title="" />
  </div><!-- /sidebar -->
  <br class="clear" />
</div><!-- /container -->

<footer >
</footer>