<%= stylesheet_link_tag    "users" %>
<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>

<%	 provide(:title, @user.full_name) %>

<div class="container">
  <div class="row">
    <div class="box box-media span3">
      <%= link_to image_tag(@user.profilephotourl, :class => "user-profile"), '#' %>
      <!-- begin Pictures -->
      <div class="user-pictures">
        <%  @photos.take(6).each do |photo| %>
            <%= link_to image_tag(photo.url) , '#'%>
        <%  end %>
      </div><!--user-pictures-->
      <p><%= @photos.count %> pictures <a href="#">see more <i class="icon-camera"></i></a></p>
      <a href="#" class="btn btn-mini pull-right">Upload <i class="icon-circle-arrow-up"></i></a>
      <!-- end Pictures -->
      <!-- begin Videos -->
      <div class="user-video">
        <iframe width="270" height="152" src="http://www.youtube.com/embed/mGOeXhK2_WE" frameborder="0" allowfullscreen></iframe>
      </div><!--user-video-->
      <p><%= @videos.count %> videos <a href="#">see more <i class="icon-facetime-video"></i></a></p>
      <a href="#" class="btn btn-mini pull-right">Upload <i class="icon-circle-arrow-up"></i></a>
      <!--end Videos -->
    </div><!--box-media-->
    <ul class="profileIcons span9">
      <li><i class="icon-user icon-white"></i><%= link_to @user.followers.count.to_s + " followers", social_path(@user) %><%= link_to @user.followed_users.count.to_s + " followers", social_path(@user) %></li>
      <li><i class="icon-camera icon-white"></i><a href="#"><%= @photos.count %> pictures</a></li>
      <li><i class="icon-facetime-video icon-white"></i><a href="#"><%= @videos.count %> videos</a></li>
    </ul><!-- /profileIcons -->
    <div class="profileInfo relative span9">
      <div class="user">
        <h2><%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :name, :type => :input, :inner_class => "nameInput" %> <%=	best_in_place_if (signed_in? && @user.id == current_user.id), @user, :lastname, :type => :input, :inner_class => "nameInput"  %></h2>
        <p><%  if @user.birth && @user.birth != "" %>/ <%=  ((Time.new - @user.birth)/1.year).ceil - 1 %> years<%  end %>
          <%  if @user.citybirth != "" %>, <%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :citybirth, :type => :input, :inner_class => "locationInput" %>,
              <%  end %><%= best_in_place_if (signed_in? && @user.id == current_user.id), @user, :country, :type => :input, :inner_class => "locationInput" %></p>
      </div><!--user-->
      <div class="connections">
        <%=	 image_tag 'verified.png' %>
        <%=	 render 'follow_form' if signed_in? %>
      </div>
    </div><!-- /profileInfo -->

    <div class="box box-info span6">
      <script>
          $(document).ready(function(){
              $(".hito-click").hide();
              $(".hito-click2").hide();
              $(".preLoad").hide();
              $(".btn-edu").hide();
              $("#div-render").hide();
              $("#div-render2").hide();
              $("#div-render3").hide();

              $(".hito-click").click(function(){
                  $idx = $(this).attr('id');
                  $(".hito-click").each(function () {
                      if ( $(this).attr('id') != $idx  ) {
                          $(this).toggle("fast");}
                  });
                  $("#div-render").toggle("normal");
                  if($("#div-render").is(':hidden')){$('.disappear1').html(' ');}
              });
              $(".hito-click2").click(function(){
                  $idx = $(this).attr('id');
                  $(".hito-click2").each(function () {
                      if ( $(this).attr('id') != $idx  ) {
                          $(this).toggle("fast");}
                  });
                  $("#div-render2").toggle("normal");
                  if($("#div-render2").is(':hidden')){$('.disappear2').html(' ');}
              });

              $("#dropdown-sports-btn1").click(function(){
                  $ddm = document.getElementById('dropdown-sports-btn1');
                  if(($ddm.textContent)!="Sport"){
                  $(".hito-click").show("normal");
                  $("#div-render").hide("normal");
                  $('#div-render').empty();}
              });
              $("#dropdown-sports-btn2").click(function(){
                  $ddm = document.getElementById('dropdown-sports-btn2');
                  if(($ddm.textContent)!="Sport"){
                      $(".hito-click2").show("normal");
                      $("#div-render2").hide("normal");
                      $('#div-render2').empty();}
              });
              $('#hito1').click(function(){
                  $('#div-render').empty();
                  $('#div-render').append("<%= escape_javascript(render :partial => 'trains/form') %>");
              });
              $('#hito2').click(function(){
                  $('#div-render').empty();
                  $('#div-render').append("<%= escape_javascript(render :partial => 'competitions/form') %>");
              });
              $('#hito3').click(function(){
                  $('#div-render').empty();
                  $('#div-render').append("<%= escape_javascript(render :partial => 'teams/form') %>");
              });
              $('#hito4').click(function(){
                  $('#div-render').empty();
                  $('#div-render').append("<%= escape_javascript(render :partial => 'results/form') %>");
              });
              $('#hito5').click(function(){
                  $('#div-render').empty();
                  $('#div-render').append("<%= escape_javascript(render :partial => 'recognitions/form') %>");
              });
              $('#hito6').click(function(){
                  $('#div-render2').empty();
                  $('#div-render2').append("<%= escape_javascript(render :partial => 'trains/form') %>");
              });
              $('#hito7').click(function(){
                  $('#div-render2').empty();
                  $('#div-render2').append("<%= escape_javascript(render :partial => 'competitions/form') %>");
              });
              $('#hito8').click(function(){
                  $('#div-render2').empty();
                  $('#div-render2').append("<%= escape_javascript(render :partial => 'teams/form') %>");
              });
              $('#hito9').click(function(){
                  $('#div-render2').empty();
                  $('#div-render2').append("<%= escape_javascript(render :partial => 'results/form') %>");
              });
              $('#hito10').click(function(){
                  $('#div-render2').empty();
                  $('#div-render2').append("<%= escape_javascript(render :partial => 'recognitions/form') %>");
              });
              $('#hito11').click(function(){
                  $('#div-render2').empty();
                  $('#div-render2').append("<%= escape_javascript(render :partial => 'works/form') %>");
              });
              $('#edu1').click(function(){
                  $('#div-render3').empty();
                  $('#div-render3').append("<%= escape_javascript(render :partial => 'educations/form') %>");
              });
              $('#edu2').click(function(){
                  $('#div-render3').empty();
                  $('#div-render3').append("<%= escape_javascript(render :partial => 'educations/form') %>");
              });
              $('#edu3').click(function(){
                  $('#div-render3').empty();
                  $('#div-render3').append("<%= escape_javascript(render :partial => 'educations/form', :locals => { :educationType => 3}) %>");
              });
              $('#edu4').click(function(){
                  $('#div-render3').empty();
                  $('#div-render3').append("<%= escape_javascript(render :partial => 'educations/form', :locals => { :educationType => 4}) %>");
              });

              $("#btn-add1").click(function(){
                  if(!$("#sports1").is(':hidden')){
                      $("#sports1").hide("normal");
                      $(".hito-click").hide("normal");
                      $("#div-render").hide("normal");
                      $('#div-render').empty();
                  }
                  else {$("#sports1").toggle("normal");
                  }
              });
              $("#btn-add2").click(function(){
                  if(!$("#sports2").is(':hidden')){
                      $("#sports2").hide("normal");
                      $(".hito-click2").hide("normal");
                      $("#div-render2").hide("normal");
                      $('#div-render2').empty();
                  }
                  else {$("#sports2").toggle("normal");
                  }
              });
              $("#btn-add3").click(function(){
                  if($("#edu1").is(':hidden') || $("#edu2").is(':hidden') || $("#edu3").is(':hidden')){
                      $(".btn-edu").show("fast");
                  }
                  else {$(".btn-edu").toggle("fast");
                  }
              });

              $(".btn-edu").click(function(){
                  $idx = $(this).attr('id');
                  $(".btn-edu").each(function () {
                      if ( $(this).attr('id') != $idx  ) {
                          $(this).toggle("normal");}
                  });
                  $("#div-render3").toggle("normal");
              });
              $("#dropdown-menu-sports1 a").click(function(){
                  $ddm = document.getElementById('dropdown-sports-btn1');
                  $ddm.textContent = $(this).attr('name_s');
                  gon.sport_id = $(this).attr('id_s');
                  $(".hito-click").show("normal");
              });
              $("#dropdown-menu-sports2 a").click(function(){
                  $ddm = document.getElementById('dropdown-sports-btn2');
                  $ddm.textContent = $(this).attr('name_s');
                  $(".hito-click2").show("normal");
              });

              jQuery(function($) {
                  $('.dropdown-toggle').dropdown();
              });
          });</script>
      <div class="resume">
        <p>
          <%=	 best_in_place_if (signed_in? && @user.id == current_user.id), @user, :resume, :type => :textarea %>
        </p>
      </div><!--resume-->
      <div class="resume">
        <h4>Athlete Profile<a id="btn-add1" class="btn btn-success pull-right">Add new <i class="icon-plus icon-white"></i></a></h4>

        <div class="btn-group preLoad" id="sports1">
          <button class="btn btn-primary" id="dropdown-sports-btn1">Sport</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="dropdown-menu-sports1">
            <% @sports.each do |sport| %>
                <% if  sport.fullpath == '/' + sport.id.to_s %>
                    <li><a id_s=<%= sport.id %> name_s=<%= sport.name %>><%= sport.name %></a></li>
                <% end %>
            <% end %>
          </ul>
        </div>

        <button type="button" id="hito1" class="btn btn-danger hito-click">Training</button>
        <button type="button" id="hito2" class="btn btn-danger hito-click">Competition</button>
        <button type="button" id="hito3" class="btn btn-danger hito-click">Team</button>
        <button type="button" id="hito4" class="btn btn-danger hito-click">Result</button>
        <button type="button" id="hito5" class="btn btn-danger hito-click">Award</button>

        </br>
        <div id="div-render" class="disappear1">
        </div>

        </br>

        <%	if @athleteExperiences.any?  %>
            <%=	 render @athleteExperiences %>
        <%	end %>
      </div><!--resume-->
      <div class="resume">
        <h4>Working Experience<a id="btn-add2" class="btn btn-success pull-right">Add new <i class="icon-plus icon-white"></i></a></h4>

        <div class="btn-group preLoad" id="sports2">
          <button class="btn btn-primary" id="dropdown-sports-btn2">Sport</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="dropdown-menu-sports2">
            <% @sports.each do |sport| %>
                <% if  sport.fullpath == '/' + sport.id.to_s %>
                    <li><a name_s=<%= sport.name %> ><%= sport.name %> </a></li>
                <% end %>
            <% end %>
          </ul>
        </div>

        <button type="button" id="hito6" class="btn btn-danger hito-click2">Training</button>
        <button type="button" id="hito7" class="btn btn-danger hito-click2">Competition</button>
        <button type="button" id="hito8" class="btn btn-danger hito-click2">Team</button>
        <button type="button" id="hito9" class="btn btn-danger hito-click2">Result</button>
        <button type="button" id="hito10" class="btn btn-danger hito-click2">Award</button>
        <button type="button" id="hito11" class="btn btn-danger hito-click2">Job</button>

        </br>
             <div id="div-render2" class="disappear2">
        </div>


        </br>

        <%	if @works.any?  %>
            <%=	 render @works %>
        <%	end %>
      </div><!--resume-->
      <div class="resume">
        <h4>Education<a id="btn-add3" class="btn btn-success pull-right">Add new <i class="icon-plus icon-white"></i></a></h4>

        <button type="button" id = "edu1" class="btn btn-danger btn-edu">
          School
        </button>
        <button type="button" id = "edu2" class="btn btn-danger btn-edu">
          High School
        </button>
        <button type="button" id = "edu3" class="btn btn-danger btn-edu">
          College
        </button>
        <button type="button" id = "edu4" class="btn btn-danger btn-edu">
          University
        </button>

        <!-- </br>
             Render Educational Forms: edu1 - edu4
        -->
        </br>
        <div id="div-render3" class="disappear3">
        </div>

        <%	if @educations.any?  %>
            <%=	 render @educations %>
        <%	end %>
      </div><!--resume-->
    </div>
    <div class="box box-connect span3">
      <div class="box-content">
        <h4>Events Related</h4>
        <ul class="aside connect-events">
          <li>
            <div class="img-container">
              <%= image_tag 'slide-01.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Event Name</a>
              <p>invites <a href="#">Sponsor</a></p>
              <p>date, hour</p>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'slide-02.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Event Name</a>
              <p>invites <a href="#">Sponsor</a></p>
              <p>date, hour</p>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'slide-03.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Event Name</a>
              <p>invites <a href="#">Sponsor</a></p>
              <p>date, hour</p>
            </div>
          </li>
        </ul>
        <a href="#" class="align-right">See more</a>
      </div><!--box-content-->
      <div class="box-content">
        <h4>People you may know</h4>
        <ul class="aside connect-people">
          <li>
            <div class="img-container">
              <%= image_tag 'user-1.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Username</a>
              <p>sport</p>
              <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'user-2.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Username</a>
              <p>sport</p>
              <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
            </div>
          </li>
          <li>
            <div class="img-container">
              <%= image_tag 'user-3.jpg' %>
            </div>
            <div class="metadata">
              <a href="#">Username</a>
              <p>sport</p>
              <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
            </div>
          </li>
        </ul>
        <a href="#" class="align-right">See more</a>
      </div>
    </div><!--box-connect-->
  </div>

</div><!-- /.container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script><iframe src="http://twitter.github.com/bootstrap/assets/js/Carousel Template · Bootstrap.htm" frameborder="0" style="border: 0px; visibility: visible; z-index: 2147483647; position: fixed; width: 100%; left: 0px; bottom: 0px; height: 300px; display: none;" id="FirebugUI"></iframe>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>