<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>

<div class="container">
  <div class="row">
    <div class="box box-media span3 event-single">
      <div class="img-polaroid">
        <i class="default-icon icon-user icon-4x">
          <a href="#photoModal" role="button" data-toggle="modal" class="btn btn-success btn-small">
            <i class="icon-arrow-up"></i> Upload a photo
          </a>
        </i>
      </div>
      
      <div class="event-info">
      </div><!--event info-->
    </div><!--box-media-->
    
    <div class="profileInfo relative span9">
      <div class="user">
        <br>
        <h3 class="inline">Fill out your profile</h3>
        <p>This will help you to connect with other Users and Recruiters</p>
      </div><!--user-->
    </div><!-- /profileInfo -->
    
    <div class="box box-info span6 company">
      <div class="resume">
        <!--begin form-->
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
          
        <h4>General Information</h4>
        <!-- Name-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <%= f.text_field :name, :placeholder => "First Name"%>
          <%= f.text_field :lastname, :placeholder => "Last Name" %>
        </div>
        <!--Sport-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-circle"></i></span>
          <%= render :partial => 'sports/autocomplete', :locals => { :sport_id => current_user.get_sport_id_main } %>
        </div>
        <br>
        <h4 class="inline">Personal Information</h4><p>Location, Birthday and Description</p>
        <!--Location-->
        <div class="input-prepend">
          <!-- Aquí hay que agregar la lógica de los países (Select o Typeahead?) -->
          <span class="add-on"><i class="icon-map-marker"></i></span>
          <%= f.text_field :country, :placeholder => "Country" %>
          <%= f.text_field :citybirth, :placeholder => "City" %>
        </div>
        <br />
        <!--Gender-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-file"></i></span>
          <%= f.select(:gender, [['Select a gender', nil], ['Male', 'M'], ['Female', 'F']], {:class => 'span3'}) %>
        </div>
        </br>
        <!--Date-->
        <div class="input-prepend date" id="dp6" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
          <span class="add-on"><i class="icon-calendar"></i></span>
          <%= f.text_field :birth, :value => current_user.birth ? current_user.birth.strftime("%d-%m-%Y") : nil, :class => "span2", :placeholder => "Date birth" %>
        </div>
        
        <!--Description-->
        <div class="input-prepend">
          <span class="add-on"><i class="icon-pencil"></i></span>
          <%= f.text_area :resume, :class => "span5", :rows => 4, :placeholder => "Describe your skills and attributes" %>
          <%= f.hidden_field :country, :value => 'Chile' %>
        </div>
        <div class="actions">
          <%= f.submit :class => "btn btn-success"%>
        </div>
    <% end %>
        <!--end form-->
      </div><!--resume-->
    </div><!--span6 company-->
    
    <div class="box box-connect span3">
      <div class="box-content">
        <h4>Tips</h4>
        <ul class="sponsor-main">
          <li>This information will make you visible in <span>Let's Jock</span> and help you to connect with other Users and Recruiters</li>
          <li class="divider"></li>
          <li><i class="icon-user"></i> Complete your information</li>
          <li><i class="icon-picture"></i> Upload your public profile picture</li>
          <li><i class="icon-edit"></i> A description is always better! Talk about yourself, and <span>share your skills and aspirations</span></li>
          <li class="divider"></li>
          <li><i class="icon-question-sign"></i> Need some help? Check out our <a href="/about#privacy-policy">Privacy Policy</a> or <a href="/about#contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div><!--box-connect-->
  </div>
</div>

<div id="photoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-camera"></i> Upload First Photo</h3>
  </div>
  <div class="modal-body">
    <% if signed_in? %>

        <div class="fileupload fileupload-new" data-provides="fileupload">
          <div class="btn-group">
            <button class="btn btn-success btn-file fileupload-new btn-photo-down">Browse<input type="file" /></button>
            <button class="btn btn-success btn-file fileupload-exists">Change<input type="file" /></button>
            <button class="btn" id="btn-photo-1" data-toggle="button"><i class="icon-link"></i> URL</button>
          </div>

          <input class="span3" type="text" placeholder="http://">

          <div style="height: 240px">
            <div class="event-pictures fileupload-preview fileupload-exists thumbnail" style="height: 230px; width: 350px; margin: 0 auto;"></div>
            <div class="event-pictures fileupload-new thumbnail" style="width: 350px; height: 230px; margin: 0 auto;"><img id="image-upload-input" src="" /></div>
            <a class="close fileupload-exists" data-dismiss="fileupload" aria-hidden="true">×</a>
          </div>
        </div>
    <% else %>
        <p>You must be logged in to upload photos!</p>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="photo-submit" class="btn btn-primary">Upload</button>
  </div>
</div>

<script>
    !function ($) {
        $(function(){
            $('#dp6').datepicker()
        })
    }(window.jQuery)
</script>