<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "profile" %>

<body>

<div class="container">

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="span12">
    <div class="page-title margin-10">
    <h3 class="inline"><% if signed_in? && @user.id == current_user.id %><%else%><%= link_to @user.full_name, @user %>'s<% end %> Contacts</h3>
    </div>
  </div>

    </br> </br>

    <div class="span9">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#followers" data-toggle="tab"><%= @followers.count.to_s%> followers</a></li>
      <li><a href="#following" data-toggle="tab"><%= @followed.count.to_s%> following</a></li>

      <div class="input-append pull-right search-friend">
        <input class="span2" id="appendedInput" type="text" placeholder="Find your friends!" data-provide="typeahead" data-source= '<%= @friends_list %>' data-items="6">
        <span class="add-on"><i class="icon-search"></i></span>
      </div>

    </ul>


    </div>
</div>

<div class="row">
<div class="span9 contacts">
<div id="my-tab-content" class="tab-content">
<div class="tab-pane active" id="followers">

  <% unless @followers.blank? %>
      <%	 @followers.each do |follower| %>
          <div class="item-block span2 socialDiv">
            <div class="item-img">
              <%= link_to image_tag(follower.profilephotourl) , follower%>
            </div>
            <div class="item-info">
              <h4><%=	 link_to follower.full_name, follower %></h4>
              <p><b>Sport</b> and position</p>
              <p class="special"><%= follower.citybirth %>, <%= follower.country %></p>
            </div>
            <div class="item-info secondary-info">
              <p><b><%= link_to follower.followers.count.to_s + " followers", social_path(follower) %></b> | <%= link_to follower.followed_users.count.to_s + "  following", social_path(follower) %></p>
              <a href="#inboxModal" data-toggle="modal" role="button" id="new-inbox-btn" class="send-message"><i class="icon-envelope"></i></a>
            </div>
          </div>
      <% end %>
  <% end %>

</div><!-- #followers -->

<div class="tab-pane" id="following">

  <% unless @followed.blank? %>
      <%	 @followed.each do |followed| %>
          <div id='following-block-<%= followed.id %>' class="item-block span2 socialDiv">
            <div class="item-img">
              <%= link_to image_tag(followed.profilephotourl) , followed%>
            </div>
            <div class="item-info">
              <h4><%=	 link_to followed.full_name, followed %></h4>
              <p><b>Sport</b> and position</p>
              <p class="special"><%= followed.citybirth %>, <%= followed.country %></p>
            </div>
            <div class="item-info secondary-info">
              <p><b><%= link_to followed.followers.count.to_s + " followers", social_path(followed) %></b> | <%= link_to followed.followed_users.count.to_s + "  following", social_path(followed) %></p>
              <a href="#" class="send-message"><i class="icon-envelope"></i></a>
            </div>
          </div>
      <% end %>
  <% end %>

</div><!-- #following -->

</div><!-- #my-tab-content-->

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });

</script>

</div><!--row>

      <!-- /END THE FEATURETTES -->


<div class="box-index box-connect box-contact span3">
  <div class="box-content">
    <h4>People you may know</h4>
    <ul class="aside connect-people">
      <li>
        <div class="img-container">
          <%= image_tag 'user-1.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-2.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-3.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-4.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
      <li>
        <div class="img-container">
          <%= image_tag 'user-5.jpg' %>
        </div>
        <div class="metadata">
          <a href="#">Username</a>
          <p>sport</p>
          <a href="#" class="follow"><i class="icon-plus"></i>Follow</a>
        </div>
      </li>
    </ul>
    <a href="#" class="align-right">See more</a>
  </div>
</div><!--box-connect-->
</div>
  <%=  render :partial => 'messages/form', :locals => {:followers_list => @followers_list} %>
</div><!-- /.container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
    $(document).ready(function(){
        $('#appendedInput').keyup(function(){

        });
    });
</script>
</body>




