<%= javascript_include_tag "application" %>
<%= javascript_include_tag "index" %>
<div class="main-content">
  <div class="container front">
    <div class="row">
      <div class="span8 main">
        <%= image_tag 'logo-slogan.png', :class => "main-img" %>
        <h1>Let's Jock</h1>
        <h2>¡Bienvenido a la primera red de reclutamiento deportivo online!</h2>
      </div><!--span8-->
      <div class="span4">

        <% if flash[:error] %>
            <div class="alert alert-error index-flash">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%=  flash[:error] %><h4><%= link_to 'forgot your password?', forgotten_password_path , :style => "font-size: 10px" %></h4>
            </div>
        <% end %>
        <% if flash[:notice] %>
            <div class="alert alert-notice index-flash">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%=  flash[:notice] %> Click <%= link_to "here", send_mail_auth_path(:email => params[:email_attempt]) %> to recieve verification instructions.
            </div>
        <% end %>
        <% if flash[:success] %>
            <div class="alert alert-success index-flash">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%=  flash[:success] %>
            </div>
        <% end %>

        <%= form_for(:session, :url => sessions_path, :html => { :class => "form-login"}) do |f| %>
            <%= f.text_field :email, :name => "email", :placeholder => "Email", :validation => 'email required notBlank', :class => "input-small input-block-level" %>
            <div class="half">
              <%= f.password_field :password, :class => "input-small input-block-level", :name => "password", :placeholder => "Contraseña", :validation => 'required lengthMin6 notBlank' %>
              <%= content_tag :button, :type => :submit, :class => "btn btn-success input-block-level" do %>
                  Iniciar sesión
            </div>
            <% end %>

            <label class="checkbox">
              <input type="checkbox"> Recordar mis datos
              <span class="separator">·</span>
              <%= link_to '¿Olvidaste tu contraseña?', forgotten_password_path, :class => "forgot" %>
            </label>
        <% end %>
        <form class="form-login facebook">
          <button class="btn facebook-login input-block-level" id="button-facebook-login"><i class="icon-facebook icon-large"></i> | Conéctate con Facebook</button>
        </form>
        <%=	form_for @user, :url => { :controller => :users, :action => :create }, :html => { :class => "form-login"} do |f|   %>
            <hgroup>
              <h2>¿Eres Nuevo en Let's Jock?</h2>
              <h3>¡Regístrate y descubre un nuevo mundo deportivo!</h3>
            </hgroup>
            <%= f.text_field :name, :class => "input-small input-block-level", :name => "name", :placeholder => "Nombre", :validation => 'required notBlank' %>
            <%= f.text_field :lastname, :class => "input-small input-block-level", :name => "lastname", :placeholder => "Apellido", :validation => 'required notBlank' %>
            <%= f.text_field :email, :class => "input-small input-block-level", :name => "email", :placeholder => "Email", :validation => 'email required notBlank' %>
            <%= f.password_field :password, :class => "input-small input-block-level", :name => "password", :placeholder => "Contraseña", :validation => 'required lengthMin6 notBlank' %>
            <%= f.select :gender, [['Hombre', 'M'], ['Mujer', 'F']], {}, { :class => "input-small input-block-level", :name => "gender"} %>
            <p>Al hacer click en Regístrate en Let’s Jock, aceptas nuestros <a class="forgot" href="/about#terms-conditions">"Terms & Conditions"</a> y que has leído nuestra <a class="forgot" href="/about#privacy-policy">"Privacy Policy"</a>.</p>
            <%= content_tag :button, :type => :submit, :class => "btn btn-success input-block-level" do %>
                Regístrate en Let's Jock
            <% end %>
            <div class="clearfix"></div>
        <%	end %>

      </div><!--span4-->
    </div><!--row-->
  </div><!--container front-->
</div><!--main content-->


<div class="gray-content">
  <div class="container">
    <div class="welcome">
      <h4>¡Descubre Let's Jock! <i class="icon-chevron-down special-title"></i></h4>
      <blockquote class="enunciado">Lets Jock es la vitrina del deporte. Una herramienta que te permitirá crear tu perfil deportivo gratis<br>¡para que reclutadores y auspiciadores de todo el mundo vean tu talento!</blockquote>
      <ul>
        <li>
          <%= image_tag "welcome_1B.png" %>
          Crea tu perfil deportivo
        </li>
        <li>
          <%= image_tag "welcome_2B.png" %>
          Busca y sigue a usuarios e instituciones
        </li>
        <li>
          <%= image_tag "welcome_3B.png" %>
          Inscríbete en eventos deportivos
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="second-content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h5>Patrocinadores</h5>
        <ul class="patrocinador">
          <li><a href="http://www.incubauc.cl/" target="_blank"><%= image_tag "logo-incubauc.png" %></a></li>
          <li><a href="http://www.corfo.cl/" target="_blank"><%= image_tag "logo-corfo.png" %></a></li>
          <li><a href="http://startupchile.org/" target="_blank"><%= image_tag "logo-startup.png" %></a></li>
          <li><a href="http://www.fedachi.cl" target="_blank"><%= image_tag "logo-fedachi.jpg" %></a></li>
          <li><a href="http://www.fevochi.cl" target="_blank"><%= image_tag "logo-fevochi.png" %></a></li>
          <li><a href="http://www.golfjuniors.cl" target="_blank"><%= image_tag "logo-gold-action.png" %></a></li>
          <li><a href="http://www.federaciondetenisdechile.cl" target="_blank"><%= image_tag "logo-fede.png" %></a></li>
          <li><a href="http://www.adochile.cl/" target="_blank"><%= image_tag "logo-ado.png" %></a></li>
        </ul>
        <h5 class="auspicio">Auspiciadores</h5>
        <ul class="patrocinador auspiciador">
          <li><a href="http://www.gatorade.cl" target="_blank"><%= image_tag "logo-gatorade.png" %></a></li>
        </ul>
      </div><!--span12-->
    </div><!--row-->
  </div><!--container-->
</div><!--second-content-->

