<%= stylesheet_link_tag    "indexcss" %>
<%= javascript_include_tag "application" %>

<div class="container">
    <div class="presentation">
        <div class="header-logo">
            <div id="myCarousel" class="carousel slide" style="background-color:none;">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/assets/jock1.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/assets/jock2.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/assets/jock3.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/assets/jock4.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/assets/jock5.png" alt="">
                    </div>
                </div><!--carousel-inner-->
            </div><!-- /.carousel -->
        </div>
        <div class="notify-me">
            <p>Want to be notified on private beta? Sign up here and we'll let you know when we launch!</p>
            <form id="add_email" action="http://www.letsjock.com/process.php" method="post">
                <fieldset>
                    <div class="btn-group">
                        <input id="email" type="text" placeholder="Your e-mail here..." name="email">
                        <button id="email_button" name="submit" class="btn btn-success">Notify me</button>
                    </div>
                </fieldset>
            </form>
            <div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>Coming Soon</h1></strong><div class="ribbon-stitches-bottom"></div></div>
        </div><!--notify-me-->
    </div>
  <% end %>
  <% if flash[:success] %>
      <div class="alert alert-success index-flash">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%=  flash[:success] %>
      </div>
  <% end %>
  <div class="logoHome">
  </div><!-- /logoHome -->

  <div class="register">
    <%= form_for(:session, :url => sessions_path, :html => { :class => "loginForm"}) do |f| %>
        <%= f.text_field :email, :name => "email", :placeholder => "Email", :validation => 'email required notBlank' %>
        <div class="passLogin">
            <%= f.password_field :password, :class => "passLogin", :name => "password", :placeholder => "Password", :validation => 'required lengthMin6 notBlank' %>
            <%= content_tag :button, :type => :submit do %>
              Login!
            <% end %>
        </div><!-- /passLogin -->
        <%= link_to "Forgotten password?", forgotten_password_path, :class => "btn-link" %>
        <a href="#" class="facebook" onClick="login()"></a>
        <a href="twitter_log.php" class="twitter"></a>
        <br class="clear" />
    <% end %>

</div><!-- /.container -->

<script>
!function ($) {
    $(function(){
        // carousel demo
        $('#myCarousel').carousel();
        
	$('#email_button').click(function(e){
            e.preventDefault();  
            $form = $(this).closest('form');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                dataType: 'json',
                data: $('#add_email').serialize(),
                success: function(responseJson) {
                    $form.after("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><h4>Congratulations!</h4>" +responseJson.message+ "</div>");
                },
                error: function() {
                    $form.after("<div class='alert alert-error'><button type='button' class='close' data-dismiss='alert'>&times;</button><h4>You are a Betauser already!</h4>E-mail already submitted</div>");
                }
            });
        });
    })
}(window.jQuery)
    
</script>
