<div class="main-content">
  <div class="container front">
    <div class="row">
      <div class="span8 main">
        <%= image_tag 'logo-slogan.png', :class => "main-img" %>
        <h1>Let's Jock</h1>
        <h2>¡Bienvenido a la primera red de reclutamiento deportivo online!</h2>
      </div><!--span8-->
      <div class="span4">

        <% if flash[:error] %>
            <div class="alert alert-error index-flash">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>Login error!</h4> <%=  flash[:error] %>
            </div>
        <% end %>
        <% if flash[:success] %>
            <div class="alert alert-success index-flash">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%=  flash[:success] %>
            </div>
        <% end %>

        <%= form_for(:session, :url => sessions_path, :html => { :class => "form-login"}) do |f| %>
            <%= f.text_field :email, :name => "email", :placeholder => "Email", :validation => 'email required notBlank', :class => "input-small input-block-level" %>
            <%= f.password_field :password, :class => "input-small span2", :name => "password", :placeholder => "Contraseña", :validation => 'required lengthMin6 notBlank' %>
            <%= content_tag :button, :type => :submit, :class => "btn btn-success pull-right clearfix" do %>
                Iniciar sesión
            <% end %>
            <label class="checkbox">
              <input type="checkbox"> Recordar mis datos
              <span class="separator">·</span>
              <%= link_to '¿Olvidaste tu contraseña?', forgotten_password_path, :class => "forgot" %>
            </label>
        <% end %>

        <%=	form_for @user, :url => { :controller => :users, :action => :create }, :html => { :class => "form-login"} do |f|   %>
            <h4>¿Eres Nuevo en Let's Jock?</h4>
            <h6>¡Regístrate y descubre un nuevo mundo deportivo!</h6>
            <%= f.text_field :name, :class => "input-small input-block-level", :name => "name", :placeholder => "Nombre", :validation => 'required notBlank' %>
            <%= f.text_field :lastname, :class => "input-small input-block-level", :name => "lastname", :placeholder => "Apellido", :validation => 'required notBlank' %>
            <%= f.text_field :email, :class => "input-small input-block-level", :name => "email", :placeholder => "Email", :validation => 'email required notBlank' %>
            <%= f.password_field :password, :class => "input-small input-block-level", :name => "password", :placeholder => "Contraseña", :validation => 'required lengthMin6 notBlank' %>
            <%= f.select :gender, [["Hombre", "Male"], ["Mujer", "Female"]], :class => "input-small input-block-level", :name => "gender" %>
            <p>Al hacer click en Regístrate en Let’s Jock, aceptas nuestros <a class="forgot" href="/about#terms-conditions">"Terms & Conditions"</a> y que has leído nuestra <a class="forgot" href="/about#privacy-policy">"Privacy Policy"</a>.</p>
            <%= content_tag :button, :type => :submit, :class => "btn btn-success pull-right clearfix" do %>
                Regístrate en Let's Jock
            <% end %>
            <div class="clearfix"></div>
        <%	end %>

      </div><!--span4-->
    </div><!--row-->
  </div><!--container front-->
</div><!--main content-->


<div class="gray-content">
  <div class="container">
    <div class="welcome">
      <h3>¡Descubre Let's Jock! <i class="icon-chevron-down special-title"></i></h3>

      <div class="enunciado">
        <h4>Lets Jock es la vitrina del deporte. Una herramienta que te permitirá crear tu perfil deportivo gratis, ¡para que reclutadores y auspiciadores de todo el mundo vean tu talento!</h4>
      </div>

      <ul>
        <li>
          <%= image_tag 'welcome_1B.png' %>
          <h4>Crea tu perfil deportivo</h4>
        </li>
        <li>
          <%= image_tag 'welcome_2B.png' %>
          <h4>Busca y sigue a otros usuarios e instituciones</h4>
        </li>
        <li>
          <%= image_tag 'welcome_3B.png' %>
          <h4>Inscríbete en eventos deportivos</h4>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="second-content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3>Patrocinadores</h3>
        <div class="patrocinadores p3">
          <a href="http://www.incubauc.cl/" target="_blank"><%= image_tag 'logo-incubauc.png'  %></a>
          <a href="http://www.corfo.cl/" target="_blank"><%= image_tag 'logo-corfo.png'  %></a>
          <a href="http://startupchile.org/" target="_blank"><%= image_tag 'logo-startup.png'  %></a>
        </div>
        <ul class="patrocinador">
          <li><a href="http://www.anfp.cl" target="_blank"><%= image_tag 'logo-anfp.jpg'  %></a></li>
          <li><a href="http://www.fedachi.cl" target="_blank"><%= image_tag 'logo-fedachi.jpg'  %></a></li>
          <li><a href="http://www.fevochi.cl" target="_blank"><%= image_tag 'logo-fevochi.png'  %></a></li>
          <li><a href="http://www.golfjuniors.cl" target="_blank"><%= image_tag 'logo-gold-action.png'  %></a></li>
          <li><a href="http://www.federaciondetenisdechile.cl" target="_blank"><%= image_tag 'logo-fede.png'  %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
