<%= stylesheet_link_tag    "profile" %>
<%= stylesheet_link_tag    "indexcss" %>
<%= javascript_include_tag "application" %>

<div class="main-content">
  <div class="container">

    <div class="presentation">
      <div class="notify-me welcome">
        <h3>¡Bienvenido a la versión privada de Let's Jock!</h3>
        <ul>
          <li>
            <%= image_tag 'welcome_1.png' %>
            Crea tu perfil deportivo.
          </li>
          <li>
            <%= image_tag 'welcome_2.png' %>
            Busca y Sigue a otros usuarios e instituciones.
          </li>
          <li>
            <%= image_tag 'welcome_3.png' %>
            Inscríbete en eventos deportivos.
          </li>
        </ul>
        <a href="/newprofile"><button class="btn btn-success btn-large">Continuar</button></a>

        <div class="bottom">
          <p>Siguenos en</p>
          <a href="https://www.facebook.com/LetsJock"><i class="icon-facebook-sign icon-2x"></i></a>
          <a href="https://twitter.com/letsjock"><i class="icon-twitter-sign icon-2x"></i></a>
        </div>
      </div>
    </div>
  </div><!--container-->
</div>

<iframe src="http://twitter.github.com/bootstrap/assets/js/Carousel Template · Bootstrap.htm" frameborder="0" style="border: 0px; visibility: visible; z-index: 2147483647; position: fixed; width: 100%; left: 0px; bottom: 0px; height: 300px; display: none;" id="FirebugUI"></iframe>
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>