<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "validations" %>

<div class="container">
  <div class="row">
  <!--begin form-->
  <%= form_for @event, :html => {:multipart => true, :accept => "image/gif,image/png,image/jpg"} do |f| %>
    <div class="box box-media span3 event-single">
      <div class="img-polaroid fileupload" data-provides="fileupload">
        <div class="thumbnail">
          <div class="fileupload-new">
            <i class="default-icon icon-user icon-4x">
              <a class="btn btn-file btn-success">Upload a photo<input type="file" name="profile_picture" id="profile_picture" accept="image/*" /></a>
            </i>
          </div>
          <div class="fileupload-exists">
            <i class="default-icon">
              <div class="fileupload-preview">
                
              </div>
              <a class="btn" data-dismiss="fileupload">Remove</a>
            </i>
          </div>
        </div>
      </div>
      
      <div class="event-info">
        <h4>Sponsors</h4>
        <label>Gold</label>
        <div id="1-sponsors">
          <%= render :partial => 'events/sponsor', :locals => {:index => 0, :sponsors => @sponsors, :category => 1} %>
        </div>
        <label>Silver</label>
        <div id="2-sponsors">
          <%= render :partial => 'events/sponsor', :locals => {:index => 100, :sponsors => @sponsors, :category => 2} %>
        </div>
        <label>Bronze</label>
        <div id="3-sponsors">
          <%= render :partial => 'events/sponsor', :locals => {:index => 200, :sponsors => @sponsors, :category => 3} %>
        </div>


      </div><!--event info-->
    </div><!--box-media-->
    
    <div class="profileInfo relative span9">
      <div class="user">
        <h2><%= @event.name ? @event.name : "New Event" %></h2>
        <p>Created by <%= link_to @user.name, profile_path(@user) %></p>
      </div><!--user-->
    </div><!-- /profileInfo -->
    
    <div class="box box-info span6 company">
      <div class="resume">
            <% if @event.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
                  <ul>
                    <% @event.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <% if signed_in? %>
                <h4>General Information</h4>
                <!-- Event Name -->
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-circle"></i></span>
                  <%= f.text_field :name, :placeholder => "Event Name", :validation => 'required notBlank'%>
                </div>
                <div>
                  <div class="input-prepend date" id="dp5" data-date="01-01-2013" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" id="dateInput" class="span2 mixedInput" value="<% if @event.date %><%= @event.date.strftime("%d-%m-%Y") %><% end%>" validation="required notBlank" placeholder="from">
                  </div>
                  <div class="bfh-timepicker" data-time="<% if @event.date %><%= @event.date.strftime("%H:%M") %><% end%>" style="display:inline;">
                    <div class="input-prepend bfh-timepicker-toggle" data-toggle="bfh-timepicker">
                      <span class="add-on"><i class="icon-time"></i></span>
                      <input type="text" class="input-medium" readonly>
                    </div>
                    <div class="bfh-timepicker-popover">
                      <table class="table">
                        <tbody>
                        <tr>
                          <td class="hour">
                            <a class="next" href="#"><i class="icon-chevron-up deco-none"></i></a><br>
                            <input type="text" id="hourInput" class="input-mini mixedInput" readonly><br>
                            <a class="previous" href="#"><i class="icon-chevron-down deco-none"></i></a>
                          </td>
                          <td class="separator">:</td>
                          <td class="minute">
                            <a class="next" href="#"><i class="icon-chevron-up deco-none"></i></a><br>
                            <input type="text" id="minuteInput" class="input-mini mixedInput" readonly><br>
                            <a class="previous" href="#"><i class="icon-chevron-down deco-none"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

            <div>
              <div class="input-prepend date" id="dp6" data-date="01-01-2013" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
                <span class="add-on"><i class="icon-calendar"></i></span>
                <input type="text" id="dateEndInput" class="span2 mixedInput" value="<% if @event.date_end %><%= @event.date_end.strftime("%d-%m-%Y") %><% end%>" validation="required notBlank" placeholder="to">
              </div>
              <div class="bfh-timepicker" data-time="<% if @event.date_end %><%= @event.date_end.strftime("%H:%M") %><% end%>" style="display:inline;">
                <div class="input-prepend bfh-timepicker-toggle" data-toggle="bfh-timepicker">
                  <span class="add-on"><i class="icon-time"></i></span>
                  <input type="text" class="input-medium" readonly>
                </div>
                <div class="bfh-timepicker-popover">
                  <table class="table">
                    <tbody>
                    <tr>
                      <td class="hour">
                        <a class="next" href="#"><i class="icon-chevron-up deco-none"></i></a><br>
                        <input type="text" id="hourEndInput" class="input-mini mixedInput" readonly><br>
                        <a class="previous" href="#"><i class="icon-chevron-down deco-none"></i></a>
                      </td>
                      <td class="separator">:</td>
                      <td class="minute">
                        <a class="next" href="#"><i class="icon-chevron-up deco-none"></i></a><br>
                        <input type="text" id="minuteEndInput" class="input-mini mixedInput" readonly><br>
                        <a class="previous" href="#"><i class="icon-chevron-down deco-none"></i></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

                <div class="input-prepend">
                  <span class="add-on"><i class="icon-map-marker"></i></span>
                  <%= f.text_field :place, :placeholder => "Location", :id => "addresspicker_map"%>
                </div>
                <div style="width:500px;height:300px;margin-top:20px">
                  <div id="map_canvas" style="width: 100%; height: 100%; position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);"></div>
                  <div id="location" class=""></div>
                </div>
                <h4>Description</h4>
                <!--Description-->
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-pencil"></i></span>
                  <%= f.text_area :description, :class => "span5", :rows => "4", :placeholder => "Description" %>
                </div>
                <div style="display: none;">
                  <%= f.text_field :date, :id => "dateTimeInput" %>
                  <%= f.text_field :date_end, :id => "dateEndTimeInput" %>
                  <%= f.text_field :lat, :id => "latInput" %>
                  <%= f.text_field :lon, :id => "lonInput" %>
                </div>
                <%= f.hidden_field :imageurl, :value => @event.imageurl ? @event.imageurl : @user.profilepic %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <div class="actions">
                  <%= f.submit :class => "btn btn-success"%>
                </div>
            <%	 end %>
      </div><!--resume-->
    </div><!--span6 company-->
  <% end %>
  <!--end form-->
    
    <div class="box box-connect span3">
      <div class="box-content">
        <h4>Need Some Help?</h4>
        <ul class="sponsor-main">
          <li><i class="icon-star"></i> Only Premium users can create a company ¡Congrats!</li>
          <li><i class="icon-building"></i> Companies can create Events and have a lot of followers</li>
          <li><i class="icon-picture"></i> You can upload a main photo of the event and some pictures</li>
          <li><i class="icon-building"></i> You can list the main Sponsors and the companies who invites to the Event to promote them</li>
          <li class="divider"></li>
          <li><i class="icon-question-sign"></i> Need some help? Check out our <a href="about.html">FAQ</a> or <a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div><!--box-connect-->
  </div>
</div><!-- /.container -->

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="http://mngscl-10.s3-website-us-east-1.amazonaws.com/jquery-addresspicker-bootstrap/lib/bootstrap-typeahead.min.js"></script>
<script src="http://mngscl-10.s3-website-us-east-1.amazonaws.com/jquery-addresspicker-bootstrap/src/jquery.addresspicker.min.js"></script>
<script>
    !function ($) {
      $(function(){
        $('#dp5').datepicker();
        $('#dp6').datepicker();
        $('.container').mousedown(function(){
          $("#dateTimeInput").attr('value',$('#dateInput').val() + " " + $('#hourInput').val() + ":" +  $('#minuteInput').val() + ":00");
          $("#dateEndTimeInput").attr('value',$('#dateEndInput').val() + " " + $('#hourEndInput').val() + ":" +  $('#minuteEndInput').val() + ":00");
        });
        
        var form;
        form = $(".new_event");
        form.validation();
      })
    }(window.jQuery);
</script>
<script>
    (function($) {
        var addresspickerMap = $( "#addresspicker_map" ).addresspicker(
                {
                    regionBias: "de",
                    map:      "#map_canvas",
                    typeaheaddelay: 1000,
                    mapOptions: {
                        <% if @event.lat && @event.lon %>
                        <%= "zoom:15, center: new google.maps.LatLng(#{@event.lat},#{@event.lon})" %>
                        <% else %>
                        <%= "zoom:10, center: new google.maps.LatLng(-33.468699,-70.641921)" %>
                        <% end %>
                    }
                });

        addresspickerMap.on("addressChanged", function(evt, address) {
            $("#latInput").attr('value', address.geometry.location.lat());
            $("#lonInput").attr('value', address.geometry.location.lng());
            console.dir(address);
        });
        addresspickerMap.on("positionChanged", function(evt, markerPosition) {
            markerPosition.getAddress( function(address) {
                if (address) {
                    $( "#addresspicker_map").val(address.formatted_address);
                }
            })
        });
    }(jQuery));
</script>