<%= stylesheet_link_tag    "profile" %>
<%= javascript_include_tag "application" %>

<div class="container">
  <div class="row">
    <div class="box box-media span3 event-single">
      <div class="img-polaroid">
        <i class="default-icon icon-picture icon-4x">
          <a href="#imageModal" role="button" data-toggle="modal" class="btn btn-success btn-small">
            <i class="icon-arrow-up"></i> Upload a photo
          </a>
        </i>
      </div>

      <!-- Modal -->
      <div id="imageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel"><i class="icon-camera"></i> Upload Photos</h3>
        </div>
        <div class="modal-body">

          <div class="btn-group">
            <button class="btn btn-success">Browse</button>
            <button class="btn"><i class="icon-link"></i> URL</button>
          </div>
          <input class="span3" type="text" placeholder="http://">
          <img class="preview" src="img/company-1.gif" />
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="btn btn-primary btn-success"><i class="icon-arrow-up"></i> Upload</button>
        </div>
      </div>


      <div class="event-info">


      </div><!--event info-->

    </div><!--box-media-->

    <div class="profileInfo relative span9">
      <div class="user">
        <h2>New Event</h2>
        <p>Created by <a href="#">Company Name</a></p>
      </div><!--user-->
    </div><!-- /profileInfo -->

    <div class="box box-info span6 company">
      <div class="resume">
        <!--begin form-->

        <%= form_for(@event) do |f| %>
            <% if @event.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

                  <ul>
                    <% @event.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <% if signed_in? %>
                <h4>General Information</h4>
                <!-- Event Name -->
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-circle"></i></span>
                  <%= f.text_field :name, :placeholder => "Event Name"%>
                </div>

                <div class="input-prepend date" id="dp5" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
                  <span class="add-on"><i class="icon-calendar"></i></span>
                  <%= text_field_tag :date, "12-02-2012", :class => "span2"%>
                </div>

                <div class="input-prepend">
                  <span class="add-on"><i class="icon-map-marker"></i></span>
                  <%= f.text_field :place, :placeholder => "Location"%>
                </div>
                <h4>Description</h4>
                <!--Description-->
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-pencil"></i></span>
                  <%= f.text_area :description, :class => "span5", :rows => "4", :placeholder => "Description" %>
                </div>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <h4>Sponsors</h4>
                <!-- Sponsors -->
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-building"></i></span>
                  <input type="text" placeholder="Company Name">
                </div>
                <h5>Also invites</h5>
                <!-- Other Sponsors -->
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-building"></i></span>
                  <input type="text" placeholder="Company Name">
                </div>
                <div class="actions">
                  <%= f.submit :class => "btn btn-success"%>
                </div>

            <%	 end %>
        <% end %>

        <!--end form-->
      </div><!--resume-->
    </div><!--span6 company-->

    <div class="box box-connect span3">
      <div class="box-content">
        <h4>Need Some Help?</h4>
        <ul class="sponsor-main">
          <li><i class="icon-star"></i> Only Premium users can create a company ¡Congrats!</li>
          <li><i class="icon-building"></i> Companies can create Events and have a lot of followers</li>
          <li><i class="icon-picture"></i> You can upload a main photo of the event and some pictures</li>
          <li><i class="icon-building"></i> You can list the main Sponsors and the companies who invites to the Event to promote them</li>
          <li class="divider"></li>
          <li><i class="icon-question-sign"></i> Need some help? Check out our <a href="about.html">FAQ</a> or <a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div><!--box-connect-->

  </div>

</div><!-- /.container -->

<script>
    !function ($) {
        $(function(){
            $('#dp5').datepicker()
        })
    }(window.jQuery)
</script>