<%	 if params[:page] %>
    <%	 if params[:page].to_i > 1 %>
        <%=	 link_to "Previous week", '/events?page=' + (params[:page].to_i - 1).to_s, :class => "previous_page", :rel => "prev"  %>
        <%=  @date.strftime("%m/%d") %> - <%= @date.next_week.strftime("%m/%d")  %>
        <%=	 link_to "Next week", '/events?page=' + (params[:page].to_i + 1).to_s, :class => "next_page", :rel => "next" %>
    <%	 elsif params[:page].to_i == 1 %>
        <%=	 link_to "Previous week", '/events', :class => "previous_page", :rel => "prev"  %>
        <%=  @date.strftime("%m/%d") %> - <%= @date.next_week.strftime("%m/%d")  %>
        <%=	 link_to "Next week", '/events?page=' + (params[:page].to_i + 1).to_s, :class => "next_page", :rel => "next" %>
    <%	 else %>
        <span class="previous_page disabled">Previous week</span>
        <%=  @date.strftime("%m/%d") %> - <%= @date.next_week.strftime("%m/%d")  %>
        <%=	 link_to "Next week", '/events?page=' + (params[:page].to_i + 1).to_s, :class => "next_page", :rel => "next" %>
    <%	 end %>
<% else %>
    <span class="previous_page disabled">Previous week</span>
    <%=  @date.strftime("%m/%d") %> - <%= @date.next_week.strftime("%m/%d")  %>
    <%=	 link_to "Next week", '/events?page=' + (params[:page].to_i + 1).to_s, :class => "next_page", :rel => "next" %>
<% end %>

<%	 7.times do |i| %>
    <h4><%=  @date.strftime("%A, %d %B %Y") %></h4>
    <table class="table table-bordered event-table">
      <!--<thead><tr>
          <th>bla</th>
      <tr></thead>-->
      <tbody>
      <%  @eventsToday = @nextevents.detect{|ne| ne.date.to_date == @date.to_date} %>
      <%  if @eventsToday %>
        <%  @eventsToday = Array.new.push(@eventsToday) %>
        <%  @eventsToday.each do |nextevent| %>
            <% if @date.to_date == nextevent.date.to_date %>
                <tr>
                    <%=	 render nextevent %>
                </tr>
            <%  end %>
        <%	 end %>
      <% else %>
        No events programmed for today.
      <% end %>
      </tbody>
    </table>
    <%	 @date = @date.tomorrow %>
<%	 end %>


