<%= javascript_include_tag "application" %>
<%=	 provide(:title, "Events")%>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "slide-01.jpg", :alt => "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Check out this week's events!
            <!-- <span class="date">February 1st</span> -->
          </h1>
          <!-- <p>Invites <b>Sponsor</b></p> -->
        </div>
      </div>
    </div>
    <div class="item">
      <%=  image_tag 'slide-02.jpg', :alt => "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Join upcoming events!
            <!-- <span class="date">February 1st</span> -->
          </h1>
          <!-- <p>Invites <b>Sponsor</b></p> -->
        </div>
      </div>
    </div>
    <div class="item">
      <%=	 image_tag 'slide-03.jpg', :alt => "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Check out past events!
            <!-- <span class="date">February 1st</span> -->
          </h1>
          <!-- <p>Invites <b>Sponsor</b></p> -->
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <% if current_user.isSponsor %>

      <%= link_to 'New Event', 'events/new', :class => "btn btn-primary btn-large"%>

  <% end %>


<div id="filtered-events">
  <%= render 'weekly' %>
</div>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<iframe src="http://twitter.github.com/bootstrap/assets/js/Carousel Template · Bootstrap.htm" frameborder="0" style="border: 0px; visibility: visible; z-index: 2147483647; position: fixed; width: 100%; left: 0px; bottom: 0px; height: 300px; display: none;" id="FirebugUI"></iframe>

<script>
    !function ($) {
        $(function(){
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>
