<%= javascript_include_tag "application" %>
<%=	 provide(:title, "Events")%>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "slide-01.jpg", :alt => "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Name of the Event 1<span class="date">February 1st</span></h1>
          <p>Invites <b>Sponsor</b></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%=  image_tag 'slide-02.jpg', :alt => "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Name of the Event 2<span class="date">February 2nd</span></h1>
          <p>Invites <b>Sponsor</b></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%=	 image_tag 'slide-03.jpg', :alt => "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Name of the Event 3<span class="date">February 3rd</span></h1>
          <p>Invites <b>Sponsor</b></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->

  <%= link_to 'New Event', 'events/new', :class => "btn btn-primary btn-large"%>

  <div class="accordion" id="accordion2"> <!--filtro-->
    <div class="accordion-group events-filter">
      <div class="accordion-heading btn btn-primary btn-small pull-right">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Filter by <span class="caret"></span>
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="row">
            <%=	 form_for @filters do |f| %>
                <div class="span3">
                  <h5>Sports</h5>
                  <input class="span3" type="text" placeholder="Type a Sport" data-provide="typeahead" data-source= '<%= @sports_list %>' data-items="4">
                </div><!--span-->
                <div class="span3">
                  <h5>Order by</h5>
                  <select class="span3">
                    <option>Week</option>
                    <option>Month</option>
                  </select>
                </div><!--span-->
                <div class="span3">
                  <h5>Location</h5>
                  <input class="span3" type="text" placeholder="Type a Location">
                </div><!--span-->
            <%	 end %>
          </div><!--row-->
          <div class="group pull-right">
            <div class="pull-right">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Cancel</a>
              <a class="btn btn-primary">Find</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--termina filtro accordion-->


<div id="filtered-events">
  <%= render 'weekly' %>
</div>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<script>
    $("[rel=popover]").popover()
</script>
<iframe src="http://twitter.github.com/bootstrap/assets/js/Carousel Template · Bootstrap.htm" frameborder="0" style="border: 0px; visibility: visible; z-index: 2147483647; position: fixed; width: 100%; left: 0px; bottom: 0px; height: 300px; display: none;" id="FirebugUI"></iframe>

<script>
    !function ($) {
        $(function(){
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>
