<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= best_in_place @event, :user_id %>
</p>

<p>
  <b>Date:</b>
  <%= best_in_place @event, :date %>
</p>

<p>
  <b>Description:</b>
  <%= best_in_place @event, :description, :type => :input %>
</p>

<%	 if signed_in? %>
    <%= link_to 'Join this event!', join_path, confirm: 'Are you sure?' %>
    <% if @event.user_id == current_user.id %>
        <%=	 form_tag(:controller => "events", :action => "new_admin") do%>
            <%=	 text_field_tag(:email) %>
            <%=	 submit_tag "Submit" %>
        <% end %>
    <% end %>
<%	 end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
