<%= javascript_include_tag "application" %>

<!-- GLOBAL_TAGS test -->
<%= form_tag({:controller => 'users', :action => 'add_user_tag'}, :id => "userTagsForm") do  %>
    <ul class="tags-textbox" id="iam">
      <li><input type="text" id="tags_user_iam" class="tags pull-left" placeholder="I'm a...(max 2)"></li>
    </ul>
    <ul class="tags-textbox" id="looking">
      <li><input type="text" id="tags_user_looking" class="tags pull-left" placeholder="What I'm looking for? (max 2)"></li>
    </ul>
    <ul class="tags-textbox" id="interest">
      <li><input type="text" id="tags_user_interest" class="tags pull-left" placeholder="Areas of interest (max 4)"></li>
    </ul>
    <ul class="tags-textbox" id="division">
      <li><input type="text" id="tags_user_division" class="tags pull-left" placeholder="Division of interest"></li>
    </ul>
    <input type="hidden" name="tags[user_id]" value="<%= current_user.id if signed_in? %>">
    <input role="button" type="submit" class="btn btn-success" value="send tags">
<% end %>

<h1>Listing tags</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Tag ID1</th>
    <th>Tag ID2</th>
    <th>Type1</th>
    <th>Type2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.id %></td>
        <td><%= tag.id1 %></td>
        <td><%= tag.id2 %></td>
        <td><%= tag.type1 %></td>
        <td><%= tag.type2 %></td>
        <td></td>
      </tr>
  <% end %>
</table>

<br />

<script>
    $(document).ready(function() {
        //GLOBAL_TAGS_IAM
        $( "#tags_user_iam" )
                .bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).data( "ui-autocomplete" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .on( "click", function( event ) {
                    $(this).autocomplete("search", "");
                })
                .autocomplete({
                    source: tagsUserIamArray,
                    minLength: 0,
                    messages: {
                        noResults: '',
                        results: function() {}
                    } ,
                    select: function( event, ui ) {
                        $("#iam").append('<span style="margin-right: 2px; display: inline;" class="label label-info pull-left">' + ui.item.label + ' <input type="hidden" name="tags[iam][]" value="' + ui.item.value + '"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
                        $("#tags_user_iam").attr("value", "");
                        return false;
                    } ,
                    focus: function( event, ui ) {
                        return false;
                    }
                });

        <% if current_user.tags("GLOBAL_TAGS_IAM") && current_user.tags("GLOBAL_TAGS_IAM").length > 0 %>
            <% current_user.tags("GLOBAL_TAGS_IAM").each do |tag|%>
                $(document).find("#iam").append('<span style="margin-right: 2px; display: inline;" class="label label-info pull-left"><%= GLOBAL_TAGS_IAM[tag.to_i] %> <input type="hidden" name="tags[iam][]" value="<%= tag.to_i %>"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
            <% end %>
        <% end %>


        //GLOBAL_TAGS_LOOKING
        $( "#tags_user_looking" )
                .bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).data( "ui-autocomplete" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .on( "click", function( event ) {
                    $(this).autocomplete("search", "");
                })
                .autocomplete({
                    source: tagsUserLookingArray,
                    minLength: 0,
                    messages: {
                        noResults: '',
                        results: function() {}
                    } ,
                    select: function( event, ui ) {
                        $("#looking").append('<span style="margin-right: 2px; display: inline;" class="label label-success pull-left">' + ui.item.label + ' <input type="hidden" name="tags[looking][]" value="' + ui.item.value + '"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
                        $("#tags_user_looking").attr("value", "");
                        return false;
                    } ,
                    focus: function( event, ui ) {
                        return false;
                    }
                });

        <% if current_user.tags("GLOBAL_TAGS_LOOKING") && current_user.tags("GLOBAL_TAGS_LOOKING").length > 0 %>
            <% current_user.tags("GLOBAL_TAGS_LOOKING").each do |tag|%>
                $(document).find("#looking").append('<span style="margin-right: 2px; display: inline;" class="label label-success pull-left"><%= GLOBAL_TAGS_LOOKING[tag.to_i] %> <input type="hidden" name="tags[looking][]" value="<%= tag.to_i %>"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
            <% end %>
        <% end %>


        //GLOBAL_TAGS_INTEREST
        $( "#tags_user_interest" )
                .bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).data( "ui-autocomplete" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .on( "click", function( event ) {
                    $(this).autocomplete("search", "");
                })
                .autocomplete({
                    source: tagsUserInterestArray,
                    minLength: 0,
                    messages: {
                        noResults: '',
                        results: function() {}
                    } ,
                    select: function( event, ui ) {
                        $("#interest").append('<span style="margin-right: 2px; display: inline;" class="label label-warning pull-left">' + ui.item.label + ' <input type="hidden" name="tags[interest][]" value="' + ui.item.value + '"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
                        $("#tags_user_interest").attr("value", "");
                        return false;
                    } ,
                    focus: function( event, ui ) {
                        return false;
                    }
                });

        <% if current_user.tags("GLOBAL_TAGS_INTEREST") && current_user.tags("GLOBAL_TAGS_INTEREST").length > 0 %>
            <% current_user.tags("GLOBAL_TAGS_INTEREST").each do |tag|%>
                $(document).find("#interest").append('<span style="margin-right: 2px; display: inline;" class="label label-warning pull-left"><%= GLOBAL_TAGS_INTEREST[tag.to_i] %> <input type="hidden" name="tags[interest][]" value="<%= tag.to_i %>"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
            <% end %>
        <% end %>


        //GLOBAL_TAGS_DIVISION
        $( "#tags_user_division" )
                .bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).data( "ui-autocomplete" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .on( "click", function( event ) {
                    $(this).autocomplete("search", "");
                })
                .autocomplete({
                    source: tagsUserDivisionArray,
                    minLength: 0,
                    messages: {
                        noResults: '',
                        results: function() {}
                    } ,
                    select: function( event, ui ) {
                        $("#division").append('<span style="margin-right: 2px; display: inline;" class="label label-important pull-left">' + ui.item.label + ' <input type="hidden" name="tags[division][]" value="' + ui.item.value + '"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
                        $("#tags_user_division").attr("value", "");
                        return false;
                    } ,
                    focus: function( event, ui ) {
                        return false;
                    }
                });

        <% if current_user.tags("GLOBAL_TAGS_DIVISION") && current_user.tags("GLOBAL_TAGS_DIVISION").length > 0 %>
            <% current_user.tags("GLOBAL_TAGS_DIVISION").each do |tag|%>
                $(document).find("#division").append('<span style="margin-right: 2px; display: inline;" class="label label-important pull-left"><%= GLOBAL_TAGS_DIVISION[tag.to_i] %> <input type="hidden" name="tags[division][]" value="<%= tag.to_i %>"><button style="float: none;" type="button" class="close" aria-hidden="true">×</button></span>');
            <% end %>
        <% end %>

        $("#userTagsForm").delegate(".close", "click", function () {
            $(this).closest('span.label').remove();
        });

    });
    var tagsUserIamArray = <%= GLOBAL_TAGS_IAM.map{|p| {:label=>p[1], :value=>p[0]}}.to_json.html_safe %>;
    var tagsUserLookingArray = <%= GLOBAL_TAGS_LOOKING.map{|p| {:label=>p[1], :value=>p[0]}}.to_json.html_safe %>;
    var tagsUserInterestArray = <%= GLOBAL_TAGS_INTEREST.map{|p| {:label=>p[1], :value=>p[0]}}.to_json.html_safe %>;
    var tagsUserDivisionArray = <%= GLOBAL_TAGS_DIVISION.map{|p| {:label=>p[1], :value=>p[0]}}.to_json.html_safe %>;

</script>