<%= javascript_include_tag "photos" %>

<div id="photoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-camera"></i> Upload Photos</h3>
  </div>
  <div class="modal-body">
    <% if signed_in? %>

        <div class="fileupload fileupload-new" data-provides="fileupload">
            <% unless @photo.blank? %>
                <%= form_for @photo, :html => {:multipart => true, :accept => "image/gif,image/png,image/jpg"} do |f| %>
                    <fieldset>
                      
                      <div class="btn-group">
                        <span id="btn-upload" class="btn btn-file">
                          <span class="fileupload-new">Browse</span>
                          <span class="fileupload-exists">Change</span>
                          <input type="file" name="photo[file]" id="photo_file" accept="image/*"/>
                        </span>
                        <a class="btn" id="btn-photo-1" data-toggle="button"><i class="icon-link"></i> URL</a>
                      </div>
                      
                      <div class="alert alert-error hide">
                        ...
                      </div>
                      
                      <%= f.text_field :url, :placeholder => "http://", :id => "photo-link-input", :class => "span3" %>
                      <%= f.hidden_field :title, :value => "Title" %>
                      <%= f.hidden_field :user_id, :value => @user.isSponsor && current_user.isAdmin? ? @user.id : current_user.id %>
                      <%= f.hidden_field :sport_id, :value => 1 %>
                      <%= f.hidden_field :click_source, :value => "false" %>

                      <div style="height: 240px">
                        <div class="event-pictures fileupload-preview fileupload-exists thumbnail" style="height: 230px; width: 350px; margin: 0 auto;"></div>
                        <div class="event-pictures fileupload-new thumbnail" style="width: 350px; height: 230px; margin: 0 auto;"><img id="image-upload-input" src="" /></div>
                        <a class="close fileupload-exists" data-dismiss="fileupload" aria-hidden="true">×</a>
                      </div>
                    </br>
                    <%= f.text_area :comment, :placeholder => "Write a description", :rows => "2", :class => "span4" %>
                    </fieldset>
              <%  end %>
          <% end%>
        </div>

    <% else %>
        <p>You must be logged in to upload photos!</p>
    <% end %>
  </div>
  <div class="modal-footer">

    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="photo-submit" class="btn btn-primary">Upload</button>

  </div>
  
  <script>
    $(function(){
      $("#upload-input").hide();
      $("#photo-link-input").hide();

      $("#btn-upload").click(function(){
        $("#photo-link-input").val("").hide('fast');
        $(".alert").text("...").hide('fast');
      });

        $('#changePicBtn').click(function(){
            $('#photo_click_source').attr('value', "true");
        });
        $('#btn-photo').click(function(){
            $('#photo_click_source').attr('value', "false");
        });

      $('#btn-photo-1').click(function(){
        $("#photo-link-input").show('fast');
        $(".alert").text("...").hide('fast');
        $("#new_photo input[name='photo[file]']").val("").change();
      });
      
      $('#photo-submit').click(function(){
        if( $("#new_photo input[name='photo[file]']").val() == "" && $("#photo-link-input").val() == "" ) {
          $(".alert").text("You must select a valid image file!").show("fast");
          return false;
        }
        else if( $("#new_photo input[name='photo[file]']").val() != "" && validImageExt( $("#new_photo input[name='photo[file]']").val() ) == false ) {
          $(".alert").text("You must select a valid image file!").show("fast");
          return false;
        }
        else if(  $("#photo-link-input").val() != "" && validUrl( $("#photo-link-input").val() ) == false ){
          $(".alert").text("You must enter a valid URL!").show("fast");
          return false;
        }
        
        $("#new_photo").submit();
      });
    });
  </script>
  
</div>