<%= javascript_include_tag "application" %>

<h1>Listing photos</h1>

<table>
  <tr>
    <th>Photo ID</th>
    <th>Title</th>
    <th>URL</th>
    <th>Comment</th>
    <th>User ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.id %></td>
        <td><%= photo.title %></td>
        <td><%= photo.url %></td>
        <td><%= photo.comment %></td>
        <td><%= photo.user_id %></td>
        <td><%= link_to 'Delete', photo, :method => :delete, :confirm => "Are you sure ?"%></td>
      </tr>
  <% end %>
</table>

<br />
