<h1>Listing photos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>Comment</th>
    <th>User ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @photos.find (52).destroy %>

  <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.url %></td>
        <td><%= photo.comment %></td>
        <td><%= photo.user_id %></td>
        <td><%= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />
