<ul class="experience">

  <li><h5><i class="icon-bookmark icon-large"></i><%= education.name %></h5></li>
  <% if education.degree %>
      <li><h5><i class="icon-book icon-large"></i><%= education.degree %></h5></li>
  <% end %>
  <% if education.rank %>
      <li><h5><i class="icon-star"></i><span>Rank:</span> <%= education.rank %></h5></li>
  <% end %>
  <% if education.gda %>
      <li><h5><i class="icon-ok"></i><span>GPA:</span> <%= education.gda %></h5></li>
  <% end %>
  <li><i class="icon-map-marker"></i><%= education.location %>, <%= education.career %></li>
  <li class="calendar"><i class="icon-calendar"></i><%= education.init.strftime("%B %Y") %> to <%= education.end.strftime("%B %Y") %></li>

</ul>