<%= form_tag({:controller => 'users', :action => 'add_new_educational'}, :id => 'new-educational-profile-entry') do  %>

    <fieldset>
      <%= hidden_field_tag :user_id, current_user.id %>
      <div id="divHighSchool-educational" class="hiddenDiv input-prepend">
        <p>
          <span class="add-on"><i class="icon-book"></i></span>
          <%= text_field_tag :highschool_name, nil, :placeholder => "High School Name" %>
          <%= select_tag :rank, options_for_select([["Rank 1", 1], ["Rank 2", 2], ["Rank 3", 3]]) %>
        </p>
        <span class="add-on"><i class="icon-book"></i></span>
        <%=	text_field_tag :gda, nil, :placeholder => "GDA" %>
        <%=	text_field_tag :ncaa, nil, :placeholder => "NCAA" %>
      </div>

      <div id="divSchool-educational" class="hiddenDiv input-prepend">
        <p>
          <span class="add-on"><i class="icon-briefcase"></i></span>
          <%= text_field_tag :school_name, nil, :placeholder => "School Name" %>
          <%=	text_field_tag :career, nil, :placeholder => "Career" %>
        </p>
        <span class="add-on"><i class="icon-briefcase"></i></span>
        <%=	text_field_tag :degree, nil, :placeholder => "Degree" %>
      </div>

      <p>
      <div id="divLocation-educational" class="input-prepend">
        <span class="add-on"><i class="icon-map-marker"></i></span>
        <div class="input-append input-prepend">
          <%= text_field_tag :country, nil, :placeholder => "Country" %>
        </div>
        <%= text_field_tag :city, nil, :placeholder => "City" %>
      </div>

      <div id="divDate-educational" class="input-prepend">
        <div class="input-prepend date" id="dp7" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
          <span class="add-on"><i class="icon-calendar"></i></span>
          <%= text_field_tag :init, "12-02-2012", :class => "span2"%>
        </div>
        <div class="input-prepend date" id="dp8" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode = "years">
          <span class="add-on"><i class="icon-calendar"></i></span>
          <%= text_field_tag :end, "12-02-2012", :class => "span2" %>
        </div>
      </div>
      </p>

      <div id="divDes-working" class="hiddenDiv input-prepend">
        <span class="add-on"><i class="icon-pencil"></i></span>
        <textarea rows="3"></textarea>
      </div>


      <script>
          !function ($) {
              $(function(){
                  $('#dp7').datepicker()
                  $('#dp8').datepicker()
              })
          }(window.jQuery)
      </script>
    </fieldset>
    <button type="submit" class="pull-right btn btn-success"><b>Add</b></button>
    <div class="clearfix"></div>
<%  end %>