<% if @educationType == 1 %>
    <%=	 form_for @education do |f| %>
        <fieldset>
          <legend>Educational School</legend>
          <%=   f.text_field :name, :placeholder => "Name" %>
          <label>Country</label>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span>
            <%= f.select :country_id, [["Chile", 1], ["USA", 2]] %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span>
            <%=	 f.text_field :location, :placeholder => "Location" %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <p><%=	 f.date_select :init %></p>
            <p><%=	 f.date_select :end %></p>
          </div>
          <label class="checkbox">
            <input type="checkbox"> Currently here
          </label>
          <%= f.submit "Add School Education", :class => "btn" %>
        </fieldset>
    <% end %>
<% elsif @educationType == 2 %>
    <%=	 form_for @education do |f| %>
        <fieldset>
          <legend>High School</legend>
          <%=   f.text_field :name, :placeholder => "Name" %>
          <label>Class Rank</label>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <%= f.select :rank, [["Rank 1", 1], ["Rank 2", 2], ["Rank 3"], 3] %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <%=	 f.text_field :gda, :placeholder => "GDA" %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <%=	 f.text_field :ncaa, :placeholder => "NCAA" %>
          </div>
          <label>Country</label>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span>
            <%= f.select :country_id, [["Chile", 1], ["USA", 2]] %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span>
            <%=	 f.text_field :location, :placeholder => "Location" %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <p><%=	 f.date_select :init %></p>
            <p><%=	 f.date_select :end %></p>
          </div>
          <label class="checkbox">
            <input type="checkbox"> Currently here
          </label>
          <%= f.submit "Add High School Education", :class => "btn" %>
        </fieldset>
    <% end %>
<% elsif @educationType == 3 %>
    <%=	 form_for @education do |f| %>
        <fieldset>
          <legend>College</legend>
          <%=   f.text_field :name, :placeholder => "Name" %>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <%= f.text_field :degree, :placeholder => "Degree" %>
          </div>
          <label>Country</label>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span>
            <%= f.select :country_id, [["Chile", 1], ["USA", 2]] %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span>
            <%=	 f.text_field :location, :placeholder => "Location" %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <p><%=	 f.date_select :init %></p>
            <p><%=	 f.date_select :end %></p>
          </div>
          <label class="checkbox">
            <input type="checkbox"> Currently here
          </label>
          <%= f.submit "Add College Education", :class => "btn" %>
        </fieldset>
    <% end %>
<% else %>
    <%=	 form_for @education do |f| %>
        <fieldset>
          <legend>University</legend>
          <%=   f.text_field :name, :placeholder => "Name" %>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <%= f.text_field :career, :placeholder => "Career" %>
          </div>
          <label>Country</label>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span>
            <%= f.select :country_id, [["Chile", 1], ["USA", 2]] %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span>
            <%=	 f.text_field :location, :placeholder => "Location" %>
          </div>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <p><%=	 f.date_select :init %></p>
            <p><%=	 f.date_select :end %></p>
          </div>
          <label class="checkbox">
            <input type="checkbox"> Currently here
          </label>
          <%= f.submit "Add University Education", :class => "btn" %>
        </fieldset>
    <% end %>
<% end %>