<header>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

        <%= link_to (image_tag 'logo_header.png'), current_user, :class => "logo" %>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class=<%= current_page?(:controller => 'feed', :action => 'index') ? "active" : "" %>><%= link_to 'News', news_path %></li>
          <li class=<%= current_page?(:controller => 'events', :action => 'index') ? "active" : "" %>><%= link_to 'Events', '/events' %></li>
          <% if signed_in? %><li class=<%= current_page?(:controller => 'users', :action => 'social', :id => current_user.id) ? "active" : "" %>><%= link_to 'Contacts', social_path(current_user) %></li><% end %>

          <a href="/inbox" rel="tooltip" title="0 new messages" class="notifications" style="color: #666666; text-decoration: none;"
             <%= current_page?(:controller => 'messages', :action => 'inbox') ? "active" : "" %>>
            <i class="icon-envelope icon-white"></i>
          </a>


          <a href="#" data-toggle="dropdown" class="notifications" style="color: #666666; text-decoration: none;">
            <i class="icon-globe icon-white"></i>
          </a>
          <ul class="dropdown-menu">
            <%	 if @global_notifications %>
                <% @global_notifications.each do |notification| %>
                    <% if notification.not_type == "003" %>
                        <li><%= link_to User.find(notification.user2_id).full_name + " is now following you", User.find(notification.user2_id) %></li>
                    <% elsif notification.not_type == "104" %>
                        <li><%= link_to Event.find(notification.event_id).name + " has updated information", Event.find(notification.event_id) %></li>
                    <% end %>
                <% end %>
            <% end %>
          </ul>

        </ul>

        <div class="pull-right">
          <form class="navbar-form pull-left">
            <input type="text" class="search-query" placeholder="Search athletes, coaches or events">
          </form>
          <div class="btn-group username pull-right">
            <a class="btn" data-toggle="dropdown" href="#">
              <%= image_tag 'jock-navbar.png', :class => "img-polaroid" %>
              <% if signed_in? %><%= current_user.full_name %><% else %>User Name<% end %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Account: basic</a></li>
              <li><a href="#">Edit</a></li>
              <li><%= link_to 'Logout', signout_path %></li>
            </ul>
          </div>
        </div><!--pull-right-->
      </div><!--/.nav-collapse -->
    </div><!-- container -->
  </div><!-- navbar-inner -->
</div><!--navbar -->
</header>
