<header>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to (image_tag 'logo_header.png'), signed_in? ? news_path : root_path, :class => "logo" %>

      <div class="nav-collapse collapse">
        <% if signed_in?  %>
          
        <ul class="nav">
            <li class=<%= current_page?(:controller => 'users', :action => 'profile', :id => current_user.id) ? "active" : "" %>><%= link_to 'Profile', profile_path(current_user) %></li>
            <li class=<%= current_page?(:controller => 'users', :action => 'social', :id => current_user.id) ? "active" : "" %>><%= link_to 'Contacts', social_path(current_user) %></li>
            <li class=<%= current_page?(:controller => 'events', :action => 'index') ? "active" : "" %>><%= link_to 'Events', '/events' %></li>
            <li class=<%= current_page?(:controller => 'feed', :action => 'index') ? "active" : "" %>><%= link_to 'News', news_path %></li>
            
            <a href="/inbox" rel="tooltip" title="<%= current_user.unread_messages.count %> new messages" class="notifications" style="color: #666666; text-decoration: none;"
                <%= current_page?(:controller => 'messages', :action => 'inbox') ? "active" : "" %>>
              <i class="icon-envelope icon-white"></i><% if current_user.unread_messages.count > 0 %><span style="color: red;"> (<%= current_user.unread_messages.count %>)</span><% end %>
            </a>
            
            <a id="notifications-button" class="notifications" style="color: #666666; text-decoration: none; cursor: pointer;" href="/profile/<%= current_user.id %>/read_all" data-remote="true">
              <i class="icon-globe icon-white"></i><% if current_user.new_notifications_count > 0 %> <span style="color: red;"> (<%= current_user.new_notifications_count %>)</span><% end %>
            </a>
            
            <div class="popover fade bottom in" id="notifications-pop" style="display: none; top: 40px; left: 261px;">
              <%= render 'layouts/notifications' %>
            </div>
        </ul>

        <div class="pull-right">
          <form action="/search" method="post" class="navbar-form pull-left">
            <input type="text" name="query" class="search-query" placeholder="Search users or institutions">
          </form>
          <div class="btn-group username pull-right">

            <%	if signed_in?  %>
            <a class="btn" href=<%=  profile_path(current_user) %>>
              <%= image_tag current_user.profilepic %>
              <%= current_user.full_name %>
            </a>
            
            <a class="btn" data-toggle="dropdown" href="#">
              <i class="icon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
            <% if current_user.isAdmin? %>
              <li><%= link_to 'Create institution', new_sponsor_path %></li>
            <% end %>
            <% if current_user.administerUser.any? %>
              <li class="admin">Administer institutions...</li>
              <% current_user.administerUser.each do |user| %>
              <li class="admin_user">
                <%= link_to profile_path(user) do %>
                  <%= image_tag user.profilepic, :class => "pull-left" %>
                  <%= user.full_name %>
                <% end %>
              </li>
              <% end %>
            <% end %>
              <li><%= link_to 'Settings', settings_path %>
              <li><%= link_to 'Log Out', signout_path %></li>
            </ul>
            
            <%	else  %>
                <a class="btn" href="#">
                  <%= image_tag 'jock-navbar.png', :class => "img-polaroid" %>
                  User Name
                </a>
            <%	end  %>
            
          </div>
        </div><!--pull-right-->
        
        <% end %>
        
      </div><!--/.nav-collapse -->
    </div><!-- container -->
  </div><!-- navbar-inner -->
</div><!--navbar -->
</header>
