<!DOCTYPE html>
<html>
<head>
  <title>Let's Jock - <%= yield(:title) %></title>
  <% if @home %>
      <%= stylesheet_link_tag    "home" %>
  <% else %>
      <%= stylesheet_link_tag    "http://twitter.github.io/bootstrap/assets/css/bootstrap.css" %>
      <%= stylesheet_link_tag    "http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" %>
      <%= stylesheet_link_tag    "application"%>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<%	 if !@home %>
    <%=	 render 'layouts/header' %>
<%	 end %>

<%= yield %>

<%	 if !@home %>
    <%=	 render 'layouts/footer' %>
<%	 end %>
</body>
</html>
